{% extends "starts_eu/pages/page.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags staticfiles pages_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
        {% trans "Open Calls" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block main %}
    <div class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}">
        <div class="container">
            {# Same title style than CustomPage content #}
            <div class="row">
                <div class="col-sm-16 col-md-12 col-md-push-2 tac"></div>
            </div>
            <div class="row">
                <h2 style="text-align: center;">
                    Events
                </h2>
            </div>
            {% if open_calls %}
                <div class="row">
                    <div class="col-sm-16 col-md-12 col-md-push-2 tac">
                        <h1 class="section-title section-title--uppercase section-title--main">{% trans "Open Calls" %}</h1>

                    </div>
                </div>
                <div class="row">
                    <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                        <div class="page__content">
                            {% for event in open_calls %}
                                {% include 'starts_eu/agenda/includes/event_linecard.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if closed_calls %}
                <div class="row">
                    <div class="col-sm-16 col-md-12 col-md-push-2 tac">
                        <h1 class="section-title section-title--uppercase section-title--main">{% trans "Closed Calls" %}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                        <div class="page__content">
                            {% for event in closed_calls %}
                                {% include 'starts_eu/agenda/includes/event_linecard.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
