<p>Thank you for applying for the Vertigo Call for Projects and your interest in hosting an artist.</p>
<p>With the submission of data and documents about your project, you declare, that you are allowed to establish a cooperation with an artist funded by the Vertigo project.</p>
<p>We will keep you informed about the further project selection process.</p>

{# You submitted the following data:#}

<p>If you wish to change the information or would like to add further information, please send an email containing the new information to <a href="mailto:vertigo@iuk.fraunhofer.de">vertigo@iuk.fraunhofer.de</a>.</p>

<p>Best regards,<br>
The VERTIGO team
</p>

<p>http://vertigo.starts.eu</p>
