{% extends "starts_eu/pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags %}

{% block meta_title %}{{ article.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for article as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ article.description }}
{% endmetablock %}{% endblock %}

{% block page_class %}
    article
{% endblock %}

{% block body_class %}
    {% if department_weaving_css_class %}
        pattern pattern-bg {{ department_weaving_css_class }}
    {% endif %}
{% endblock %}

{% block page_title %}

    <div class="row">
        <div class="col-sm-16 col-md-12 col-md-push-2 tac"></div>
    </div>
    {% editable article.title %}
        <h1 class="section-title section-title--uppercase section-title--main">{{ article.title }}</h1>
    {% endeditable %}

    {% if article.sub_title %}
        {% editable article.sub_title %}
            <div class="chapo">
                {{ article.sub_title }}
            </div>
        {% endeditable %}
    {% endif %}

{% endblock %}

{% block page_content %}

    {% if article.content %}
      {% editable article.content %}
        {{ article.content|richtext_filters|safe }}
      {% endeditable %}
    {% endif %}

{% endblock %}

{% block page_slider %}
  {% with article.images.all|get_type:'page_slider' as slider_images %}
    {% if slider_images %}
      {% include 'core/inc/slider.html' %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block page_audio %}
    {{ block.super }}
{% endblock %}

{% block page_video %}
    {{ block.super }}
{% endblock %}

{% block page_person_list %}
    {% for article_custom_person_list_block_inline in article.article_person_list_block_inlines.all  %}
      {% with article_custom_person_list_block_inline.person_list_block as person_list_block %}
        {% with "network/inc/person/list_"|add:person_list_block.style|add:"_style.html" as template %}
          {% include template %}
        {% endwith %}
      {% endwith %}
    {% endfor %}
{% endblock %}

{% block page_related_content %}
    {% include "core/inc/related_content_dynamic.html" with concrete_objects=related_content object=article %}
{% endblock %}

{% block page_sidebar %}

    <div class="page__meta" data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="1171">
        <div class="page__meta-title">
            {% trans 'Publish date' %}
        </div>
        {% editable article.publish_date %}
            <div class="page__meta-text">
                {{ article.publish_date|date:"DATE_FORMAT" }}
            </div>
        {% endeditable %}

        <div class="page__meta-separator">

        </div>

        {% if article.categories.all|length > 0 %}
            <div class="page__meta-title">
                {% for category in article.categories.all %}
                    {% if not forloop.first %}, {% endif %}
                    <strong>{{ category }}</strong>
                {% endfor %}
            </div>
        {% endif %}

        {% with article as object %}
            <div class="mt2">
                {% include "includes/share_buttons.html" %}
            </div>
        {% endwith %}
    </div>

{% endblock %}
