{% extends "pages/page.html" %}
{% load i18n mezzanine_tags keyword_tags pages_tags organization_tags %}

{% block meta_title %}{% trans "Jobs" %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ job_offer.description }}
{% endmetablock %}{% endblock %}

{% block page_class %}
    job_offer
{% endblock %}

{% block page_title %}
  <h1 class="dotted">{% trans "Jobs" %}</h1>
{% endblock %}

{% block page_content %}

    {% if job_offer %}

        {% for jo in job_offer %}
            {% include "job/inc/job_offer_card.html" %}
        {% endfor %}

    {% else %}

        <p>{% trans "Please come back later. There is no job offer at the moment." %}</p>

    {% endif %}

{% endblock %}
