{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags %}


{% block page_title %}

    {% editable project.title %}
        <h1 class="dotted">{{ project.title }}</h1>
    {% endeditable %}

{% endblock %}

{% block page_content %}
  {% if project.description %}
    {{ project.description }}
  {% endif %}

  {% if project.content %}
    {{ project.content|richtext_filters|safe }}
  {% endif %}
{% endblock %}

{% block page_audio %}
  {% with project.audios.all as audios %}
    {% if audios %}
      {% include 'core/inc/audio.html' %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block page_slider %}
  {% with project.images.all|get_type:'page_slider' as slider_images %}
    {% if slider_images %}
      {% include 'core/inc/slider.html' %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block page_video %}
    {% with project.videos.all as videos %}
      {% if videos %}
        {% include 'core/inc/video.html' %}
      {% endif %}
    {% endwith %}
{% endblock %}

{% block page_sub_content %}
    {% with project.blocks.all as blocks %}
      {% include "core/inc/block.html" %}
    {% endwith %}
{% endblock %}

{% block page_related_content %}
<div>
  <div>
    {% trans "Project details" %}<br>
    
    {% if project.program %}
      {% trans "Program" %} {{ project.program }}<br>
    {% endif %}

    {% if project.program_type %}
      {% trans "Program type" %} {{ project.program_type }}<br>
    {% endif %}

    {% trans "Beginning" %} {{ project.date_from }}<br>
    {% trans "End" %} {{ project.date_to }}<br>
    {% trans "Status" %} {{ project.project_status }}<br>

    {% if project.website %}
      {% trans "Website" %} {{ project.website }}<br>
    {% endif %}

    {% with project.images.all|get_type:'logo' as images %}
      {% include 'core/inc/logo.html' %}
    {% endwith %}
  </div>
  <div>
    {% trans "Participants" %}<br>

    {% if project.lead_team %}
      {% trans "Project lead team"%} {{ project.lead_team }}<br>
    {% endif %}

    {% trans "Partners" %}

    {% for team in project.teams.all %}
      {{ team }}<br>
    {% endfor %}
    {% for organization in project.organizations.all %}
      {{ organization }}<br>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block logo %}
{% for organization in project.organizations.all %}
  {% with organization.images.all|get_type:'logo' as images %}
    {% include 'core/inc/logo.html' %}
  {% endwith %}
{% endfor %}
{% endblock %}
