$module: ".instagram";

#{$module} {

    &__item {

        display: block;
        float: left;
        width: 33.33%;

        img {
            width: 100%;
        }

        span {

            display: none;

        }

    }

}
