$module: ".tweets";

#{$module} {

    list-style-type: none;
    margin: 0;
    padding: 0;

    &__tweet {

        @include margin-bottom(1);
        width: 50%;
        display: inline-block;
        font-size: 0;

        @include mq($until: sm) {
            width: 100%;
        }

    }

    &__tweet-image {

        width: 100%;
        border-radius: 10px;

    }

    &__tweet-content {

        text-align: left;

    }

    &__tweet-author {

        margin: 0;
        @include margin-bottom(.5);
        color: $color-black;
        @include typeface(serif);
        @include font-size(m);
        font-weight: weight(bold);

        a {
            display: inline-block;
            @include margin-left(.5);
            color: $color-black;

            &:hover {
                color: $color-main;
            }
        }

        span {
            display: inline-block;
            @include margin-left(.5);
            font-weight: weight(light);
        }

    }

    &__tweet-body {

        @include padding-left(.5);
        @include typeface(serif);
        @include font-size(m);
        font-weight: weight(light);
        a {
            display: inline-block;
            @include margin-right(.25);
            color: $color-black;
            font-weight: weight(regular);

            &:hover {
                color: $color-main;
            }
        }

    }

}
