{% load i18n mezzanine_tags keyword_tags pages_tags organization_tags %}
{% if blocks %}
    <div class="pb2">
        {% for block in blocks %}
            {% if block.content %}
                {% if block.with_separator %}
                    <hr />
                {% endif %}
                <div class="page__block{% if block.background_color %} page__block--{{ block.background_color }}{% endif %}">
                    <div class="container">
                        <div class="row" data-summary-content>
                            <div class="col-sm-16 col-md-12 col-md-push-2">
                                {% editable block.title %}
                                    <div class="page__block-title">
                                        <h2 class="">{{ block.title }}</h2>
                                    </div>
                                {% endeditable %}
                                {% if block.description %}
                                    <div class="chapo">
                                        {% editable block.description %}
                                            {{ block.description }}
                                        {% endeditable %}
                                    </div>
                                {% endif %}
                                {% if block.content %}
                                    {% editable block.content %}
                                        {{ block.content|richtext_filters|safe }}
                                    {% endeditable %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
