{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

<a class="article-box" href="{% block url %}{% endblock %}" {% block target %}{% endblock %} title="{% block metatitle %}{% endblock %}">
    <div class="article-box__header">

        {% block image %}
        {% endblock %}

        {% block btn %}
        {% endblock %}

    </div>

    <div class="article-box__content tal">
        <div class="article-box__tags">
            {% block tags %}
            {% endblock %}
        </div>
        <div class="article-box__title">
            {% block title %}
            {% endblock %}
        </div>
        <div class="article-box__subtitle">
            {% block subtitle %}
            {% endblock %}
        </div>
        <div class="article-box__desc">
             {% block content %}
             {% endblock %}
        </div>
    </div>

</a>
