{% load i18n mezzanine_tags keyword_tags organization_tags pages_tags %}

{% if dynamic_content.event|length > 0 %}

<div class="container">
    <div class="row tac">
        <div class="col-xs-16">
            <h2 class="section-title section-title--underline section-title--uppercase section-title--main">{% trans "Linked events" %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-md-push-2">
            {% for content in dynamic_content.event %}
                {% with event=content.content_object %}
                    {% include 'agenda/includes/event_linecard.html' %}
                {% endwith %}
            {% endfor %}
        </div>

    </div>
</div>

{% endif %}

{% if dynamic_content.other|length > 0 %}
    <div class="pb2">
        <div class="container">
            <div class="row tac">
                <div class="col-xs-16">
                    <h2 class="section-title section-title--underline section-title--uppercase section-title--main">{% if object.related_title.title %}{{ object.related_title.title }}{% else %}{% trans "Also discover" %}{% endif %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-14 col-md-push-1 col-lg-12 col-lg-push-2">
                    <div data-slider-related>

                        {% for content in dynamic_content.other %}
                            {% if forloop.counter0 == 0 or forloop.counter|divisibleby:3 %}
                                <div class="container">
                                    <div class="row-12">
                            {% endif %}
                                <div class="col-xs-4">
                                    {% if content.content_type.model == "article" %}
                                        {% include "magazine/article/includes/article_card.html" with object=content.content_object  %}
                                    {% elif content.content_type.model == "event" %}
                                        {% include "agenda/event/includes/event_card.html" with object=content.content_object %}
                                    {% elif content.content_type.model == "custompage" %}
                                        {% include "pages/page/includes/page_card.html" with object=content.content_object %}
                                    {% endif %}
                                </div>
                            {% if forloop.last or forloop.counter|divisibleby:2 %}
                                </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endif %}
