$module: ".page";

#{$module} {

    &__sidebar {

        @include mq($until: sm) {
            background: white;
        }

    }

    &__slider {

    background: white;

        @include padding-top(3);
        @include padding-bottom(3);

        @include mq($until: sm) {
            @include padding-top(1);
        }

    }

    &__meta {

        @include margin-bottom(2);

    }

    &__meta-separator {

        height: 1px;
        background: black;
        width: 45px;

        @include margin(1 0);

    }

    &__meta-date {

        @include font-size(l);
        @include line-height(1);
        @include typeface(serif);
        font-weight: weight(heavy);

    }

    &__meta-title {

        @include font-size(l);
        @include line-height(1);
        @include typeface(serif);
        font-weight: weight(heavy);

    }

    hr + #{$module}__block--yellow {

        @include margin-top(-2);

    }

    hr + #{$module}__block--black {

        @include margin-top(-2);

    }

    &__block {

        @include padding-bottom(1);
        background-color: white;

        &--yellow {

            background-color: $color-main;
            @include padding-top(2);
            @include padding-bottom(2);
            @include margin(2 0 0 0);

            h2:first-child {
                margin-top: 0;
            }

            & + hr {
                margin-top: 1px;
            }

            & + .page__block {
                @include margin-top(2);
            }

            a:not(.button) {

        		position: relative;
        		z-index: 1;
        		text-decoration: underline;
                @include transition(all 0.15s ease-in-out);

        		&:after {
        			display: none;
        		}

        	}

        }

        &--black {

            background-color: $color-black;
            color: white;
            @include padding-top(2);
            @include padding-bottom(2);
            @include margin(2 0 0 0);

            a:not(.button) {

                color: white;
        		position: relative;
        		z-index: 1;
        		text-decoration: underline;
                @include transition(all 0.15s ease-in-out);

        		&:after {
        			display: none;
        		}

        	}

            h2:first-child {
                margin-top: 0;
            }

            & + hr {
                margin-top: 1px;
            }

            & + .page__block {
                @include margin-top(2);
            }

        }

        &--red {

            background-color: red;
            color: white;
            @include padding-top(2);
            @include padding-bottom(2);
            @include margin(2 0);

            h2:first-child {
                margin-top: 0;
            }

        }

        p:last-child {

            margin-bottom: 0;

        }

    }

}
