$module: ".pattern";

#{$module}-bg {

    position: relative;

    &:after {
        content: "";
        background-repeat: repeat;
        background-position: top left;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }


    &--circles {
        &:after {
            background-image: url(../img/patterns/circles.png);
        }
    }

    &--squares {
        &:after {
            background-image: url(../img/patterns/squares.png);
        }
    }

    &--stripes {
        &:after {
            background-image: url(../img/patterns/stripes.png);
        }
    }

    &--triangles {
        &:after {
            background-image: url(../img/patterns/triangles.png);
        }
    }

}

#{$module}-over {

    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: repeat;
        background-position: top left;
        opacity: 0.2;
    }

    &--circles {
        &:after {
            background-image: url(../img/patterns/circles.png);
        }
    }

    &--squares {
        &:after {
            background-image: url(../img/patterns/squares.png);
        }
    }

    &--stripes {
        &:after {
            background-image: url(../img/patterns/stripes.png);
        }
    }

    &--triangles {
        &:after {
            background-image: url(../img/patterns/triangles.png);
        }
    }

}
