$module: ".tag";

#{$module} {

    display: inline-block;
    background: white;

    @include font-size(l);
    @include line-height(1.4);
    @include typeface(sans-serif);
    font-weight: weight(regular);

    &--small {
        @include font-size(s);
        @include line-height(1);
        @include padding-right(.5);
    }

    &--xsmall {
        @include font-size(xs);
        @include line-height(1);
        @include padding-right(.25);
    }

    &--category {
        background: black;
        color: white;

        @include padding-left(.5);
        @include padding-right(.5);
    }

    /*& + #{$module} {
        margin-left: -0.25em;
    }*/

}
