{% extends "projects/project/includes/generic_project_card.html" %}
{% load mezzanine_tags staticfiles keyword_tags i18n organization_tags pages_tags %}

{% block extra_head %}

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/list_items.css" %}">
    {% endcompress %}

{% endblock %}

{% block metatitle %}
    {{ object.title }}
{% endblock %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block url %}
    {{ object.get_absolute_url }}
{% endblock %}
{% block image %}
    {% if object.public_data.all.0.image %}
        <figure class="list_image">
            {% if object.public_data.all.0.imageIsPanoramic %}
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ MEDIA_URL }}{% thumbnail object.public_data.all.0.image 427 0 padding=true %}" class="lazyload" />
            {% else %}
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ MEDIA_URL }}{% thumbnail object.public_data.all.0.image 0 286 padding=true %}" class="lazyload" />
            {% endif %}
        </figure>
    {% endif %}
{% endblock %}

{% block content %}
    {{ object.public_data.all.0.brief_description|richtext_filters|safe|truncatechars_html:200 }}
{% endblock %}

{% block subtitle %}
    {{ object.sub_title }}
{% endblock %}
