{% load mezzanine_tags keyword_tags i18n organization_tags %}
{% for media in home.dynamic_content_home_media.all|slice:":3" %}
    <div class="col-xs-3">
        <div class="home__shutter-item">
            <h2>{{ media.content_object.title }}</h2>
            {% if media.content_object.description %}
                <p>{{ media.content_object.description|truncatechars:100 }}</p>
            {% endif %}
            {% if media.content_object.poster_url %}
                <img src="{% thumbnail media.content_object.poster_url 203 140 %}">
            {% endif %}
            {% if media.content_type.model == 'video' %}
                <a href="{# media.content_object.get_absolute_url #}" title="">{% trans 'See the video' %}</a>
            {% elif media.content_type.model == 'audio' %}
                <a href="{# media.content_object.get_absolute_url #}" title="">{% trans 'Hear the sound' %}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
