{% load mezzanine_tags keyword_tags i18n organization_tags %}

{% for media in playlist.medias.all %}
    {% if forloop.first %}
        <div class="embed-responsive">
        	<video width="100%" poster="{{ media.poster_url }}" controls data-title="{{ media.title }}" preload="none">
                {% for transcoded_media in media.transcoded.all %}
        	       <source src="{{ transcoded_media.url }}" type="{{ transcoded_media.mime_type }}" />
                {% endfor %}
        	</video>
        </div>
        <ol>
    {% else %}
        <li><a href="#" data-src="{{ media.url }}">>{{ media.title }}</a></li>
    {% endif %}
    {% if forloop.last %}
        </ol>
    {% endif %}
{% endfor %}
