{% extends "pages/page.html" %}
{% load i18n mezzanine_tags keyword_tags pages_tags organization_tags %}

{% block meta_title %}{% trans "Network" %}{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ organization.description }}
    {% endmetablock %}
{% endblock %}

{% block page_class %}
    organization
{% endblock %}

{% block page_title %}
    <h1 class="dotted">{% trans "Network" %}</h1>
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{% trans "Network" %}</li>
{% endblock %}

{% block page_slider %}

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-md-10 col-md-push-1">
                <!-- list organization types dynamically functions of activated organization -->
                {{ organization_types }}
                <div class="map" id="network-map" style="width: 100%; height: 550px;">

                </div>

                <div class="slider-network">

                    <ul class="slider-network__slider" data-slider-network>

                        {% for organization in organizations %}

                            <li class="slider-network__slide" data-marker-idx="{{forloop.counter0}}" data-marker-lat="{{ organization.lat }}" data-marker-lng="{{ organization.lon }}">
                                <div class="slider-network__slide-image"

                                    {% with organization.images.all|get_type:'logo' as images %}
                                        {% if images %}
                                            style="background-image: url('{{ MEDIA_URL }}{{images.first.file}}');"
                                        {% endif %}
                                    {% endwith %}

                                >
                                </div>
                                <div class="slider-network__slide-title">
                                    {{ organization.name }}
                                </div>
                                <div class="slider-network__slide-subtitle">
                                    {{ organization.city }}, {{ organization.country.name }}
                                </div>
                                <div class="">
                                    {{ organization.type }}, {{ organization.type.css_class }}
                                </div>
                            </li>

                            {% comment %}
                                {{ organization.name }}<br>
                                {{ organization.lat }}<br>
                                {{ organization.lon }}<br>
                                {{ organization.city }}<br>
                                {{ organization.country.name }}<br>

                                <!-- optional -->
                                {% with organization.links|get_type_link:'link' as links %}
                                    {% if links %}
                                        {{ links.first }}
                                    {% endif %}
                                {% endwith %}
                                <br>
                                <!-- optional -->
                                {% with organization.images.all|get_type:'logo' as images %}
                                    {% if images %}
                                        <img src="{{ MEDIA_URL }}{% thumbnail images.first.file 100 0 left=0 top=0 %}" alt="logo {{ organization.name }}" />
                                    {% endif %}
                                {% endwith %}
                                <br><br>
                            {% endcomment %}

                        {% endfor %}

                    </ul>

                    <div class="lSAction"><a class="lSPrev"></a><a class="lSNext"></a></div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
