{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}{{ person.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for person as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block page_class %}
    person
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ person }}</li>
{% endblock %}

{% block page_title %}
    {% editable person.title %}
        <h1 class="section-title section-title--big section-title--uppercase section-title--main">{{ person.title }}</h1>
    {% endeditable %}

    {% with person.images.all|get_type:'page_featured' as card_images %}
        {% if card_images %}
            <div class="page__image-container">
                <img style="width:100%;" class="lazyload" src="{{ MEDIA_URL }}{% thumbnail card_images.first 1030 400 top=0.5 %}" alt="person"/>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_content %}
    {% editable person.bio %}
        {{ person.bio|richtext_filters|safe }}
    {% endeditable %}

    {% if not person.email and person.activities.all and person.activities.all.0.teams.all %}<p><strong>{% trans 'Email' %} :</strong> {{ person_email }}</p>{% elif person.email %}<p><strong>{% trans 'Email' %} :</strong> {{ person.email|unspam }}</p>{% endif %}

    {% with person.activities.all as activities %}
      {% if activities %}
        {# <h2 class="dotted">{% trans 'Activities' %}</h2>#}
        <ul class="unstyled-list">
          {% with activities.0 as activity %}
            <li class="mb1">
                {% with activity.teams.all as teams %}
                 {% with activity.organizations.all|is_not_host as organizations %}
                  {% with activity.employers.all|is_not_host as employers %}
                    {% if teams %}
                        <strong>{% trans 'Team' %} : </strong>
                        {% for team in teams %}
                            <a href="{% url "page" team.pages.all.0 %}">{{ team.name }}</a>
                            {% if organizations %}({% for organization in organizations %}{{ organization.name }}{% if not forloop.last %}, {% endif %}{% endfor %})
                            {% elif employers %}({% for employer in employers %}{{ employer.name }}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
                            <br />
                        {% endfor %}
                    {% endif %}
                   {% endwith %}
                  {% endwith %}
                {% endwith %}
            </li>
          {% endwith %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>{% trans 'Related Events' %}</h2>
    {% for event in related.event %}
        {{ event }}<br>
    {% endfor %}

    <h2>{% trans 'Related Content' %}</h2>
    {% for other in related.other %}
        {{ other }}<br>
    {% endfor %}

{% endblock %}

{% block page_sidebar %}
    <div class="" data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="971">
        {% include "includes/share_buttons.html" %}
    </div>
{% endblock %}

{% block page_link %}
    {% with person.links.all as links %}
        {% if links %}
            <h3>{% trans 'Links' %}</h3>
            {% include 'core/inc/link.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}
