$color-facebook: #306199;
$color-linkedin: #007bb6;
$color-twitter: #26c4f1;
$color-googleplus: #e93f2e;
$color-tumblr: #32506d;
$color-pinterest: #b81621;
$color-instagram: #517fa4;
$color-vine: #00bf8f;
$color-soundcloud: #f50;
$color-vimeo: #4bf;
$color-youtube: #bb0000;

$color-main: #F8E71C;
$color-gray: #C3C3C3;
$color-black: #1D1D1B;
