// Layout

$header-pre-height: 34px;
$header-height: 78px;

// Home

$home-slider-height: 760px;

// Brief box

$brief-box-background: #5F5F5E;
$brief-box-background-head: #868686;
$brief-box-color-head: #000000;
$brief-box-color: #FFFFFF;
