{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}

<div class="hero">

    <div class="Background">
        <canvas class="Background-canvas"></canvas>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-xs-7 col-xs-push-1 hero__left">
                <img src="{% static "img/vertigo/hero-left.png" %}" />
                <img class="hero__date" src="{% static "img/vertigo/hero-left-date.png" %}" />
            </div>

            <div class="col-xs-7 col-xs-push-1 hero__right">
                <img src="{% static "img/vertigo/hero-right.png" %}" />

                <p>

                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-16">

                <div class="hero__logo">
                    <img src="{% static "img/vertigo/hero-logo.png" %}" />
                </div>

            </div>

        </div>

        <div class="hero__title">
            <img src="{% static "img/vertigo/hero-title.png" %}" />
        </div>

    </div>

</div>
