{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}

<div class="hero hero--small">

    <div class="Background">
        <canvas class="Background-canvas"></canvas>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-xs-16">

                <div class="hero__logo">
                    <img src="{% static "img/vertigo/hero-logo.png" %}" />
                </div>

            </div>

        </div>

    </div>

</div>
