<div class="page__block page__block--yellow hide-xxs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-10 col-lg-push-1 ffss fsxl fwl lh2">
                <strong>L'Ircam, Institut de Recherche et Coordination Acoustique/Musique</strong> est aujourd’hui l’un des plus grands centres de recherche publique au monde se consacrant à la création musicale et à la recherche scientifique. Lieu unique où convergent la prospective artistique et l’innovation scientifique et technologique, l’institut est dirigé par Frank Madlener, et réunit plus de cent soixante collaborateurs.
            </div>
        </div>
    </div>
</div>
