<div class="container">
    <div class="row">
        {% for content in home.dynamiccontenthomebody_set.all %}
            <div class="col-xs-4">
                {% if content.content_type.model == "brief" %}
                    {% include "magazine/brief/inc/brief_card.html" %}
                {% elif content.content_type.model == "article" %}
                    {% with content.content_object as article %}
                        {% include "magazine/article/includes/article_card.html" %}
                    {% endwith %}
                {% elif content.content_type.model == "event" %}
                    {% with content.content_object as event %}
                        {% include "agenda/includes/event_card.html" %}
                    {% endwith %}
                {% elif content.content_type.model == "custompage" %}
                    {% with content.content_object as page %}
                        {% include "pages/includes/page_card.html" %}
                    {% endwith %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
