{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

<a class="article-box" href="{{ body.content_object.get_absolute_url }}" title="{{ body.content_object.title }}">
    <div class="article-box__header">
        <figure class="article-box__image">
            {% with body.content_object.images.all|get_type:'card' as image %}
                {% if image %}
                    <img src="{{ MEDIA_URL }}{% thumbnail image.first.file 427 286 %}" data-src="{{ MEDIA_URL }}{% thumbnail images.0.file 427 286 %}" class="lazyload" alt="" />
                {% endif %}
            {% endwith %}
        </figure>
        {% if body.content_type.model == 'article' %}
            <div class="article-box__tags">
                <div class="tag tag--small tag--category">
                    {% trans 'News' %}
                </div>
                {% if body.content_object.department %}
                    <div class="tag tag--small dashed dashed--gray">
                      {{ body.content_object.department.name }}
                    </div>
                {% endif %}
            </div>
        {% elif body.content_type.model == 'event' %}
        <div class="article-box__tags">
            <div class="tag tag--small tag--category">
                {% if body.content_object.category %}
                    {{ body.content_object.category }}
                {% else %}
                    {% trans 'Event' %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="article-box__content tal">
        <h3 class="article-box__title">{{ body.content_object.title }}</h3>
        <div class="article-box__subtitle">
            {% if body.content_type.model == 'article' %}
                {{ body.content_object.publish_date|date:"DATE_FORMAT" }}
                {% for category in body.content_object.categories.all %}
                    {% if forloop.first %} | {% endif %}
                    {% if not forloop.first %}, {% endif %}
                    <strong>{{ category }}</strong>
                {% endfor %}
            {% elif body.content_type.model == 'event' %}
                {% if body.content_object.start %}
                    {% if body.content_object.end %}
                        {% trans "From" %}
                    {% endif %}
                    {{ body.content_object.start|date:"DATE_FORMAT" }}
                    {% if body.content_object.end %}
                        {% trans "to" %} {{ body.content_object.end|date:"DATE_FORMAT" }}
                    {% endif %}
                {% endif %}
                {% if body.content_object.location %}
                     <br /><strong>{{ body.content_object.location }}</strong>
                {% endif %}
            {% endif %}
        </div>
        <div class="article-box__desc">
             {{ body.content_object.description|richtext_filters|safe|truncatechars_html:200 }}
        </div>
    </div>
</a>
