{% load staticfiles  %}

<div class="container mb2">

    <div class="row">

        <div class="col-sm-6">

            <a class="banner banner--light" href="{% url 'event_list_tag' 'tournees' %}" style="background-image:url({% static 'img/services/tours.jpg' %});">

                <div class="banner__content">

                    <div class="banner__title fsxxxl">
                        Tournées {{ CURRENT_SEASON_STYLED }}
                    </div>
                    <div class="banner__desc fss">
                        Campo Santo, Songes et Métamorphoses, Providences, UM souverain moteur de toutes choses...
                    </div>

                </div>

            </a>

        </div>

        <div class="col-sm-6">

            <a class="banner banner--light" href="http://ulysses-network.eu/web/home/" target="_blank" style="background-image:url({% static 'img/services/applications.jpg' %});">

                <div class="banner__content">

                    <div class="banner__title fsxxl">
                        Appel à candidatures 2017
                    </div>
                    <div class="banner__desc fss">
                        Cursus de composition et d'informatique musicale, Résidence en recherche artistique, ManiFeste-2017 l'académie
                    </div>

                </div>

            </a>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">

            <a class="banner banner--colored banner--orange banner--dark" href="http://medias.ircam.fr/" target="_blank" style="background-image:url({% static 'img/services/resources.jpg' %});">

                <div class="banner__content">

                    <div class="banner__title fsxxxl">
                        Les ressources Ircam
                    </div>
                    <div class="banner__desc fss">
                        Archives audiovisuelles et sonores, base de documentation sur la musique contemporaine (base BRAHMS), catalogue d'œuvres...
                    </div>

                </div>

            </a>

        </div>

        <div class="col-sm-3">

            <a class="banner banner--colored banner--blue banner--light" href="http://forumnet.ircam.fr/fr/" target="_blank" style="background-image:url({% static 'img/services/forumnet.jpg' %});">

                <div class="banner__content">

                    <div class="banner__title fsxxl">
                        Forumnet
                    </div>
                    <div class="banner__desc fss">
                        Communauté d'utilisateurs des logiciels Ircam
                    </div>

                </div>

            </a>

        </div>

        <div class="col-sm-3">

            <a class="banner banner--colored banner--green banner--light" href="http://community.ulysses-network.eu/" target="_blank" style="background-image:url({% static 'img/services/ulysses.jpg' %});">

                <div class="banner__content">

                    <div class="banner__title fsxxl">
                        Ulysses Community
                    </div>
                    <div class="banner__desc fss">
                        Réseau européen pour la promotion et le soutien de la jeune création musicale contemporaine
                    </div>

                </div>

            </a>

        </div>

    </div>


</div>
