setuptools
uwsgi
watchdog
mysqlclient
psycopg2
pyquery
humanize
Django==1.9.7
mezzanine==4.2.0
django-modeltranslation
django-meta
django-bower
django-debug-toolbar
django-extensions
django-countries
django-querysetsequence
django-autocomplete-light
ipython
cartridge
xlrd
