-e git+https://github.com/yomguy/mezzanine-agenda.git#egg=mezzanine-agenda-0.2.2
-e git+https://github.com/yomguy/mezzanine.git@jquery#egg=mezzanine-4.2-dev
-e git+https://github.com/yomguy/grappelli-safe.git@dynamic_stacked#egg=grappelli-safe-0.4.2
-e git+https://github.com/yomguy/django-eve.git@dev#egg=django-eve-1.0
-e git+https://github.com/yomguy/django-prestashop.git@dev#egg=django-prestashop-1.0
