$module: ".header";

#{$module} {

    &__pre {

        background: $color-black;
        height: $header-pre-height;
        color: white;

    }

    &__nav {

        background: $color-white;

    }

}
