{% extends "pages/page.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.richtextpage.meta_title }}
    {% else %}
        {% trans "Events" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item">
        <a href="{% url 'event_list' %}" class="breadcrumb__link">{% trans "Agenda" %}</a>
    </li>
    {% if tag or location or month or week or author %}
        <li class="breadcrumb__item active">
            {% if tag %}
                {% trans "Tag:" %} {{ tag }}
            {% elif location %}
                {% trans "Location:" %} {{ location }}
            {% elif month %}
                {% if month %}{{ month }}, {% endif %}{{ year }}
            {% elif week %}
                {% for d in week|week_range:year %}
                    {{ d|date:"d M" }}{% if forloop.first %} - {% endif %}
                {% endfor %}
                , {{ year }}
            {% elif author %}
                {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
            {% endif %}
        </li>
    {% endif %}
{% endblock %}

{% block main %}
<div class="msry__container">
    <div class="msry__sizer">
        {% for event in events.object_list %}
         {% include 'agenda/includes/event_card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{# <a href='{% icalendar_url %}' target="_blank" class="small  push-ical">{% trans "Subscribe to all events in" %} Google Calendar/Outlook/iCal</a>#}

{% pagination_for events %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% block page_title %}
    <h1 class="dotted">
        {% if page %}
            {{ page.richtextpage.meta_title }}
        {% else %}
            {% trans "Agenda" %}
        {% endif %}
    </h1>
{% endblock %}
