{% extends "pages/page.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags event_tags organization_tags %}

{% block meta_title %}{{ event.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for event as tags %}
{% for tag in tags %}
    {% if not forloop.first %}, {% endif %}
    {{ tag }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ event.description }}
{% endmetablock %}{% endblock %}

{% block page_class %}
    event
{% endblock %}

{% block page_title %}
    {% editable event.title %}
        <h1 class="dotted">{{ event.title }}</h1>
    {% endeditable %}
    {% if event.sub_title %}
        {% editable event.sub_title %}
            <div class="chapo">
                {{ event.sub_title }}
            </div>
        {% endeditable %}
    {% endif %}
{% endblock %}

{% block page_tags %}
    {% if event.departments.all.0 %}
        <div class="tag dashed dashed--gray">
          {{ event.departments.all.0.department.name }}
        </div>
    {% endif %}
    <div class="tag tag--category">
        {% keywords_for event as tags %}
        {{tags.0}}
    </div>
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item">
        <a href="{% url 'event_list' %}" class="breadcrumb__link">{% trans "Agenda" %}</a>
    </li>
    <li class="breadcrumb__item active">{{ event.title }}</li>
{% endblock %}

{% block page_content %}

    {% block event_detail_content %}
        {% if event.content %}
            {% editable event.content %}
                {{ event.content|richtext_filters|safe }}
            {% endeditable %}
        {% else %}
            {% lorem 3 p %}
        {% endif %}
    {% endblock %}

    {% if event.brochure %}
        <p>
            <a href='{{ event.brochure.url }}' target="_blank" class="button">
                <i class="icon icon__file"></i>
                {% trans "Download" %} {% trans "the room program" %}
            </a>
        </p>
    {% endif %}

    {% comment %}
        {% if event.location %}
        <h3 class="section__title">Le lieu :</h3>
        {% block event_detail_location %}
        <a href="{% url 'location-detail' event.location.slug %}">{{ event.location }}</a>
        <p>
            <p>{{ event.location }} {{ event.location.address|linebreaksbr }}</p>
            <p>{% trans "Room" %} {{ event.location.room }}</p>
            <a href="{{ event|google_nav_url }}" target="_blank">
                Get Directions
            </a>
        </p>
        <a href="{{ event|google_nav_url }}" target="_blank" class="">
             {% google_static_map event 900 300 15 %}
        </a/>
        {% endblock %}
        {% endif %}

        {% block event_detail_keywords %}
        {% keywords_for event as tags %}
        {% if tags %}
        {% spaceless %}
        <ul class="list-inline tags">
            <li>{% trans "Tags" %}:</li>
            {% for tag in tags %}
            <li><a href="{% url "event_list_tag" tag.slug %}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endspaceless %}
        {% endif %}
        {% endblock %}

        {% block event_detail_rating %}
        <div class="panel panel-default rating">
            <div class="panel-body">
            {% rating_for event %}
            </div>
        </div>
        {% endblock %}
    {% endcomment %}

    {% block event_related %}
        {% if event.artists.all or event.videos.all or event.blog_posts.all %}
        <h2 class="section__title">{% trans "Also discover" %}</h2>
        <div class="msry__container">
         <div class="msry__sizer"></div>
        {% if event.artists.all %}
            {% for artist in event.artists.all %}
                {% include "festival/inc/artist_card.html" %}
            {% endfor %}
        {% endif %}
        {% if event.videos.all %}
            {% for video in event.videos.all %}
                {% include 'festival/inc/video_card.html' %}
            {% endfor %}
        {% endif %}
        {% if event.blog_posts.all %}
            {% for post in event.blog_posts.all %}
                {% include 'blog/includes/post_card.html' %}
            {% endfor %}
        {% endif %}
        </div>
        {% endif %}
    {% endblock %}

{% endblock %}

{% block page_link %}
    {% with event.links.all as links %}
        {% if links %}
            {% include 'core/inc/link.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_audio %}
    {% with event.audios.all as audios %}
        {% if audios %}
            {% include 'core/inc/audio.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_slider %}
    {% with event.images.all|get_type:'page_slider' as slider_images %}
        {% if slider_images %}
            {% include 'core/inc/slider.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_videos %}
    {% with event.videos.all as videos %}
        {% if videos %}
            {% include 'core/inc/slider_video.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_person_list %}
    {% for page_custom_person_list_block_inline in event.persons.all  %}
        <!-- TODO: Add persons -->
    {% endfor %}
{% endblock %}

{% block page_sub_content %}
    {% with event.blocks.all as blocks %}
        {% include "core/inc/block.html" %}
    {% endwith %}
{% endblock %}

{% block page_sidebar %}

    <div class="page__meta" data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="971">

        {% block event_detail_postedby %}
            {% editable event.start event.end event.location %}
                {% with True as unit_booking %}
                    {% include 'agenda/includes/event_metainfo.html' %}
                    {% for child in event.children.all %}
                        {% with child as event %}
                            {% include "agenda/includes/event_metainfo.html" %}
                        {% endwith %}
                    {% endfor %}
                {% endwith %}
            {% endeditable %}
        {% endblock %}

        {% if event.language %}
            <div class="page__meta-separator"></div>
            <p>
                {% trans "Language" %}: {{event.language}}
            </p>
        {% endif %}

        {% set_short_url_for event %}
        {% with event as object %}
            {% with True as is_event %}
                {% include "includes/share_buttons.html" %}
            {% endwith %}
        {% endwith %}
    </div>

{% endblock %}
