{% extends "base.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Locations" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{{ page.title }}
{% else %}
{% trans "Locations" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}

{% block main %}

<div id="tabs" class="c-tabs">
  <div class="c-tabs-nav">
    {% for location in object_list %}
        <a href="#" class="c-tabs-nav__link">{{ location.title }}</a>
    {% endfor %}
  </div>
  {% for location in object_list %}
      <div class="c-tab">
          <div class="c-tab__content">
              <h3 style="margin-top: 0;">{{ location.title }}</h3>
                  {% block event_detail_location %}
                  {% editable event.location %}
                  <p>
                      {{ location.address }}<br />
                      <a href="{{ location|google_nav_url }}" target="_blank" class="">
                          Get Directions
                      </a>
                  </p>
                  <a href="{{ location|google_nav_url }}" target="_blank" class="">
                  {% google_static_map location 900 300 15 %}
                  </a/>
                  {% endeditable %}
                  {% endblock %}
          </div>
      </div>
  {% endfor %}



{% endblock %}

{% block right_panel %}
{% include "agenda/includes/filter_panel.html" %}
{% endblock %}
