{% extends "pages/page.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.richtextpage.meta_title }}
    {% else %}
        {% trans "Events" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    {% if tag or location or month or week or author %}
        <li class="breadcrumb__item">
            <a href="{% url 'event_list' %}" class="breadcrumb__link">{% trans "Agenda" %}</a>
        </li>
        <li class="breadcrumb__item active">
            {% if tag %}
                {% trans "Tag:" %} {{ tag }}
            {% elif location %}
                {% trans "Location:" %} {{ location }}
            {% elif month %}
                {% if month %}{{ month }}, {% endif %}{{ year }}
            {% elif week %}
                {% for d in week|week_range:year %}
                    {{ d|date:"d M" }}{% if forloop.first %} - {% endif %}
                {% endfor %}
                , {{ year }}
            {% elif author %}
                {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
            {% endif %}
        </li>
    {% else %}
        <li class="breadcrumb__item active">
            {% trans "Agenda" %}
        </li>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}">

        <div class="container">

            <div class="row">

                <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2 white-bg">
                    <h1 class="dotted">
                        {% if page %}
                            {{ page.richtextpage.meta_title }}
                        {% else %}
                            {% trans "Agenda" %}
                        {% endif %}
                    </h1>

                    <div class="page__filters">
                        {% keywords_for mezzanine_agenda.event as tags %}
                        {% all_events as all_events %}
                        {% if tags %}
                            <a href="{% url 'event_list' %}" class="button{% if not tag %} button--black{% else %} button--white{% endif %}">{% trans "All events" %}</a>
                            {% for t in tags %}
                                <a href="{% url "event_list_tag" t.slug %}" class="button{% if tag == t %} button--black{% else %} button--white{% endif %}{% if t|tag_is_excluded %} button--excluded{% endif %}">
                                    {{ t }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-xs-12">

                    <div class="white-bg page__content">
                        <div class="container">
                            {% for event in events.object_list %}
                                {% include 'agenda/includes/event_linecard.html' %}
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>

        </div>

        {% pagination_for events %}

    </div>
{% endblock %}
