// ****************************************************************
// _Footers
// ****************************************************************


/**
 * Core
 */
.footer {
  background-color: $footer_background_color;
  padding: $base_font_size 0;
  @media (min-width : $desktop ) {
    padding: $base_font_size 1rem;
  }
}


/**
 * Utils
 */
.footer-logo {
  text-align: center;
  img {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
}

.footer-section-title {
  font-size: 1.3rem;
  font-weight: $bold;
  color: $footer_color;
}

.footer-section-item,
.footer-section-item a,
.footer-nav-item,
.footer-nav-item a,
.footer a {
  color: $footer_item_color;
}

.footer-nav-item {
  font-size: 80%;
}

.footer-legals {
  padding: 2rem 1rem;
}

.footer-legals p,
.footer-legals a {
  font-size: .75rem;
  text-align: center;
  font-family: $header_font_family;
  color: $black;
  text-transform: uppercase;
}

.footer-nav {
  text-align: center;
  @extend .clearfix;
}

.footer-nav-left {
  float: left;
}

.footer-nav-center {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.footer-nav-right {
  float: right;
}

/* _Theme
---------------------------------- */

.nav__footer {
  display: block;
  text-align: center;

  ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    @media (min-width : $desktop ) {
      padding: 0rem 1rem;
    }
  }

  &__item {
    width: 50%;
    @media (min-width : $tablet ) {
      width: 33%;
    }
    @media (min-width : $tablet ) {
      padding: 1rem;
      width: 25%;
    }
    @media (min-width : $desktop ) {
        width: auto;
    }

    &__link {
      padding: 1rem 0rem;
      display: block;
      @media (min-width : $tablet ) {
        padding: 1rem;
      }
      @media (min-width : $desktop ) {
        padding: .5rem;
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 1rem;
  }
}

.footer-partners {
  display: block;
  text-align: center;
  margin: 2rem auto;
  img {
    max-width: 40px;
    @media (min-width : $desktop ) {
      max-width: 60px;
    }
  }
}