$module: ".section-title";

#{$module} {

    @include typeface(sans-serif);
    @include font-size(m);
    font-weight: weight(regular);

    text-align: center;
    color: black;
    display: inline-block;
    line-height: 1.5em;

    @include margin-bottom(4);
    @include margin-top(5);

    @include mq($until: md) {

        @include margin-bottom(1);
        @include margin-top(1.25);

        .page__slider & {
            @include margin-top(0);
        }

    }

    i {
        display: inline-block;
        @include margin-right(.5);
        @include transition(all 0.5s ease-in-out);
    }

    a {
        color: inherit;
        @include transition(all 0.5s ease-in-out);
        &:hover {
            color: $color-main;
            i {
                @include transform(translateX(-50%));
            }
        }
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--underline {
        border-bottom: 1px solid black;
    }

    &--dark {
        color: $color-background;
    }

    &--accent {
        border-color: $color-accent;
        &:before {
            color: $color-accent;
        }
    }

    &--main {
        border-color: $color-main;
        &:before {
            color: $color-main;
        }
    }

    &:before {
        content: '_';
        display: block;
        text-decoration: none !important;
        @include font-size(m);
        @include margin-bottom(.5);
    }

    &--big {

        color: $color-main;
        @include font-size(xxxl);
        text-transform: none;
        @include margin-bottom(1);

        &:before {
            display: none;
        }

    }

}
