$module: ".tweets";

#{$module} {

    list-style-type: none;
    margin: 0;
    padding: 0;

    &__tweet {

        @include margin-bottom(1);

    }

    &__tweet-image {

        width: 100%;
        border-radius: 10px;

    }

    &__tweet-content {

        text-align: left;

    }

    &__tweet-author {

        margin: 0;
        @include margin-bottom(.5);
        color: white;
        @include typeface(sans-serif);
        @include font-size(m);
        font-weight: weight(regular);

        a {
            display: inline-block;
            @include margin-left(.5);
            color: white;

            &:hover {
                color: $color-main;
            }
        }

        span {
            display: inline-block;
            @include margin-left(.5);
            font-weight: weight(light);
        }

    }

    &__tweet-body {

        @include typeface(sans-serif);
        @include font-size(m);
        font-weight: weight(light);
        a {
            display: inline-block;
            @include margin-right(.25);
            color: white;
            font-weight: weight(regular);

            &:hover {
                color: $color-main;
            }
        }

    }

}
