{% extends "vertigo_starts_eu/pages/page.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags staticfiles pages_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
        {% trans "Events" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block main %}
    <div class ="row residency-detail__margin-row">
            <div class="col-sm-16 col-md-12 event-line-box__center-buttons">
                <a id='event_news' class="button event-line-box__event-button event-line-box__underline-text-green active" href="/article/list">{% trans "News" %}</a>
                <a id='event_items' class="button event-line-box__event-button" href="/agenda">{% trans "Events" %}</a>
            </div>
    </div>

    <div>
        <div class="page__block event-line-box__block--white">
            <div class="container">
                <div class="row" data-summary-content>
                    <div class="col-sm-16 col-md-12 col-md-push-2 event-line-box__margin-paragraph-bottom">
                        <div class="event-line-box__text-event-paragraph event-line-box__dark-blue">
                            <h2 class="event-line-box__bold-text event-line-box__center-text">VERTIGO news</h2><br>
                            <div class="event-line-box__margins">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                                accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
