{% extends "vertigo_starts_eu/pages/page.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags staticfiles pages_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
        {% trans "Events" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block main %}

    <div class ="row residency-detail__margin-row">
            <div class="col-sm-16 col-md-12 event-line-box__center-buttons">
                <a id='event_news' class="button event-line-box__event-button" href="/article/list">{% trans "News" %}</a>
                <a id='event_items' class="button event-line-box__event-button event-line-box__underline-text-green active" href="/agenda">{% trans "Events" %}</a>
            </div>
    </div>

    <div>
        <div class="page__block event-line-box__block--white">
            <div class="container">
                <div class="row" data-summary-content>
                    <div class="col-sm-16 col-md-12 col-md-push-2 event-line-box__margin-paragraph-bottom">
                        <div class="event-line-box__text-event-paragraph event-line-box__dark-blue">
                            <h2 class="event-line-box__bold-text event-line-box__center-text">VERTIGO events</h2><br>
                            <div class="event-line-box__margins">
                                {% comment %}
                                    TODO: Fill with the Events description text
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-16 col-md-12 col-md-push-2 tac">
                        <h1 class="event-line-box__section-title section-title--uppercase section-title--main">{% trans "Upcoming Events" %}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                        <div class="page__content">
                            {% for event in events %}
                                {% include 'agenda/includes/event_linecard_hover.html' %}
                            {% empty %}
                                <p>No upcomming events found.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if past_events %}
                    <div class="row">
                        <div class="col-sm-16 col-md-12 col-md-push-2 tac">
                            <h1 class="event-line-box__section-title section-title--uppercase section-title--main">{% trans "Past events" %}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                            <div class="page__content">
                                {% for event in past_events %}
                                    {% include 'agenda/includes/event_linecard_hover.html' %}
                                {% empty %}
                                    <p>No past events found.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
