{% load mezzanine_tags keyword_tags i18n organization_tags %}

<div class="container">

    <div class="row">

        <div class="mb1 col-md-10 col-md-push-3 page__content" data-summary-content>

            <div class="embed-responsive">
                <video controls id="video-js-playlist" class="video-js vjs-ircam-skin" data-title="{{ media.title }}" {% if media.poster_url %}poster="{{ media.poster_url }}"{% endif %}>
                </video>
            </div>
            <ol class="video-playlist">
                {% spaceless %}
                    <li class="video-playlist__item{% if forloop.first %} playing{% endif %}"><a href="#" data-poster="{{media.poster_url }}" data-src="{% for transcoded in media.transcoded.all %}{% if forloop.first %}{% else %},{% endif %}{{ transcoded.url }}{% if forloop.last %}{% endif %}{% endfor %}" data-mime="{% for transcoded in media.transcoded.all %}{% if forloop.first %}{% else %},{% endif %}{{ transcoded.mime_type }}{% if forloop.last %}{% endif %}{% endfor %}"><span>{{ media.title }}</span></a></li>
                {% endspaceless %}
            </ol>

        </div>

    </div>

    <div class="row">

        <div class="col-md-3 page__sidebar">
            <div style="position: relative;">
                <div class="page__meta" data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="971">
                    <div class="page__meta-title">
                        {% trans 'Publish date' %}
                    </div>
                    {% editable media.publish_date %}
                        <div class="page__meta-text">
                            {{ media.publish_date|date:"DATE_FORMAT" }}
                        </div>
                    {% endeditable %}

                    {% with media as object %}
                        <div class="mt1">
                            <ul class="share-links">
                                <li class="share-links__item share-links__item--facebook">
                                    <a target="_blank" href="http://facebook.com/sharer.php?u={{ request.META.HTTP_HOST }}{{ request.scheme }}{{ '://'|urlencode }}{% url 'organization-media-detail' object|get_media_type|lower object.slug %}&amp;t={{ object.title|urlencode }}" title="{% trans "Share on Facebook" %}"><i class="fa fa-facebook-square"></i></a>
                                </li>
                                <li class="share-links__item share-links__item--twitter">
                                    <a target="_blank" href="http://twitter.com/home?status={{ object.title|urlencode }}%20{{ request.scheme }}{{ '://'|urlencode }}{{ request.META.HTTP_HOST }}{% url 'organization-media-detail' object|get_media_type|lower object.slug %}" title="{% trans "Share on Twitter" %}"><i class="fa fa-twitter-square"></i></a>
                                </li>
                                <li class="share-links__item share-links__item--email">
                                    <a href="mailto:?subject={{ object.title }}&amp;body={{ request.scheme }}{{ '://'|urlencode }}{{ request.META.HTTP_HOST }}{% url 'organization-media-detail' object|get_media_type|lower object.slug %}" title="{% trans "Share by email" %}"> <i class="fa fa-envelope-square"></i></a>
                                </li>
                            </ul>
                        </div>
                    {% endwith %}
                </div>
            </div>
        </div>

        <div class="col-sm-16 col-md-10 page__content" data-summary-content>

            <h2 class="mt0">{{ media.title }}</h2>
            {% if media.description %}
                <p>
                    {{ media.description }}
                </p>
            {% endif %}

        </div>

    </div>

</div>
