{% extends "pages/page.html" %}
{% load i18n mezzanine_tags keyword_tags pages_tags organization_tags %}

{% block meta_title %}{% trans "Timesheet" %}{% endblock %}

{% block page_class %}
    timesheet
{% endblock %}

{% block page_title %}
  <h1 class="dotted">{% trans "Timesheet" %} - {{ month|month_name }} {{ year }}</h1>
{% endblock %}

{% block page_content %}
    {% if formset.initial %}
    <form class="form" method="post" action="">
        {% csrf_token %}
        {% if formset.errors %}
            <ul class="messages">
            {% for dict in formset.errors %}
                {% for messages in dict.values %}
                    {% for message in messages %}
                        <li class="messages__item">{{ message }}</li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
        {{ formset.management_form }}
        {% for form in formset %}
            {% include "core/inc/messages.html" %}
            {{ form.as_p }}
            {% if not forloop.last %}
                <hr class="form-separator">
            {% endif %}
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
    {% else %}
        <p>You're not assigned to a project for the moment.</p>
    {% endif %}
{% endblock %}

{% block page_sidebar %}
    {% with user.person as person %}
        {% if person.images.all %}
            {% with person.images.all|get_type:'page_featured' as images %}
                {% if images.first %}
                    <figure class="person-list-box__image">
                        <img src="{{ MEDIA_URL }}{% thumbnail images.first 135 135 top=0.5 %}" alt="person"/>
                    </figure>
                {% endif %}
            {% endwith %}
        {% endif %}

        {% if user.email == person.email %}
            {{ block.super }}
        {% endif %}
    {% endwith %}
{% endblock %}
