{% extends "base.html" %}
{% load i18n mezzanine_tags keyword_tags organization_tags pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block main %}

    <div class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}">
        <div class="container">

            <div class="row">

                <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2">
                    {% block page_tags %}
                    {% endblock %}
                </div>

            </div>

            <div class="row">

                <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2 white-bg">
                    {% block page_title %}
                        {{ page.title }}
                    {% endblock %}
                </div>

            </div>

            <div class="row">

                <div class="col-sm-3 col-lg-2 page__sidebar">
                    {% block page_sidebar %}
                        {% if page.get_ascendants|length < 2 %}
                            {% page_menu "pages/menus/current_tree_primary.html" %}
                        {% endif %}
                        {% if page.get_ascendants|length == 2 %}
                            {% page_menu "pages/menus/current_tree_secondary.html" %}
                        {% endif %}
                    {% endblock %}
                </div>
                <div class="mb2 col-sm-9 col-lg-8 white-bg page__content" data-summary-content>
                    {% block page_content %}
                        {{ page.content }}
                    {% endblock %}
                    {% block page_link %}
                        {% with object.links.all as links %}
                            {% if links %}
                                {% include 'core/inc/link.html' %}
                            {% endif %}
                        {% endwith %}
                    {% endblock %}
                    {% block page_file %}
                        {% with object.files.all as files %}
                            {% if files %}
                                {% include 'core/inc/files.html' %}
                            {% endif %}
                        {% endwith %}
                    {% endblock %}
                    {% block page_audio %}
                        {% with object.audios.all as audios %}
                            {% if audios %}
                                {% include 'core/inc/audio.html' %}
                            {% endif %}
                        {% endwith %}
                    {% endblock %}
                </div>

            </div>

        </div>
        {% block page_slider %}
        {% with object.images.all|get_type:'page_slider' as slider_images %}
            {% if slider_images %}
                {% include 'core/inc/slider.html' %}
            {% endif %}
        {% endwith %}
        {% endblock %}
        {% block page_video %}
            {% with object.videos.all as videos %}
                {% if videos %}
                    {% include 'core/inc/slider_video.html' %}
                {% endif %}
            {% endwith %}
        {% endblock %}
        {% block page_person_list %}
        {% endblock %}
        {% block products %}
        {% endblock %}
        {% block page_sub_content %}
            {% with object.blocks.all as blocks %}
                {% include "core/inc/block.html" %}
            {% endwith %}
        {% endblock %}
        {% block page_related_content %}
        {% endblock %}
        {% block related_project %}
        {% endblock %}
        {% block logo %}
        {% endblock %}
    </div>
{% endblock %}
