{% extends "base.html" %}
{% load i18n mezzanine_tags keyword_tags featured_tags pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable page.title %}
        {{ page.title }}
    {% endeditable %}

    {% editable page.team.sub_title %}
        {{ page.team.sub_title }}
    {% endeditable %}
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2">
            {% editable page.team.title %}
                <h1 class="dotted">{{ page.team.title }}</h1>
            {% endeditable %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-lg-2">
            {% page_menu "pages/menus/current_tree_summary.html" %}
        </div>
        <div class="col-sm-9 col-lg-8">
            {% editable page.team.content %}
                {{ page.team.content|richtext_filters|safe }}
            {% endeditable %}
        </div>
    </div>

    {% for pageblock in page.team.pageblock_set.all %}
     <div class="row">
         {{ pageblock.content|richtext_filters|safe }}
    </div>
    {% endfor %}

{% endblock %}
