{% extends "pages/custompage.html" %}
{% load i18n mezzanine_tags keyword_tags  pages_tags organization_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block page_class %}
    department
{% endblock %}

{% block body_class %}
    {% with page.get_ascendants|last as top_level_parent %}
        {% if top_level_parent.get_content_model.weaving_css_class %}
        pattern pattern-bg {{ top_level_parent.get_content_model.weaving_css_class }}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_title %}
    {% editable page.teampage.title %}
        <h1 class="dotted">{{ page.teampage.title }}</h1>
    {% endeditable %}
{% endblock %}

{% block page_content %}

    {% if page.teampage.sub_title %}
        {% editable page.teampage.sub_title %}
            <div class="chapo">
                {{ page.teampage.sub_title }}
            </div>
        {% endeditable %}
    {% endif %}

    {% if page.teampage.content %}
     {% editable page.teampage.content %}
        {{ page.teampage.content|richtext_filters|safe }}
     {% endeditable %}
    {% else %}
        {% lorem 3 p %}
    {% endif %}

    {% if page.get_ascendants|length == 1 %}
        {% children_pages page.id as childrens %}
        {% if childrens %}
            <div class="page__childrens">
                {% for children in childrens %}
                    {% with children as object %}
                        {% include "pages/includes/page_card.html" %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block page_audio %}
  {% with page.teampage.audios.all as audios %}
    {% if audios %}
      {% include 'core/inc/audio.html' %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block page_slider %}
    {% with page.teampage.images.all|get_type:'page_slider' as slider_images %}
      {% if slider_images %}
        {% include 'core/inc/slider.html' %}
      {% endif %}
    {% endwith %}
{% endblock %}

{% block page_video %}
  {% with page.teampage.videos.all as videos %}
    {% if videos %}
      {% include 'core/inc/slider_video.html' %}
    {% endif %}
  {% endwith %}
{% endblock %}


{% block page_sub_content %}
  {% with page.teampage.blocks.all as blocks %}
    {% include "core/inc/block.html" %}
  {% endwith %}
{% endblock %}

{% block related_project %}
    {% if page.teampage.team.leader_projects.all or page.teampage.team.patner_projects.all %}
    <hr>
    {% endif %}
  {% if page.teampage.team.leader_projects.all %}
    <h4>{% trans 'Main projects' %}</h4>
    {% with page.teampage.team.leader_projects.all as projects %}
        {% include 'projects/project_list.html' %}
    {% endwith %}
  {% endif %}
  {% if page.teampage.team.patner_projects.all %}
    <h4>{% trans 'Partner projects' %}</h4>
    {% with page.teampage.team.patner_projects.all as projects %}
        {% include 'projects/project_list.html' %}
    {% endwith %}
  {% endif %}
{% endblock %}

{% block logo %}
    {% with page.teampage.images.all|get_type:'logo' as images %}
        {% if images %}
            <div class="page__block{% if block.background_color %} page__block--{{ block.background_color }}{% endif %}">
                <div class="white-bg pb2">
                    <div class="container">
                        <div class="row" data-summary-content>
                            <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2">
                                <ul class="partners-list">
                                    {% include 'core/inc/logo.html' %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
