{% if audios %}

    <audio preload="true"></audio>
    <ol class="audio-playlist">

        {% for audio in audios %}

        <li class="audio-playlist__item">
            <a href="#" data-src="{{ audio.open_source_url }}">{{ audio.title }}</a>
        </li>

        {% comment %}

            {# audio.title #}<br>
            {# audio.open_source_mime_type #}<br>
            {# audio.closed_source_mime_type #}<br>
            {# audio.category #}<br>
            {# audio.media_id #}<br>
            {# audio.open_source_url #}<br>
            {# audio.closed_source_url #}<br>
            {# audio.poster_url #}<br>
            <audio>
                <source src="{{ audio.open_source_url }}" type="{{ audio.open_source_mime_type }}">
                <source src="{{ audio.closed_source_mime_type }}" type="{{ audio.closed_source_url }}">
                Your browser does not support the audio element.
            </audio>

        {% endcomment %}

        {% endfor %}

    </ol>

{% endif %}
