{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

<a class="article-box" href="{{ content.content_object.get_absolute_url }}" title="{{ content.content_object.title }}">
    <div class="article-box__header">
        <figure class="article-box__image">
            {% with content.content_object.images.all|get_type:'card' as image %}
                {% if image %}
                    <img src="{{ MEDIA_URL }}{% thumbnail image.first.file 427 286 %}" data-src="{{ MEDIA_URL }}{% thumbnail images.0.file 427 286 %}" class="lazyload" alt="" />
                {% endif %}
            {% endwith %}
        </figure>
        {% if content.content_type.model == 'article' %}
            <div class="article-box__tags">
                <div class="tag tag--small tag--category">
                    {% trans 'News' %}
                </div>
                {% if content.content_object.department %}
                    <div class="tag tag--small dashed dashed--gray">
                      {{ content.content_object.department.name }}
                    </div>
                {% endif %}
            </div>
        {% elif content.content_type.model == 'event' %}
        <div class="article-box__tags">
            {% if content.content_object.departments.first %}
                {% with content.content_object.departments.first as department %}
                    <div class="tag tag--small dashed">
                      {{ department.department.name }}
                    </div>
                {% endwith %}
            {% endif %}
            {% if content.content_object.category %}
                <div class="tag tag--small tag--category">
                    {{ content.content_object.category }}
                </div>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="article-box__content tal">
        <h3 class="article-box__title">{{ content.content_object.title }}</h3>
        <div class="article-box__subtitle">
            {% if content.content_type.model == 'article' %}
                {{ content.content_object.publish_date|date:"d.m.y" }}
                {% for category in content.content_object.categories.all %}
                    {% if forloop.first %} | {% endif %}
                    {% if not forloop.first %}, {% endif %}
                    <strong>{{ category }}</strong>
                {% endfor %}
            {% elif content.content_type.model == 'event' %}
                {% with content.content_object as event %}
                    <strong>
                        {% include 'agenda/includes/event_date.html' %}
                    </strong>
                {% endwith %}
                {% if content.content_object.location %}
                     <br />{{ content.content_object.location }}
                {% endif %}
            {% endif %}
        </div>
        <div class="article-box__desc">
             {{ content.content_object.description|richtext_filters|safe|truncatechars_html:200 }}
        </div>
    </div>
</a>
