{% load i18n mezzanine_tags keyword_tags organization_tags pages_tags %}
{% if concrete_objects %}
    <div class="pb2">
        <div class="container">
            <div class="row tac">
                <div class="col-xs-16">
                    <h2 class="section-title section-title--underline section-title--uppercase section-title--main">{% if object.related_title.title %}{{ object.related_title.title }}{% else %}{% trans "Also discover" %}{% endif %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-push-3 col-xxs-16">
                    <div class="row">
                        {% for concrete_object in concrete_objects %}
                            <div class="col-xs-8">
                                {% with app_label=concrete_object|app_label_short classname=concrete_object|classname|lower object=concrete_object  %}
                                    {% with app_label|add:"/"|add:classname|add:"/includes/"|add:classname|add:"_card.html" as template %}
                                        {% include template %}
                                    {% endwith %}
                                {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
