{% load i18n mezzanine_tags keyword_tags organization_tags pages_tags %}
{% if dynamic_content.all %}
    <hr class="mt0 mb0" />
    <div class="white-bg pb2">
        <div class="container">
            <div class="row tac">
                <div class="col-xs-12">
                    <h2 class="dashed dashed--center mt2">{% trans "Also discover" %}</h2>
                </div>
            </div>
            <div class="row tac">
                {% for content in dynamic_content %}
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                        {% if content.content_type.model == "article" %}
                            {% with content.content_object as article %}
                                {% include "magazine/article/includes/article_card.html" %}
                            {% endwith %}
                        {% elif content.content_type.model == "event" %}
                            {% with content.content_object as event %}
                                {% include "agenda/includes/event_card.html" %}
                            {% endwith %}
                        {% elif content.content_type.model == "custompage" %}
                            {% with content.content_object as page %}
                                {% include "pages/includes/page_card.html" %}
                            {% endwith %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
