{% extends "starts_eu/base.html" %}
{% load i18n pages_tags mezzanine_tags %}

{% block meta_title %}
    {% trans "Home" %}
{% endblock %}

{% spaceless %}
{% block body_class %}
    home
{% endblock %}
{% endspaceless %}

{% block main %}

    {# {% include "home/inc/hero.html" %}#}

    {% include "starts_eu/home/inc/slider_large.html" %}

    {% include "starts_eu/home/inc/bio.html" %}

    <div class="section">
        {% include "starts_eu/home/inc/body.html" %}
    </div>
    
    {% include "starts_eu/includes/social.html" %}

{% endblock %}
