{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}

<div class="footer__content">

    <div class="container">

        {# Social media #}
        <div class="row">
            <div class="col-xxs-16 col-sm-14 col-sm-push-1 tac fcb">
                <ul class="nav-footer nav-footer--horizontal" role="navigation">
                    {% with host_organization.links.all|order_links as ordered_links %}
                        {% for link in ordered_links %}
                            <li class="nav-footer__item">
                                {% with link.link_type as type %}
                                    <a class="nav-footer__item-link {{ type.slug }}" href="{{ link.url }}" target="_blank" title="{% trans 'Follow us on' %} {{ type.name }}">
                                        <i class="fa fa-{{ type.fa_option }}"></i>
                                    </a>
                                {% endwith %}
                            </li>
                        {% endfor %}
                    {% endwith %}
                </ul>
            </div>
        </div>

        {# Copyright #}
        <div class="row">
            <div class="col-xxs-16 col-sm-14 col-sm-push-1 tac fcb">
                Copyright &copy; {% current_year %} {{ host_organization.name }}. {% trans "All rights reserved" %}.
            </div>
        </div>

    </div>
</div>
