{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}

<div class="section container">
	<div class="row">
		<div class="col-sm-8 tac">
			<div class="section-title section-title--uppercase section-title--main">
				{% trans "STARTS Trailer" %}
			</div>
			<div>
				<iframe width="720" height="480" style="display: block; margin-left: auto; margin-right: auto;" src="https://www.youtube.com/embed/JeUHIWiva6U" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
			</div>
		</div>
		<div class="col-sm-6 col-sm-push-1 tac">
			<div class="section-title section-title--uppercase section-title--main">
				{% trans "Twitter feed" %}
			</div>
			<div>
				{% include "starts_eu/twitter/tweets.html" %}
			</div>
		</div>
	</div>
</div>
