{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}{{ project.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for project as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block page_class %}
    project
{% endblock %}

{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ project.title }}</li>
{% endblock %}

{% block page_title %}

    {% editable project.title %}
        <h1 class="dotted">{{ project.title }}</h1>
    {% endeditable %}

    {% if project.description %}
        {% editable project.description %}
            <div class="chapo">
                {{ project.description }}
            </div>
        {% endeditable %}
    {% endif %}

{% endblock %}

{% block page_content %}

    {% if project.content %}
        {{ project.content|richtext_filters|safe }}
    {% endif %}

{% endblock %}

{% block page_sidebar %}
    <ul class="nav-tree nav-tree--level-{{ branch_level }}" data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="971">
        <li class="nav-tree__item">
            <a class="nav-tree__link" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        </li>
        <li class="nav-tree__item">
            <a class="nav-tree__link active" href="{{ page.get_absolute_url }}">{{ project.title }}</a>
            <ul class="nav-tree" data-summary>
                <li class="nav-tree__item nav-tree__item--sub hide">
                    <a class="nav-tree__link nav-tree__link--sub" href="#"></a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block page_link %}
    {% with project.links.all as links %}
        {% if links %}
            {% include 'core/inc/link.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_audio %}
    {% with project.audios.all as audios %}
        {% if audios %}
            {% include 'core/inc/audio.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_slider %}
    {% with project.images.all|get_type:'page_slider' as slider_images %}
        {% if slider_images %}
            {% include 'core/inc/slider.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_video %}
    {% with project.videos.all as videos %}
        {% if videos %}
            {% include 'core/inc/slider_video.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_sub_content %}

    {% if project.type == 'external project' %}
        <div class="white-bg pb2">
            <hr class="mt0 invisible" />
            <div class="page__block page__block--yellow">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-10 col-lg-push-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="project-details">
                                        <h3 class="dotted project-details__title">{% trans "Project details" %}</h3>

                                        <div>
                                            {% if project.program %}
                                                <div class="project-details__item">
                                                    <div class="project-details__item-title">
                                                        {% trans "Program" %}
                                                    </div>
                                                    <div class="project-details__item-desc">
                                                        {{ project.program }}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if project.program_type %}
                                                <div class="project-details__item">
                                                    <div class="project-details__item-title">
                                                        {% trans "Program type" %}
                                                    </div>
                                                    <div class="project-details__item-desc">
                                                        {{ project.program_type }}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            <div class="project-details__item">
                                                <div class="project-details__item-title">
                                                    {% trans "Beginning" %}
                                                </div>
                                                <div class="project-details__item-desc">
                                                    {{ project.date_from }}
                                                </div>
                                            </div>

                                            <div class="project-details__item">
                                                <div class="project-details__item-title">
                                                    {% trans "End" %}
                                                </div>
                                                <div class="project-details__item-desc">
                                                    {{ project.date_to }}
                                                </div>
                                            </div>

                                            <div class="project-details__item">
                                                <div class="project-details__item-title">
                                                    {% trans "Status" %}
                                                </div>
                                                <div class="project-details__item-desc">
                                                    {{ project.project_status }}
                                                </div>
                                            </div>

                                            {% if project.website %}
                                                <div class="project-details__item">
                                                    <div class="project-details__item-title">
                                                        {% trans "Website" %}
                                                    </div>
                                                    <div class="project-details__item-desc">
                                                        <a href="{{ project.website }}" target="_blank" title="{{ project.title }}">{{ project.website }}</a>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            <div class="project-details__logo">
                                                {% with project.images.all|get_type:'logo' as images %}
                                                    {% include 'core/inc/logo.html' %}
                                                {% endwith %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="project-details">
                                        <h3 class="dotted project-details__title">{% trans "Participants" %}</h3>

                                        <div>

                                            {% if project.lead_team %}
                                                <div class="project-details__item">
                                                  {% if project.lead_team %}
                                                    <div class="project-details__item-title">
                                                        {% trans "Project lead team" %}
                                                    </div>
                                                    <div class="project-details__item-desc">
                                                        <a href="{% url "page" project.lead_team.pages.all.0 %}">{{ project.lead_team }}</a>
                                                    </div>
                                                  {% elif project.lead_organization %}
                                                    <div class="project-details__item-title">
                                                        {% trans "Project lead organization" %}
                                                    </div>
                                                    <div class="project-details__item-desc">
                                                        {{ project.lead_organization }}
                                                    </div>
                                                  {% endif %}
                                                </div>
                                            {% endif %}

                                            <div class="project-details__item">
                                                <div class="project-details__item-title">
                                                    {% trans "Partners" %}
                                                </div>
                                                <div class="project-details__item-desc">
                                                    {% for team in project.teams.all %}
                                                        {% if team.pages.all %}
                                                            <a href="{% url "page" team.pages.all.0 %}">{{ team }}</a><br>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for organization in project.organizations.all %}
                                                        {% if organization.url %}
                                                            <a href="{{organisation.url}}" target="_blank" title="{{organisation}}">
                                                        {% endif %}
                                                        {{ organization }}<br>
                                                        {% if organization.url %}
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% with project.blocks.all as blocks %}
        {% include "core/inc/block.html" %}
    {% endwith %}
{% endblock %}


{% block logo %}
    {% if project.organizations.all|length > 0 %}
        <div class="page__block{% if block.background_color %} page__block--{{ block.background_color }}{% endif %}">
            <div class="white-bg pb2">
                <div class="container">
                    <div class="row" data-summary-content>
                        <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2">
                            <ul class="partners-list">
                                {% for organization in project.organizations.all %}
                                    {% with organization.images.all|get_type:'logo' as images %}
                                        {% include 'core/inc/logo.html' %}
                                    {% endwith %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
