{% extends "pages/page.html" %}
{% load i18n mezzanine_tags keyword_tags pages_tags organization_tags %}

{% block meta_title %}{% trans "Demo" %}{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ demo.description }}
    {% endmetablock %}
{% endblock %}

{% block page_class %}
    demo
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{% trans "Demos" %}</li>
    <li class="breadcrumb__item active">{{ demo.title }}</li>
{% endblock %}

{% block page_title %}
    {% editable project.title %}
        <h1 class="dotted">{{ demo.title }}</h1>
    {% endeditable %}

    {% if demo.description %}
        {% editable demo.description %}
            <div class="chapo">
                {{ demo.description }}
            </div>
        {% endeditable %}
    {% endif %}
    <br>
    <b>{% trans "Project" %}</b> : <a href="{% url 'organization-project-detail' demo.project.slug %}">{{ demo.project.title }}</a><br>
    <b>{% trans "Authors" %}</b> : {% for author in demo.authors.all %}<a href="{% url 'organization-project-detail' demo.project.slug %}">{{ author }}</a>{% endfor %}

{% endblock %}

{% block page_sidebar %}
{% endblock %}

{% block page_slider %}
<div style="position: relative;">
    <iframe width="100%" height="1080px" scrolling="auto" src="{% if demo.url %}{{ demo.url }}{% else %}{{ demo.relative_url }}{% endif %}" frameborder="0" allowfullscreen=""></iframe>
</div>
{% endblock %}
