$module: ".nav-tree";

#{$module} {

    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 2;

    position: absolute;
    width: 100%;

    @include mq($until: sm) {

        position: static;

    }

    .nav-tree & {
        position: relative;
    }

    opacity: 1;
    @include transition(opacity 0.10s ease-in-out);

    &.faded {
        opacity: 0;
        @include transition(opacity 0.10s ease-in-out);
    }

    &.is_stuck {
        background: white;
    }

    &--level-0 {

        @include margin-bottom(2);

    }

    &__item {

        margin-top: 2px;

    }

    &__separator {

        @include margin(2 0);

    }

    &__link {

        display: block;
        color: white;
        background: $color-black-light;
        padding: 4px 20px;

        @include font-size(xs);
        @include typeface(sans-serif);

        &.active {
            background: $color-main;
            color: $color-black-light;
            padding: 8px 20px;
            @include font-size(s);
        }

        &--filter {

            background: #efefef;
            color: $color-black;

        }

        &--sub {
            @include padding-left(2);
            background: lighten($color_main, 20%);
            color: $color-black-light;

            &.active {
                padding: 4px 20px;
                @include padding-left(2);
                color: $color-black-light;
                background: lighten($color_main, 20%);
                font-weight: weight(bold);
            }
        }

        i {
            float: right;
            position: relative;
            top: 5px;
        }

    }

}
