$module: ".nav-tree";

#{$module} {

    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 2;
    opacity: 1;
    @include transition(opacity 0.25s ease-in-out);

    &.faded {
        opacity: 0;
    }

    &.is_stuck {
        background: white;
    }

    &--level-0 {

        @include margin-bottom(2);

    }

    &__item {

        margin-top: 2px;

    }

    &__link {

        display: block;
        color: white;
        background: $color-black-light;
        padding: 4px 20px;

        @include font-size(xs);
        @include typeface(sans-serif);

        &.active {
            background: $color-main;
            color: $color-black-light;
            padding: 8px 20px;
            @include font-size(s);
        }

        &--sub {
            @include padding-left(2);
            background: lighten($color_main, 20%);
            color: $color-black-light;
        }

    }

}
