$module: ".nav-footer";

#{$module} {

    list-style-type: none;
    margin: 0;
    padding: 0;

    &--horizontal {

        #{$module}__item {

            display: inline-block;
            @include margin-right(2);

        }

        #{$module}__item-link {

            @include font-size(s);

        }

    }

    &__item-link {
        @include font-size(m);
        @include typeface(sans-serif);
        font-weight: weight(regular);
        color: white;
    }

}
