{% load organization_tags %}
<div class="footer__partners">
    
    {% for lof in linked_organization_footer %}
        {% if lof.images.all|length > 0 %}

            <a class="footer__partner" href="{{ lof.url }}" target="_blank" title="{{ lof.name }}">
                {% with lof.images|get_type:"logo_footer" as img %}
                    {% if img %}
                        {% with img|first as img %}
                            <img src="{{ MEDIA_URL }}{{ img }}" title="{{ img.title }}" width="80" />
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            </a>

        {% endif %}
    {% endfor %}

</div>
