{% extends "base.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Locations" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{{ page.title }}
{% else %}
{% trans "Locations" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}

{% block main %}
<div id="tabs" class="c-tabs">
  <div class="c-tabs-nav">
    {% for location in object_list %}
        <a href="#" class="c-tabs-nav__link {% if forloop.first %}is-active{% endif %}">
            {{ location.title }}{% if location.room %} - {{ location.room }}{% endif %}</a>
        <hr/>
    {% endfor %}
  </div>
  {% for location in object_list %}
      <div class="c-tab {% if forloop.first %}is-active{% endif %}">
          {% include "agenda/includes/event_location.html" %}
      </div>
  {% endfor %}
</div>
{% endblock %}

{% block right_panel %}
{% include "agenda/includes/filter_panel.html" %}
{% endblock %}
