{% extends "pages/page.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags staticfiles pages_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
        {% trans "Events" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block main %}
    <div class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-16 col-md-12 col-md-push-2 tac">
                    <h1 class="section-title section-title--uppercase section-title--main">{% trans "Events to come" %}</h1>
                </div>
            </div>

            <div class="row">
                <div class="mb2 col-md-16 col-lg-14 col-lg-push-1">
                    <form action="{% url 'event_list' %}" method="GET" id="jsEventsForm">
                        {{ filter_form }}
                    </form>
                </div>
            </div>
            <div id="jsEventsContainer">
                {% include 'agenda/includes/event_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}
