{% load i18n mezzanine_tags keyword_tags pages_tags organization_tags %}
<div class="job-line-box">
    {% if jo.type %}
        <div class="tag tag--small tag--category">
            {% editable jo.type %}
                {{jo.type}}
            {% endeditable %}
        </div>
    {% endif %}
    <a href="{{ jo.get_absolute_url }}">
        <h2 class="job-line-box__title">
            {{ jo.title }}
        </h2>
    </a>
    <div class="job-line-box__desc">
        {% if jo.type %}
            <strong>{% trans 'Published on' %} {{ jo.publish_date|date:"DATE_FORMAT" }}</strong><br />
        {% endif %}
        {% editable jo.description %}
            {{ jo.description|slice:":255" }}
        {% endeditable %}
    </div>
    <a href="{{ jo.get_absolute_url }}" class="button button--small">{% trans "View" %}</a>
</div>
