{% load organization_tags %}
<table class="timesheet-table-cell">
    <tr>
        <th>
            <small>{{ timesheet.project.title }}</small>
        </th>
    </tr>
    <tr>
        <td>
            {{ timesheet.percentage }}&nbsp;%
        </td>
    </tr>
    <tr>
        <td>
            {% with timesheet.work_packages.all as work_packages %}
                {% if work_packages %}
                    {{ timesheet.work_packages.all|format_wp }}
                {% else %}
                    <span>-</span>
                {% endif %}
            {% endwith %}
        </td>
    </tr>
</table>
