{% extends "vertigo_starts_eu/pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ object.title }}</li>
{% endblock %}

{% block page_tags %}
{% endblock %}

{% block page_title %}
    {% editable object.title %}
        <h1 class="dotted">{% trans "Project submission validation" %}</h1>
    {% endeditable %}
        <h3>All fields are required</h3>
{% endblock %}

{% block page_content %}
    <div class="row">
        {% editable call.project_form_content %}
            {{ call.project_validation_content|richtext_filters|safe }}
        {% endeditable %}
    </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
{% endblock %}
