{% extends "vertigo_starts_eu/pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ object.title }}</li>
{% endblock %}

{% block page_tags %}
{% endblock %}

{% block page_title %}
    {% editable object.title %}
        <h1 class="dotted">{% trans "Project submission validation" %}</h1>
    {% endeditable %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <p>Thank you for having submitted your project. It will evaluated in the next few days by the evaluation board and you will then receive an email notification for the result.</p>
        <p>For the first call of 2017, you cannot update your project data on your own, so please <a href="mailto:vertigo@iuk.fraunhofer.de">send an email</a> to the board if you need any modification.</p>
        <p>See you soon!</p>
    </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
{% endblock %}
