{% extends "vertigo_starts_eu/pages/page.html" %}
{% load mezzanine_tags staticfiles keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}
    {{ object.project.title }} X {{ object.artist.first_name }} {{ object.artist.last_name }}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
    {% keywords_for object as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block page_class %}
    object
{% endblock %}

{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ object.project.title }} X {{ object.artist.first_name }} {{ object.artist.last_name }}</li>
{% endblock %}

{% block page_tags %}

    {% comment %}
        {% if department %}
            <div class="tag dashed dashed--yellow">
               {{ object.title }}
            </div>
        {% endif %}
        <div class="tag tag--category">
            {% trans 'Project' %}
        </div>
    {% endcomment %}

{% endblock %}

{% block page_title %}

{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-16 col-md-10 col-md-push-3 tac">
        <h1 class="section-title section-title--uppercase section-title--main section-title--underline">{% trans "Current Residencies" %}</h1>
    </div>
</div>

<div class="residency-detail__background-main residency-detail__margin-global">

    <div>
        <div class="residency-detail__header">
            <div class="residency-detail__header-previous">
                <a href="{{ previous_residency.get_absolute_url }}"></a>
            </div>
            <div class="residency-detail__header-next">
                <a href="{{ next_residency.get_absolute_url }}"></a>
            </div>
            {% with object.images.all|get_type:'slider' as images %}
                {% if images %}
                <div class="residency-detail__header-image" style="background-image: linear-gradient(rgba(0, 64, 64, 0.2), rgba(0, 64, 64, 0.2)), url('{{ MEDIA_URL }}{% thumbnail images|first 0 400 padding=true %}');">
                {% else %}
                <div class="residency-detail__header-image">
                {% endif %}
                    <span>
                        {{ object.project.title }} <br><br><br>
                        X <br><br><br>
                        {{ object.artist.first_name }} {{ object.artist.last_name }}
                    </span>
                </div>
            {% endwith %}
        </div>

        <div class="residency-detail__header-text">
            {{ object.description }}
        </div>
    </div>

    <script>
        function clickedLink(link,event) {

            event.preventDefault();

            var firstDiv = document.getElementById("first_div");
            var secondDiv = document.getElementById("second_div");
            var thirdDiv = document.getElementById("third_div");

            firstDiv.style.display = 'none';
            secondDiv.style.display = 'none';
            thirdDiv.style.display = 'none';

            var linkArtist = document.getElementById("artist");
            var linkArtistResidency = document.getElementById("artist_residency");
            var linkProject = document.getElementById("project");

            var buttons = document.getElementsByClassName('residency-detail__button');

            for (var i = 0; i < buttons.length; i++)
            {
                buttons[i].classList.remove('active');
            }

            if (link.id === 'artist')
            {
                firstDiv.style.display = 'block';
                linkArtist.classList.add('active');
            }

            if (link.id === 'artist_residency')
            {
                secondDiv.style.display = 'block';
                linkArtistResidency.classList.add('active');
            }

            if (link.id === 'project')
            {
                thirdDiv.style.display = 'block';
                linkProject.classList.add('active');
            }
        }
    </script>
    
    <div class ="row residency-detail__margin-row">
            <div class="col-sm-16 col-md-12 residency-detail__center-buttons">
                <a id='artist' class="button residency-detail__button" href="#" onclick="clickedLink(this,event);">{% trans "The artist" %}</a>
                <a id='artist_residency' class="button residency-detail__button active" href="#" onclick="clickedLink(this,event);">{% trans "Artist residency" %}</a>
                <a id='project' class="button residency-detail__button" href="#" onclick="clickedLink(this,event);">{% trans "The project" %}</a>
            </div>
    </div>
    <div class="residency-detail__green-top-line"></div>
    <div class="residency-detail__block--white residency-detail__margin-white">
        <div style="background-color: #FFFFFF" />
    </div>

    <div id="first_div" class="residency-detail__hide-container">
        <div class="residency-detail__disable-overflow">
            <div class="residency-detail__margin-block">
                <div>
                    <img class="residency-detail__image-left" src="{{ MEDIA_URL }}{% thumbnail object.artist.images.all|first 300 300 padding=true %}" />
                    <div class="residency-detail__title">{{ object.artist.first_name }} {{ object.artist.last_name }}</div>
                    <div class="residency-detail__text-detail">
                        <p>{{ object.artist.bio|safe }}</p>
                        {% with object.artist.links.all as links %}
                            {% if links %}
                                {% with links|get_type_link:"link" as webpage_links %}
                                    {% if webpage_links %}
                                        <div class="residency-detail__underline-text">
                                            <a href="{{ webpage_links|first|safe }}">{{ webpage_links|first }}</a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                    <div class="residency-detail__social-links">
                                        {% with links|get_type_link:"facebook" as facebook_links %}
                                        {% if facebook_links %}
                                            <a class="residency-detail__social-link" href="{{ facebook_links|first|safe }}">
                                                <img src="{{ STATIC_URL }}vertigo_starts_eu/src/assets/img/vertigo/logos/facebook-logo-residencies.png" width="32" height="32" alt="Facebook">
                                            </a>
                                        {% endif %}
                                        {% endwith %}
                                        {% with links|get_type_link:"twitter" as twitter_links %}
                                            {% if twitter_links %}
                                                <a class="residency-detail__social-link" href="{{ twitter_links|first|safe }}">
                                                    <img src="{{ STATIC_URL }}vertigo_starts_eu/src/assets/img/vertigo/logos/twitter-logo-residencies.png" width="32" height="32" alt="Twitter">
                                                </a>
                                            {% endif %}
                                        {% endwith %}
                                        {% with links|get_type_link:"youtube" as youtube_links %}
                                        {% if youtube_links %}
                                            <a class="residency-detail__social-link" href="{{ youtube_links|first|safe }}">
                                                <img src="{{ STATIC_URL }}vertigo_starts_eu/src/assets/img/vertigo/logos/youtube-logo-residencies.png" width="32" height="32" alt="Youtube">
                                            </a>
                                        {% endif %}
                                        {% endwith %}
                                        {% with links|get_type_link:"instagram" as instagram_links %}
                                        {% if instagram_links %}
                                            <a class="residency-detail__social-link" href="{{ instagram_links|first|safe }}">
                                                <img src="{{ STATIC_URL }}vertigo_starts_eu/src/assets/img/vertigo/logos/instagram-logo-residencies.png" width="32" height="32" alt="Instagram">
                                            </a>
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>

        {% block page_audio %}
          {% with object.artist as object %}
              {{ block.super }}
          {% endwith %}
        {% endblock %}

        {% block page_slider %}
            {% with object.artist as object %}
                {{ block.super }}
            {% endwith %}
        {% endblock %}

        {% block page_video %}
          {% with object.artist as object %}
              {{ block.super }}
          {% endwith %}
        {% endblock %}
        
    </div>

    <div id="second_div" class="show-detail__hide-container">
        <div>
            <div class="residency-detail__margin-block">
                <div>
                    <div class="residency-detail__title">{{ object.title }}</div>
                    <p>{{ object.content|safe }}</p>
                    <div class="residency-detail__title">{% trans "About this residency" %}</div>
                    <br>
                    <div class="residency-detail__details">
                        <div class="residency-detail__map" id="network-map-small"></div>
                        {% if object.lat and object.lon %}
                            <div class="container hide">
                                <div class="row">
                                    <div class="col-xs-12 col-md-10 col-md-push-1">
                                        <div class="slider-network">
                                            <ul class="slider-network__slider" data-slider-network>
                                                <li class="slider-network__slide" data-marker-small-color="blue" data-marker-small-idx="{{forloop.counter0}}" data-marker-small-lat="{{ object.lat }}" data-marker-small-lng="{{ object.lon }}">
                                                    <div class="slider-network__slide-title" data-marker-small-title>
                                                        {{ object.title }}
                                                    </div>
                                                    <div class="slider-network__slide-subtitle" data-marker-small-subtitle>
                                                        {{ object.city }}, {{ object.country.name }}
                                                    </div>
                                                    <div class="slider-network__slide-description" data-marker-small-description>
                                                        {{ object.description }}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="residency-detail__width-text-second-tab">
                            {% if object.date_from %}
                                From {{ object.date_from}} 
                                {% if object.date_to %}
                                    to {{ object.date_to }}
                                {% endif %}
                                <br><br>
                            {% endif %}
                            {% with object.producers.all as producers %}
                                {% if producers %}
                                    {% if producers|length == 1 %}
                                        Producer: {{ producers.0.organization }}<br>
                                    {% else %}
                                        Producers: 
                                        {% for producer in producers %}
                                            {% if forloop.first %}
                                                {{ producer.organization }}
                                            {% else %}
                                                — {{ producer.organization }}
                                            {% endif %}
                                        {% endfor %}
                                        <br>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                            {% if object.city and object.country %}
                                Localization: {{ object.city }}, {{ object.country }}<br><br>
                            {% endif %}
                            {% for keyword in object.keywords.all %}
                                {{ keyword }} &nbsp;
                            {% endfor %}
                        </div>
                    </div>
                    {% with object.user_images.all as user_images %}
                        {% if object.user_images %}
                            <div>
                                <div class="page__slider">
                                    <ul class="slider-page" data-slider-page>
                                        {% for user_image in user_images %}
                                            <li class="slider-page__slide" data-src="{{ MEDIA_URL }}{{ user_image.file }}">
                                                <div class="slider-page__wrapper">
                                                    <img title="{{ user_image.title }}" alt="{{ user_image.title }} {{ user_image.description }} {{ user_image.credits }}" class="slider-page__img" src="{{ MEDIA_URL}}{% thumbnail user_image.file 0 400 %}" alt="" />
                                                    <div class="slider-page__caption">
                                                        {{ user_image.title }}
                                                        {% if user_image.description %}
                                                            {{ user_image.description }}
                                                        {% endif %}
                                                        {% if user_image.credits %}
                                                            {{ user_image.credits }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    
    <div id="third_div" class="residency-detail__hide-container">
        <div class="residency-detail__disable-overflow">
            <div class="residency-detail__margin-block">
                <div>
                    <div class="residency-detail__title">{{ object.project.title }}</div>
                    <br>
                    {% with object.project.public_data.all|first as project_public_data %}
                        {% if project_public_data.image_is_panoramic %}
                            <img src="{{ MEDIA_URL }}{% thumbnail project_public_data.image 300 0 padding=true %}" class="residency-detail__right-image" />
                        {% else %}
                            <img src="{{ MEDIA_URL }}{% thumbnail project_public_data.image 0 300 padding=true %}" class="residency-detail__right-image" />
                        {% endif %}
                        <div class="residency-detail__text-detail">
                            <p>{{ project_public_data.challenges_description }}</p>
                        </div>
                    {% endwith %}
                </div>

            </div>
        </div>
        <a class="residency-detail__margin-block residency-detail__button-project residency-detail__margin-bottom-third-tab" href="{{ object.project.get_absolute_url }}">{% trans "Find more" %}</a>
    </div>

</div>

{% if object.articles %}
    <div class="page" id="residency_news">

        <div class="container">
            <div class="row">
                <div class="col-sm-16 col-md-10 col-md-push-3 tac">
                    <h1 class="section-title section-title--uppercase section-title--main section-title--underline">{% trans "News" %}</h1>
                </div>
            </div>

            <div class="row">
                <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                    <div class="page__content">
                        <div class="container">
                            <div class="row">
                                {% for article in object.articles %}
                                    <div class="col-xs-8">
                                        {% with app_label=object|app_label_short classname=object|classname|lower  %}
                                            {% with app_label|add:"/"|add:classname|add:"/includes/"|add:classname|add:"article_card.html" as template_article %}
                                                {% include template_article %}
                                            {% endwith %}
                                        {% endwith %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% pagination_for object.articles %}
    </div>
{% endif %}

{% if object.events %}
    <div class="page" id="residency_events">

        <div class="container">
            <div class="row">
                <div class="col-sm-16 col-md-12 col-md-push-2 tac">
                    <h1 class="section-title section-title--uppercase section-title--main">{% trans "Events" %}</h1>
                </div>
            </div>

            <div class="row">
                <div class="mb2 col-md-12 col-md-push-2 page__content" data-summary-content>
                    <div class="page__content">
                        {% for event in object.events %}
                            {% include 'agenda/includes/event_linecard.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
