{% extends "vertigo_starts_eu/pages/page_ict_projects.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ object.title }}</li>
{% endblock %}

{% block page_tags %}
{% endblock %}

{% block page_title %}
    {% editable object.title %}
      <!--  <h1>{% trans "Project submission form" %}</h1>-->
        <div class="ict-project-style__title-header">
          <div class="ict-project-style__title-style">
            {% include 'vertigo_starts_eu/pages/form-title/title_public.txt' %}
          </div>
        </div>
    {% endeditable %}
    {% comment %}
    {% if not call.is_closed %}
        <h3>All fields are mandatory / required</h3>
    {% endif %}
    {% endcomment %}
{% endblock %}

{% block hero %}
<script>

    function checkObject(object, array) {

      var exists = false;

      for (var i = 0; i < array.length; i++) {

        if (array[i] == object) {
          exists = true;
          break;
        }
      }

      return exists;
    }

    function addTag(object, event) {

      if (event != null) {
        event.preventDefault();
      }

      var id_box = "id_keywords_1";
      var valueLink = object.innerText.replace("+", "");
      var textBox = document.getElementById(id_box);
      var textValue = textBox.value;

      if (valueLink.length > 0) {
        if (textValue == "") {

          document.getElementById(id_box).value = valueLink;
        } else {

          var arrayText = textValue.split(",");
          var arrayLenght = arrayText.length;

          if (arrayLenght < 6) {

            if (!checkObject(valueLink, arrayText)) {
              document.getElementById(id_box).value += "," + valueLink;
            }
          }
        }
      }
    }

    function addOnclick() {

      var element = document.getElementsByClassName("keywords-field")[0];

      element.addEventListener('click', function(event) {

        if (event.target && event.target.nodeName == "A") {
          addTag(event.target,event);
        }
      });
    }

    document.addEventListener('DOMContentLoaded', function() {
       addOnclick();
    }, false);

    function showHideDivider(object, event) {

      event.preventDefault();

      var id_item = object.id;
      var chevronId = id_item.replace("divider", "chevron");
      var chevronItem = document.getElementById(chevronId);
      var itemsClass = chevronItem.classList;

      var fieldDivId = id_item.replace("divider", "field-form");
      var formDivItem = document.getElementById(fieldDivId);

      var openChevron = false;

      for (var i = 0; i < itemsClass.length; i++) {

        if (itemsClass[i].toLowerCase() == 'fa-chevron-down') {

          openChevron = true;
          break;
        }
      }

      if (openChevron) {

        chevronItem.classList.remove("fa-chevron-down");
        chevronItem.classList.add("fa-chevron-up");
        formDivItem.style.display = 'none';
      } else {

        chevronItem.classList.remove("fa-chevron-up");
        chevronItem.classList.add("fa-chevron-down");
        formDivItem.style.display = 'block';
      }
    }

</script>
{% endblock %}

{% block page_content %}


    {% if call.is_closed %}
      <div class="ict-project-style__close-project">
        {% include 'projects/inc/project_call_closed.html' %}
      </div>
    {% else %}
        <div class="row" style="background-color:white">
            {% errors_for form %}
            <form class="form ict-project-form" method="post" enctype="multipart/form-data" style="padding-right:30px;padding-left:30px">
                {#{% fields_for form %}#}
                {{ inlines.0.0.management_form }}
                {{ inlines.1.0.management_form }}
                {{ inlines.2.0.management_form }}
                {{ inlines.3.0.management_form }}
                <div id="divider-0" class="ict-project-style__divider-section"  style="margin-left:-30px" onclick="showHideDivider(this, event);">
                  <span class="ict-project-style__divider-title-section">
                    Key details
                  </span>
                  <i id="chevron-0" class="fa fa-chevron-down ict-project-style__divider-chevron-section" aria-hidden="true"></i>
                </div>
                <div id="field-form-0">
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px;margin-top:30px">
                      <p class="ict-project-style__title-field">{{ form.title.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ form.title.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ form.title }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.3.0.organization_name.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.3.0.organization_name.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.organization_name }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ form.website.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ form.website.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ form.website }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.1.0.funding_programme.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.1.0.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.1.0.funding_programme }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ form.date_from.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ form.date_from.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ form.date_from }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ form.date_to.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ form.date_to.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ form.date_to }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.1.0.commitment_letter.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field link-item-form">{{ inlines.1.0.commitment_letter.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.1.0.commitment_letter }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                    <!--
                      <p class="ict-project-style__title-field">{{ inlines.1.0.investor_letter.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field" style="display:block;margin-bottom:40px"></p>
                      <p class="ict-project-style__field-style">{{ inlines.1.0.investor_letter }}</p>
                    </div>
                  </div>
                  <div style="display:block">

                    <div style="float:left;width:48%;margin-right:40px">
                    -->
                      <p class="ict-project-style__title-field">{{ inlines.1.0.persons.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.1.0.persons.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.1.0.persons }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <div class="ict-project-style__section-title">Project key contact details</div>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.3.0.first_name.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.3.0.first_name.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.first_name }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.3.0.last_name.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.3.0.last_name.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.last_name }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.3.0.telephone.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.3.0.telephone.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.telephone }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.3.0.email.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.3.0.email.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.email }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.3.0.position.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.3.0.position.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.position }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.3.0.postal_code.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.3.0.postal_code.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.postal_code }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.3.0.city.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.3.0.city.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.city }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.3.0.country.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.3.0.country.help_text }}</p>
                      <p class="ict-project-style__field-style select_style">{{ inlines.3.0.country }}</p>
                    </div>
                  </div>
                  <!--
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <div class="ict-project-style__section-title">Project team members to be involved in residency</div>

                      <p class="ict-project-style__title-field">{{ inlines.3.0.first_name.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field" style="display:block;margin-bottom:40px"></p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.first_name }}</p>

                      <p class="ict-project-style__title-field">{{ inlines.3.0.position.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field" style="display:block;margin-bottom:40px"></p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.position }}</p>
                    </div>
                  </div>
                -->
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.3.0.address.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.3.0.address.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.3.0.address }}</p>
                    </div>
                  </div>
                  <div style="float:left;width:100%;height:10px;"></div>
                </div>
              {% comment %}
                {% for formset in inlines %}
                  {{ formset.management_form }}
                {% endfor %}
                {% for formset in inlines %}
                    {{ formset.management_form }}
                    <div id="divider-{{ forloop.counter0 }}" class="ict-project-style__divider-section"  style="margin-top:10px;margin-left:-30px" onclick="showHideDivider(this, event);">
                      <span class="ict-project-style__divider-title-section">
                        Section {{ forloop.counter0 }}
                      </span>
                      <i id="chevron-{{ forloop.counter0 }}" class="fa fa-chevron-down ict-project-style__divider-chevron-section" aria-hidden="true"></i>
                    </div>
                    <!--<hr>-->
                    {{ formset.title }}
                    <h2>{{ formset.prefix }}</h2>
                    {% if "Private data" in formset.prefix %}
                        <h5>The data you are entering in the Private Data section will be made available only to VERTIGO partners and artists (except letter reserved to VERTIGO) in case your R&amp;I project will be selected by the consortium.</h5>
                    {% elif "Public data" in formset.prefix %}
                        <h5>The data you are entering in the Public Data section will be published only in case your R&amp;I project will be selected by the consortium.</h5>
                    {% elif "Private images" in formset.prefix %}
                        <h5>3 key images for inspiring artist</h5>
                    {% endif %}
                    {% for form in formset %}
                       {% fields_for form %}
                    {% endfor %}
                {% endfor %}
              {% endcomment %}
                <div id="divider-1" class="ict-project-style__divider-section"  style="margin-left:-30px" onclick="showHideDivider(this, event);">
                  <span class="ict-project-style__divider-title-section">
                    About your project
                  </span>
                  <i id="chevron-1" class="fa fa-chevron-down ict-project-style__divider-chevron-section" aria-hidden="true"></i>
                </div>
                <div id="field-form-1">
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.0.0.brief_description.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.0.0.brief_description.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.0.0.brief_description }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.0.0.technology_description.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.0.0.technology_description.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.0.0.technology_description }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px;margin-top:-250px">
                      <p class="ict-project-style__title-field">{{ form.keywords.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ form.keywords.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ form.keywords }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.1.0.description.label }}</p>
                      <i class="fa fa-lock ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.1.0.description.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.1.0.description }}</p>
                    </div>
                  </div>
                  <div style="float:left;width:100%;height:10px;"></div>
                </div>
                <div id="divider-2" class="ict-project-style__divider-section"  style="margin-left:-30px" onclick="showHideDivider(this, event);">
                  <span class="ict-project-style__divider-title-section">
                    Images
                  </span>
                  <i id="chevron-2" class="fa fa-chevron-down ict-project-style__divider-chevron-section" aria-hidden="true"></i>
                </div>
                <div id="field-form-2">
                  <div class="ict-project-style__description-field" style="margin-top:20px;">Please upload at least one, and up to three, images to represent your project. The first image will be used as thumbnail and banner image for your project if selected. The size and colour of the images may be adjusted to fit the screen layout. Please use the preview function to see how your images will work. Please also provide short captions to describe the image and credits where relevant. Note that logos will not be accepted as images.</div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.2.0.file.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.2.0.file.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.2.0.file }}</p>
                      <p class="ict-project-style__title-field">{{ inlines.2.0.credits.label }}</p>
                      <p class="ict-project-style__description-field">{{ inlines.2.0.credits.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.2.0.credits }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.2.1.file.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.2.1.file.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.2.1.file }}</p>
                      <p class="ict-project-style__title-field">{{ inlines.2.1.credits.label }}</p>
                      <p class="ict-project-style__description-field">{{ inlines.2.1.credits.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.2.1.credits }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.2.2.file.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.2.2.file.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.2.2.file }}</p>
                      <p class="ict-project-style__title-field">{{ inlines.2.2.credits.label }}</p>
                      <p class="ict-project-style__description-field">{{ inlines.2.2.credits.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.2.2.credits }}</p>
                    </div>
                  </div>

                  <div style="float:left;width:100%;height:10px;"></div>
                </div>
                <div id="divider-3" class="ict-project-style__divider-section"  style="margin-left:-30px" onclick="showHideDivider(this, event);">
                  <span class="ict-project-style__divider-title-section">
                    About the residency
                  </span>
                  <i id="chevron-3" class="fa fa-chevron-down ict-project-style__divider-chevron-section" aria-hidden="true"></i>
                </div>
                <div id="field-form-3">
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.0.0.resources_description.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.0.0.resources_description.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.0.0.resources_description }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.0.0.implementation_start_date.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.0.0.implementation_start_date.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.0.0.implementation_start_date }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.0.0.implementation_period.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.0.0.implementation_period.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.0.0.implementation_period }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.0.0.implementation_duration.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.0.0.implementation_duration.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.0.0.implementation_duration }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;margin-right:40px">
                      <p class="ict-project-style__title-field">{{ inlines.0.0.challenges_description.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.0.0.challenges_description.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.0.0.challenges_description }}</p>
                    </div>
                  </div>
                  <div style="display:block">
                    <div style="float:left;width:48%;">
                      <p class="ict-project-style__title-field">{{ inlines.0.0.objectives_description.label }}</p>
                      <i class="fa fa-globe ict-project-style__icon-field" aria-hidden="true"></i>
                      <p class="ict-project-style__description-field">{{ inlines.0.0.objectives_description.help_text }}</p>
                      <p class="ict-project-style__field-style">{{ inlines.0.0.objectives_description }}</p>
                    </div>
                  </div>
                  <div style="float:left;width:100%;height:10px;"></div>
                </div>
                <div class="form-actions" style="width:100%;display:block;float:left">
                    <h3 style="color:#1D1D1B;">All fields are mandatory / required</h3>
                    <p style="color:#1D1D1B;">With the submission of data and documents about your project, you declare, that you are allowed to establish a cooperation with an artist funded by the VERTIGO project.</p>
                    <br>
                    <div style="text-align:center;padding-bottom:20px">
                      <input class="ict-project-style__button-submit" type="submit" style="background:#50E3C2;color:white;"
                          value="{% if page.form.button_text %}{{ page.form.button_text }}{% else %}{% trans "Save" %}{% endif %}">
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
{% endblock %}
