{% extends "vertigo_starts_eu/pages/page.html" %}
{% load mezzanine_tags staticfiles keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}
    {{ object.project.title }} X {{ object.artist.first_name }} {{ object.artist.last_name }}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
    {% keywords_for object as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block page_class %}
    object
{% endblock %}

{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ object.project.title }} X {{ object.artist.first_name }} {{ object.artist.last_name }}</li>
{% endblock %}

{% block page_tags %}

    {% comment %}
        {% if department %}
            <div class="tag dashed dashed--yellow">
               {{ object.title }}
            </div>
        {% endif %}
        <div class="tag tag--category">
            {% trans 'Project' %}
        </div>
    {% endcomment %}

{% endblock %}

{% block page_title %}

{% endblock %}

{% block main %}

<div class="residency-detail__background-main residency-detail__margin-global">

    <div>
        <!--TODO: Use slider-->
        <!--{% include "vertigo_starts_eu/projects/inc/projectresidency_slider.html" %}-->
        <img src="{{ MEDIA_URL }}{% thumbnail object.project.public_data.all.0.image 0 400 padding=true %}" style="width:100%;height:400px;margin-bottom:20px;" />

        <div class="residency-detail__text-banner">
            {{ object.description }}
        </div>
    </div>

    <script>
        function clickedLink(link,event) {

            event.preventDefault();

            var firstDiv = document.getElementById("first_div");
            var secondDiv = document.getElementById("second_div");
            var thirdDiv = document.getElementById("third_div");

            firstDiv.style.display = 'none';
            secondDiv.style.display = 'none';
            thirdDiv.style.display = 'none';

            var linkArtist = document.getElementById("artist");
            var linkArtistResidency = document.getElementById("artist_residency");
            var linkProject = document.getElementById("project");

            var buttons = document.getElementsByClassName('residency-detail__button');

            for (var i = 0; i < buttons.length; i++)
            {
                buttons[i].classList.remove('active');
            }

            if (link.id === 'artist')
            {
                firstDiv.style.display = 'block';
                linkArtist.classList.add('active');
            }

            if (link.id === 'artist_residency')
            {
                secondDiv.style.display = 'block';
                linkArtistResidency.classList.add('active');
            }

            if (link.id === 'project')
            {
                thirdDiv.style.display = 'block';
                linkProject.classList.add('active');
            }
        }
    </script>
    
    <div class ="row residency-detail__margin-row">
            <div class="col-sm-16 col-md-12 residency-detail__center-buttons">
                <a id='artist' class="button residency-detail__button active" href="#" onclick="clickedLink(this,event);">{% trans "The artist" %}</a>
                <a id='artist_residency' class="button residency-detail__button" href="#" onclick="clickedLink(this,event);">{% trans "Artist residency" %}</a>
                <a id='project' class="button residency-detail__button" href="#" onclick="clickedLink(this,event);">{% trans "The project" %}</a>
            </div>
    </div>
    <div class="residency-detail__green-top-line"></div>
    <div class="residency-detail__block--white residency-detail__margin-white">
        <div style="background-image: url({{ MEDIA_URL }}{% thumbnail public_data.image 0 400 padding=true %})" />
    </div>

    <div id="first_div" class="show-detail__hide-container">
        <div class="residency-detail__disable-overflow">
            <div class="residency-detail__margin-block">
                <div>
                    <img class="residency-detail__image-left" src="{{ MEDIA_URL }}{% thumbnail object.artist.images.all|first 300 300 padding=true %}" />
                    <div class="residency-detail__title">{{ object.artist.first_name }} {{ object.artist.last_name }}</div>
                    <div class="residency-detail__text-detail">
                        <p>{{ object.artist.bio|safe }}</p>
                        {% with object.artist.links.all as links %}
                            {% if links %}
                                {% with links|get_type_link:"link" as webpage_links %}
                                    {% if webpage_links %}
                                        <div class="residency-detail__underline-text">
                                            <a href="{{ webpage_links|first|safe }}">{{ webpage_links|first }}</a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                    <div class="residency-detail__social-links">
                                        {% with links|get_type_link:"facebook" as facebook_links %}
                                            {% if facebook_links %}
                                                {% with path="uploads/logos/social/facebook_logo.png" %}
                                                    <a class="residency-detail__social-link" href="{{ facebook_links|first|safe }}"><img src="{{ MEDIA_URL }}{% thumbnail path 32 32 padding=true %}" alt="Facebook"></a>
                                                {% endwith %}
                                            {% endif %}
                                        {% endwith %}
                                        {% with links|get_type_link:"twitter" as twitter_links %}
                                            {% if twitter_links %}
                                                {% with path="uploads/logos/social/twitter_logo.png" %}
                                                    <a class="residency-detail__social-link" href="{{ twitter_links|first|safe }}"><img src="{{ MEDIA_URL }}{% thumbnail path 32 32 padding=true %}" alt="Twitter"></a>
                                                {% endwith %}
                                            {% endif %}
                                        {% endwith %}
                                        {% with links|get_type_link:"youtube" as youtube_links %}
                                            {% if youtube_links %}
                                                {% with path="uploads/logos/social/youtube_logo.png" %}
                                                    <a class="residency-detail__social-link" href="{{ youtube_links|first|safe }}"><img src="{{ MEDIA_URL }}{% thumbnail path 32 32 padding=true %}" alt="Youtube"></a>
                                                {% endwith %}
                                            {% endif %}
                                        {% endwith %}
                                        {% with links|get_type_link:"instagram" as instagram_links %}
                                            {% if instagram_links %}
                                                {% with path="uploads/logos/social/instagram_logo.png" %}
                                                    <a class="residency-detail__social-link" href="{{ instagram_links|first|safe }}"><img src="{{ MEDIA_URL }}{% thumbnail path 32 32 padding=true %}" alt="Instagram"></a>
                                                {% endwith %}
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>

        {% block page_audio %}
          {% with object.artist as object %}
              {{ block.super }}
          {% endwith %}
        {% endblock %}

        {% block page_slider %}
            {% with object.artist as object %}
                {{ block.super }}
            {% endwith %}
        {% endblock %}

        {% block page_video %}
          {% with object.artist as object %}
              {{ block.super }}
          {% endwith %}
        {% endblock %}
        
    </div>

    <div id="second_div" class="residency-detail__hide-container">
        <div>
            <div class="residency-detail__margin-block">
                <div>
                    <div class="residency-detail__title">{{ object.project.title }}</div>
                    <br>
                    <!--TODO: Here comes some text -->
                    <p></p>
                    <div class="residency-detail__title">{% trans "About this residency" %}</div>
                    <br>
                    <div>
                        <div class="residency-detail__map" id="network-map"></div>
                        <div class="container hide">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-push-1">
                                    <div class="slider-network">
                                        <ul class="slider-network__slider" data-slider-network>
                                            <li class="slider-network__slide" data-marker-url="{{object.producer.url}}" data-marker-color="{{ object.producer.type.css_class }}" {% with object.producer.images.all|get_type:'logo' as images %}{% if images %}data-marker-image="{{ MEDIA_URL }}{{images.first.file}}"{% endif %}{% endwith %} data-marker-idx="{{forloop.counter0}}" data-marker-lat="{{ object.producer.lat }}" data-marker-lng="{{ object.producer.lon }}">
                                                <div class="slider-network__slide-image"
                                                    {% with object.producer.images.all|get_type:'logo' as images %}
                                                        {% if images %}
                                                            style="background-image: url('{{ MEDIA_URL }}{{images.first.file}}');"
                                                        {% endif %}
                                                    {% endwith %}
                                                >
                                                </div>
                                                <div class="slider-network__slide-title" data-marker-title>
                                                    {{ object.producer.name }}
                                                </div>
                                                <div class="slider-network__slide-subtitle" data-marker-subtitle>
                                                    {{ object.producer.city }}, {{ object.producer.country.name }}
                                                </div>
                                                <div class="">
                                                    {{ object.producer.type }}, {{ object.producer.type.css_class }}
                                                </div>
                                                <div class="slider-network__slide-description" data-marker-description>
                                                    {{ object.producer.description }}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="residency-detail__width-text-second-tab">
                            From {{ object.date_from}} to {{ object.date_to }}<br><br>
                            Producer: {{ object.producer }}<br>
                            Localization: {{ object.producer.city }}, {{ object.producer.country }}<br><br>
                            {% for keyword in object.keywords.all %}
                                {{ keyword }} &nbsp;
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="third_div" class="residency-detail__hide-container">
        <div class="residency-detail__disable-overflow">
            <div class="residency-detail__margin-block">
                <div>
                    <div class="residency-detail__title">{{ object.project.title }}</div>
                    <br>
                    {% with object.project.public_data.all|first as project_public_data %}
                        {% if project_public_data.image_is_panoramic %}
                            <img src="{{ MEDIA_URL }}{% thumbnail project_public_data.image 300 0 padding=true %}" class="residency-detail__right-image" />
                        {% else %}
                            <img src="{{ MEDIA_URL }}{% thumbnail project_public_data.image 0 300 padding=true %}" class="residency-detail__right-image" />
                        {% endif %}
                        <div class="residency-detail__text-detail">
                            <p>{{ project_public_data.challenges_description }}</p>
                        </div>
                    {% endwith %}
                </div>

            </div>
        </div>
        <a class="residency-detail__margin-block residency-detail__button-project residency-detail__margin-bottom-third-tab" href="{{ object.project.get_absolute_url }}">{% trans "Find more" %}</a>
    </div>
</div>
{% endblock %}
