{% extends "vertigo_starts_eu/pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block body_class %}
    pattern pattern-bg {{ department.pages.all.0.weaving_css_class }}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ object.title }}</li>
{% endblock %}

{% block page_tags %}
{% endblock %}

{% block page_title %}
    {% editable object.title %}
        <h1 class="dotted">{% trans "Project submission form" %}</h1>
    {% endeditable %}
        <h3>All fields are required</h3>
{% endblock %}

{% block page_content %}
    <div class="row">
        {% errors_for form %}
        <form class="mezzanine-form form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% fields_for form %}
            {% for formset in inlines %}
                {{ formset.management_form }}
                <hr>
                <h2>{{ formset.prefix }}</h2>
                {% if "Private data" in formset.prefix %}
                    <h5>To be available only to Vertigo partners and artists upon successfully obtaining the residency (except letter reserved to VERTIGO)</h5>
                {% elif "Public data" in formset.prefix %}
                    <h5>To be published only for ICT-Projects selected by the consortium</h5>
                {% elif "Private images" in formset.prefix %}
                    <h5>3 key images for inspiring artist + any video content available</h5>
                {% endif %}
                {% for form in formset %}
                   {% fields_for form %}
                {% endfor %}
            {% endfor %}
          <div class="form-actions">
              <input class="btn btn-primary btn-lg" type="submit"
                  value="{% if page.form.button_text %}{{ page.form.button_text }}{% else %}{% trans "Submit" %}{% endif %}">
          </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
{% endblock %}
