{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags %}

{% block meta_title %}{% trans "Media" %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for person as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block page_class %}
    media
{% endblock %}


{% block page_title %}
    {% editable person.title %}
        <h1 class="dotted">{{ media.title }}</h1>
    {% endeditable %}
{% endblock %}



{% block page_content %}
    {{ media.title }}
    {% if media.poster_url %}
        {{ media.poster_url }}
    {% endif %}

    {{ media.publish_date|date:"j F, Y" }}

    {% if media.description %}
        {{ media.description }}
    {% endif %}

    <br><br>

    {% with media.transcoded.all as media_transcoded %}
        {% if media_transcoded %}
            {# WEBM #}
            {{ media_transcoded.0.url }}
            {{ media_transcoded.0.mime_type }}
            <br><br>
            {# MP4 #}
            {{ media_transcoded.1.url }}
            {{ media_transcoded.1.mime_type }}
            <br><br>
            {# OGG #}
            {{ media_transcoded.2.url }}
            {{ media_transcoded.2.mime_type }}
        {% endif %}
    {% endwith %}
{% endblock %}
