{% extends "vertigo_starts_eu/accounts/account_form_login.html" %}
{% load i18n mezzanine_tags %}
{% block page_title %}
	<h1 class="accounts-pages__big-title">{% trans "User project list" %}</h1>
{% endblock %}

{% block page_content %}
{{ block.super }}
<div class="accounts-pages__list-style">
	{% if object_list|length > 0 %}
		<p class="accounts-pages__header-text-list">Click on green button to edit fields on project</p>
		{% for object in object_list %}
			<div class="accounts-pages__element-container">
				<div class="accounts-pages__left-element-item">
					Project name: <b>{{ object.title }}</b>
				</div>
				<div class="accounts-pages__right-element-item">
					<div class="accounts-pages__wrapper-link" style="background:{% if object.status == 1 %}#50E3C2{% else %}gray{% endif %}">
						{% if object.status == 1 %}
							<a href="{{ object.url }}" class="accounts-pages__button-link">Edit</a>
						{% else %}
							<a href="#" class="accounts-pages__button-link">Disabled</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p class="accounts-pages__header-text-list">No Projects found</p>
	{% endif%}
</div>
{% endblock %}
