{% extends "accounts/account_form_login.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}
	{% trans "Page not found" %}
{% endblock %}

{% block page_class %}
	custompage
{% endblock %}

{% block page_title %}
	<h1 style="font-family:'Oswald';margin-bottom:100px;padding-top:200px;color:#000F24">{% trans "Login" %}</h1>
{% endblock %}

{% block page_content %}
{% if request.user.is_authenticated %}
    <p>{% trans "You're already logged in. If you'd like to log in as a different user, you'll need to log out first." %}</p>
{% else %}
    {{ block.super }}
    {% url "signup" as signup_url %}
    {% url "mezzanine_password_reset" as password_reset_url %}
    {% url "profile_update" as profile_update_url %}
		{% block message %}
			<br>
			<div style="text-align:center">
				{% blocktrans with request.GET.next as next %}<a style="font-family:'Helvetica';color:red;border-bottom:0px;" href="{{ password_reset_url }}?next={{ next }}">Forgotten your password?</a>{% endblocktrans %}
			</div>
			<br><br>
			<div style="text-align:center;margin-top:50px;">
				<span style="color:black;font-family:'Oswald';font-size:20px;color:#1D1D1B">Don't have an account yet?</span>
				<br><br>
				<div style="border: 1px solid #1D1D1B;text-align:center;width:200px;display:inline-block">
					{% blocktrans with request.GET.next as next %}
						<a style="font-family:'Oswald';font-size:20px;border-color:#1D1D1B;font-weight:bold;width:200px;display:block;text-align:center;color:#1D1D1B;" href="{{ signup_url }}?next={{ next }}">
							<div style="border: 1px solid #1D1D1B;text-align:center;padding-top:20px;padding-bottom:20px;">
								Sign up
							</div>
						</a>
					{% endblocktrans %}
				</div>
			</div>
		{% endblock %}
{% endif %}
{% endblock %}
