{% extends "accounts/account_login.html" %}
{% load i18n %}

{% block page_title %}
	<h1 style="color:red;font-family:'Oswald'">{% trans "Forgotten your password?" %}</h1>
	<br>
	<p style="font-family:'Helvetica';font-size:20px;color:black;margin-top:-70px">{% trans "Submit your email address and we'll send you a link to reset your password" %}</p>
{% endblock %}

{% block page_content %}
{{ block.super }}
{% endblock %}

{% block message %}

{% endblock %}

{% block account_form_actions %}
<input class="btn btn-primary btn-lg" type="submit" value="Submit" style="margin-right:0px;font-weight:bold;width:200px;background:#1D1D1B;color:white;padding-top:20px;padding-bottom:20px">
{% endblock %}
