{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}{{ person.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for person as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block page_class %}
    person
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ person }}</li>
{% endblock %}

{% block page_title %}
    {% editable person.title %}
        <h1 class="dotted">{{ person.title }}</h1>
    {% endeditable %}
{% endblock %}

{% block page_content %}
    {% editable person.bio %}
        {{ person.bio|richtext_filters|safe }}
    {% endeditable %}

    <p>{% trans 'Email' %} : {{ person_email }}</p>
    <br>
    <p>
        {% trans 'Activities' %}:
        <ul>
            {% for activity in person.activities.all %}
            <li>
                {% if activity.function %}
                    {% trans 'Functions'%} : {{ activity.function }}<br>
                {% endif %}
                {% with activity.teams.all as actvities %}
                    {% if actvities %}
                        {% trans 'Teams' %} :<br>
                        {% for team in actvities %}
                            {{ team.name }}<br>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with activity.organizations.all as organizations %}
                    {% if organizations %}
                        {% trans 'Organization' %} :<br>
                        {% for organization in organizations %}
                        {{ organization.name }}<br>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}

{% block page_sidebar %}
    {% if person.images.all %}
        {% with person.images.all|get_type:'page_featured' as images %}
            {% if images.first %}
                <figure class="person-list-box__image">
                    <img src="{{ MEDIA_URL }}{% thumbnail images.first 135 135 top=0.5 %}" alt="person"/>
                </figure>
            {% endif %}
        {% endwith %}
    {% endif%}
{% endblock %}

{% block page_link %}
    {% with person.links.all as links %}
        {% if links %}
            {% include 'core/inc/link.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}
