{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}{{ person.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for person as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block page_class %}
    person
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ person }}</li>
{% endblock %}

{% block page_title %}
    {% editable person.title %}
        <h1 class="section-title section-title--big section-title--uppercase section-title--main">{{ person.title }}</h1>
    {% endeditable %}

    {% with person.images.all|get_type:'page_featured' as card_images %}
        {% if card_images %}
            <div class="page__image-container">
                <img style="width:100%;" class="lazyload" src="{{ MEDIA_URL }}{% thumbnail card_images.first 1030 400 top=0.5 %}" alt="person"/>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_content %}
    {% editable person.bio %}
        {{ person.bio|richtext_filters|safe }}
    {% endeditable %}

    {% if not person.email and person.activities.all and person.activities.all.0.teams.all %}<p><strong>{% trans 'Email' %} :</strong> {{ person_email }}</p>{% elif person.email %}<p><strong>{% trans 'Email' %} :</strong> {{ person.email|unspam }}</p>{% endif %}

    {% with person.activities.all as activities %}
      {% if activities %}
        {# <h2 class="dotted">{% trans 'Activities' %}</h2>#}
        <ul class="unstyled-list">
          {% with activities.0 as activity %}
            <li class="mb1">
                {% with activity.teams.all as teams %}
                 {% with activity.organizations.all|is_not_host as organizations %}
                  {% with activity.employers.all|is_not_host as employers %}
                    {% if teams %}
                        <strong>{% trans 'Team' %} : </strong>
                        {% for team in teams %}
                            <a href="{% url "page" team.pages.all.0 %}">{{ team.name }}</a>
                            {% if organizations %}({% for organization in organizations %}{{ organization.name }}{% if not forloop.last %}, {% endif %}{% endfor %})
                            {% elif employers %}({% for employer in employers %}{{ employer.name }}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
                            <br />
                        {% endfor %}
                    {% endif %}
                   {% endwith %}
                  {% endwith %}
                {% endwith %}
            </li>
          {% endwith %}
        </ul>
      {% endif %}
    {% endwith %}

{% endblock %}

{% block page_related_content %}

{% if related.event %}
    <div class="pb2">
        <div class="container">
            <div class="row tac">
                <div class="col-xs-16">
                    <h2 class="section-title section-title--underline section-title--uppercase section-title--main">{% trans "Linked events" %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xxs-16">
                    <div data-slider-related>

                        {% for event in related.event %}
                            <div>

                                <div class="row">

                                    <div class="col-md-12 col-md-push-2">
                                        {% include 'agenda/includes/event_linecard.html' %}
                                    </div>

                                </div>

                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if related.other %}
    <div class="pb2">
        <div class="container">
            <div class="row tac">
                <div class="col-xs-16">
                    <h2 class="section-title section-title--underline section-title--uppercase section-title--main">{% trans "Linked contents" %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xxs-16">
                    <div data-slider-related>

                        {% for concrete_object in related.other %}
                            {% if forloop.counter0 == 0 or forloop.counter|divisibleby:3 %}
                                <div class="container">
                                    <div class="row">
                            {% endif %}

                            <div class="col-xs-6 col-xs-push-2">
                                {% with app_label=concrete_object|app_label_short classname=concrete_object|classname|lower object=concrete_object  %}
                                    {% with app_label|add:"/"|add:classname|add:"/includes/"|add:classname|add:"_card.html" as template %}
                                        {% include template %}
                                    {% endwith %}
                                {% endwith %}
                            </div>

                            {% if forloop.last or forloop.counter|divisibleby:2 %}
                                </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block page_sidebar %}
    <div class="" data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="1171">
        {% include "includes/share_buttons.html" %}
    </div>
{% endblock %}

{% block page_link %}
    {% with person.links.all as links %}
        {% if links %}
            {% include 'core/inc/link.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}
