{% load mezzanine_tags keyword_tags i18n organization_tags staticfiles %}

<div class="">
    <div class="media-box media-box--{{object|get_media_type|lower}}">
        <a class="media-box__image-container" href="{% url 'organization-media-overlay' object.slug %}" data-video-overlay>
            <figure class="media-box__image media-box__image--video">
                {% if object.poster_url %}
                    <img src="{{ object.poster_url }}">
                {% else %}
                    <div class="media-box__placeholder"></div>
                {% endif %}
            </figure>
        </a>
        <a class="media-box__content" href="{% url 'organization-media-detail' object|get_media_type|lower object.slug %}">
            <h2 class="media-box__title">{{ object.title }}</h2>
            <div class="media-box__type">
                {{ object|get_media_type }}
            </div>
            {% if object.description %}
                <div class="media-box__desc">
                    {{ object.description|richtext_filters|safe|truncatechars_html:200 }}
                </div>
            {% endif %}
        </a>
    </div>
</div>
