<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}
{% get_language_info_list for LANGUAGES as languages %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% spaceless %}{% block meta_title %}{% endblock %}{% endspaceless %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "img/favicons/apple-touch-icon-152x152-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "img/favicons/apple-touch-icon-120x120-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "img/favicons/apple-touch-icon-76x76-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "img/favicons/apple-touch-icon-60x60-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/favicons/apple-touch-icon-144x144-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/favicons/apple-touch-icon-114x114-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/favicons/apple-touch-icon-72x72-precomposed.png" %}">
	<link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicons/apple-touch-icon.png" %}">
	<link rel="shortcut icon" href="{% static "img/favicons/favicon.ico" %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicons/favicon-96x96.png" %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Slab:700|Roboto:300,400,500,700,900|Oswald" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqF2kIHtUASr67QP-1bXRd6FPELDS4FSs&libraries=geometry"></script>

    {% compress css %}
    <link rel="stylesheet" href="{% static "vendors/font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "vendors/lightslider/dist/css/lightslider.css" %}">
    <link rel="stylesheet" href="{% static "vendors/lightgallery/dist/css/lightgallery.css" %}">
    <link rel="stylesheet" href="{% static "vendors/pushy/css/pushy.css" %}">
    <link rel="stylesheet" href="{% static "vendors/video.js/dist/video-js.css" %}">
    <link rel="stylesheet" href="{% static "css/index.min.css" %}">
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{% endblock %}">
    {% spaceless %}

    {% block sidebar %}
        <div class="pushy pushy-left">
            {% include "includes/sidebar.html" %}
        </div>
    {% endblock %}

    {% block site_overlay %}
        <div class="site-overlay">
        </div>
    {% endblock %}

    {% block breaking_news %}
    {% endblock %}

    {% block header %}
        <div id="jsHeader" class="header push" data-sticky data-sticky-detach-at="0">
            <div class="container">
                <div class="row header__nav">
                    <div class="col-md-16 tal">
                        <div id="navHeader">
                            {% page_menu "pages/menus/header.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block hero %}
    {% endblock %}

    {% block container %}
        <div id="container">
            <main class="main" role="main">
                {% block content_header %}{% endblock %}
                {% block main %}{% endblock %}
                {% block content_footer %}{% endblock %}
            </main>

            {% block social %}
                {% include "includes/social.html" %}
            {% endblock %}

            {% block footer %}
                <footer class="footer" role="footer">
                    {% include "includes/footer.html" %}
                </footer>
            {% endblock %}
        </div>
    {% endblock %}

    {% block overlay_container %}
    <div class="overlay" id="overlay">
        <a href="#" id="overlayClose" class="overlay__close">
        </a>
        <div class="overlay__container">
            <div class="overlay__content">
                <div id="overlayContent">
                </div>
                <div class="overlay__loader" id="overlayLoader">
                    <i class="loading"></i>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% search_form %}

    {% block footer_scripts %}
        {% include "includes/footer_scripts.html" %}
    {% endblock %}

    {% endspaceless %}

</body>
</html>
