{% extends "base.html" %}
{% load i18n pages_tags mezzanine_tags %}

{% block meta_title %}
    {% trans "Home" %}
{% endblock %}

{% spaceless %}
{% block body_class %}
    home
{% endblock %}
{% endspaceless %}

{% block hero %}

    {% include "home/inc/hero.html" %}

{% endblock %}

{% block main %}

    {% include "includes/calendar.html" %}

    {% include "home/inc/slider.html" %}

    {% include "home/inc/body.html" %}

    <div class="mt4">
        {% include "home/inc/bio.html" %}
    </div>

{% endblock %}
