{% load i18n pages_tags mezzanine_tags %}

<div class="artist__item msry__item">
    <div class="artist__item__inner">
        <a href="{% url 'festival-artist-detail' artist.slug %}" class="artist__item__inner">
            <figure class="artist__item__img">
                <img src="{{ MEDIA_URL }}{% thumbnail artist.featured_image 500 0 %}" alt="Portrait {{ artist.name }}">
            </figure>
            <h3 class="artist__item__name">
                <span>
                    {{ artist.name }}
                </span>
            </h3>
        </a>
    </div>
</div>
