{% load i18n pages_tags %}
{% get_language_info_list for LANGUAGES as languages %}

{% spaceless %}
{% if page_branch_in_menu %}
    {% for page in page_branch %}
        {% if page.is_primary %}
            {% if forloop.first %}
                <div class="nav__footer">
                <ul class="nav__footer__list  list-inline">
            {% endif %}
            {% if page.in_menu %}
                {# <ul class="list-unstyled"> #}
            {% endif %}
        {% endif %}
        {% if page.in_menu %}
            {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
            {% endif %}
            <li class="nav__footer__item {% if page.is_current_or_ascendant %}is-active{% endif %}" id="footer-menu-{{ page.html_id }}">
                <h2>
                    <a class="nav__footer__item__link" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                </h2>
            </li>
        {% endif %}
        {% if page.in_menu and page.has_children_in_menu %}{% page_menu page %}{% endif %}
        {% if page.in_menu %}
            {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
            {# </li> #}
            {% endif %}
            {# </ul> #}
        {% endif %}
        {% if page.is_primary %}
            {% if page.in_menu %}
            {# </ul> #}
            {% endif %}
            {% if forloop.last %}
            </ul>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endspaceless %}
