{% load i18n pages_tags staticfiles %}
{% get_language_info_list for LANGUAGES as languages %}

{% spaceless %}
{% if page_branch_in_menu %}
    {% for page in page_branch %}
        {% if page.is_primary %}
            {% if forloop.first %}
                <ul class="nav-header" role="navigation">
                    <li class="nav-header__item nav-header__item--image">
                        <a href="/" title="{% trans 'Home' %}"><img src="{% static "img/logo-ircam.png" %}" width="118" height="80" /></a>
                    </li>
            {% endif %}
        {% endif %}
        {% if page.in_menu %}
            <li class="nav-header__item {% if page.is_current_or_ascendant %}active{% endif %}">
                <a class="nav-header__item-link" href="{{ page.get_absolute_url }}" title="{{ page.title }}">{{ page.title }}</a>
            </li>
        {% endif %}
        {% if page.is_primary %}
            {% if forloop.last %}
                <li class="nav-header__item nav-header__item--special">
                    <a href="{% url 'event_list' %}"><span class="fss ffss">rendez-vous</span><br /><span class="fsxxxl ffss">15.16</span></a>
                </li>
                <li class="nav-header__item nav-header__item--image">
                    <a href="http://manifeste.ircam.fr" target="_blank" title="{% trans 'Manifest' %}"><img src="{% static "img/logo-manifest.png" %}" width="83" height="65" /></a>
                </li>
                <li class="nav-header__item nav-header__item--special nav-header__item--centered">
                    <a href="" class="fsxl"><i class="fa fa-search" aria-hidden="true"></i></a>
                </li>
            </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endspaceless %}
