{% load i18n pages_tags organization_tags %}

{% spaceless %}

{% if page_branch_in_menu %}
    {% with page as current_page %}
        {% if branch_level == 0 %}
            {% for page in page_branch %}
                {% if forloop.first %}
                    <ul class="nav-tree nav-tree--level-{{ branch_level }}" data-sticky data-sticky-parent="page" data-sticky-offset="100" data-sticky-detach-at="971">
                {% endif %}
                {% if page.in_menu and page.has_children_in_menu %}
                        <li class="nav-tree__item">
                            <a class="nav-tree__link{% if page.is_current %} active{% endif %}" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                        </li>
                {% endif %}
                {% if forloop.last %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if branch_level == 1 %}
            {% for page in page_branch %}
                <li class="nav-tree__item">
                    <a class="nav-tree__link{% if page.is_current or page.is_current_or_ascendant %} active{% endif %} {% if page|has_alinea %}alinea{% endif %}" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                    <ul class="nav-tree nav-tree--level-{{ branch_level }}">
                        {% page_menu page %}
                    </ul>
                    <ul class="nav-tree" data-summary>
                        {% include "pages/menus/current_tree_summary.html" %}
                    </ul>
                </li>
            {% endfor %}
        {% endif %}

    {% endwith %}
{% endif %}
{% endspaceless %}
