{% extends "base.html" %}
{% load i18n mezzanine_tags keyword_tags organization_tags pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block main %}

    <div class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}">
        <div class="container">

            <div class="row">

                <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2">
                    {% block page_tags %}
                    {% endblock %}
                </div>

            </div>

            <div class="row">

                <div class="col-sm-9 col-sm-push-3 col-lg-9 col-lg-push-2 white-bg">
                    {% block page_title %}
                        {{ page.title }}
                    {% endblock %}
                </div>

            </div>

            <div class="row">

                <div class="col-sm-3 col-lg-2 page__sidebar">
                    <div style="position: relative;">


                    {% block page_sidebar %}
                        {% if page.get_ascendants|length < 2 %}
                            {% page_menu "pages/menus/current_tree_primary.html" %}
                        {% endif %}
                        {% if page.get_ascendants|length == 2 %}
                            {% page_menu "pages/menus/current_tree_secondary.html" %}
                        {% endif %}
                    {% endblock %}
                    </div>
                </div>
                <div class="mb2 col-sm-9 col-lg-9 white-bg page__content" data-summary-content>
                    {% block page_content %}
                        {{ page.content }}
                    {% endblock %}
                    {% block page_link %}
                        {% with object.links.all as links %}
                            {% if links %}
                                {% include 'core/inc/link.html' %}
                            {% endif %}
                        {% endwith %}
                    {% endblock %}
                    {% block page_file %}
                        {% with object.files.all as files %}
                            {% if files %}
                                {% include 'core/inc/files.html' %}
                            {% endif %}
                        {% endwith %}
                    {% endblock %}
                    {% block page_audio %}
                        {% for related in object.playlists.all %}
                            {% with related.playlist as playlist %}
                                {% if playlist.type == 'audio' %}
                                    {% include 'media/inc/playlist_audio_detail.html' %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endblock %}
                </div>

            </div>

        </div>

        {% block page_slider %}
        {% with object.images.all|get_type:'page_slider' as slider_images %}
            {% if slider_images %}
                {% include 'core/inc/slider.html' %}
            {% endif %}
        {% endwith %}
        {% endblock %}

        {% block page_video %}
            {% for related in object.playlists.all %}
                {% with related.playlist as playlist %}
                    {% if playlist.type == 'video' %}
                        {% include 'media/inc/playlist_video_slider.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endblock %}

        <div class="white-bg">

            {% block page_person_list %}
            {% endblock %}

            {% block page_sub_content %}
                {% with object.blocks.all as blocks %}
                    {% include "core/inc/block.html" %}
                {% endwith %}
            {% endblock %}

            {% block related_project %}
            {% endblock %}

            {% block products %}
            {% endblock %}

            {% block page_sub_content_2 %}
            {% endblock %}

            {% block logo %}
            {% endblock %}

        </div>

    </div>

    <div class="white-bg">

        {% block page_related_content %}
            {% with page.dynamic_content_pages.all as dynamic_content %}
                {% include "core/inc/related_content.html" %}
            {% endwith %}
        {% endblock %}

    </div>


{% endblock %}
