{% extends "pages/page.html" %}
{% load i18n mezzanine_tags keyword_tags  pages_tags organization_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block page_class %}
    department
{% endblock %}

{% block body_class %}
    {% with page.get_ascendants|last as top_level_parent %}
        {% if top_level_parent.get_content_model.weaving_css_class %}
        pattern pattern-bg {{ top_level_parent.get_content_model.weaving_css_class }}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block page_title %}
    {% editable page.projecttopicpage.title %}
        <h1 class="dotted">{{ page.projecttopicpage.title }}</h1>
    {% endeditable %}
{% endblock %}

{% block page_content %}
    {% with page.get_ascendants|last as top_level_parent %}
        {% if linked_organization_content and research_slug == top_level_parent.slug %}
            {% include 'pages/page/includes/linked_organization_content.html' %}
        {% endif %}
    {% endwith %}

    {% if page.projecttopicpage.sub_title %}
        {% editable page.projecttopicpage.sub_title %}
            <div class="chapo">
                {{ page.projecttopicpage.sub_title }}
            </div>
        {% endeditable %}
    {% endif %}

    {% with page.projecttopicpage.project_topic as topic %}
        {% for sub_topic in topic|sub_topics %}
            <h2 class="dotted">{{ sub_topic.name }}</h2>
            {% if sub_topic.description %}
                <p>
                    {{ sub_topic.description }}
                </p>
            {% endif %}
            {% if sub_topic.projects.all %}
                <div class="row">
                    {% for project in sub_topic.projects.all %}
                        <div class="col-sm-6">
                            <h3 class="mt0 mb0">
                                <a href="{% url 'organization-project-detail' project.slug %}">
                                    {{ project }}
                                </a>
                            </h3>
                            <p>
                                {{ project.description }}
                            </p>

                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}

{% endblock %}
