{% load i18n %}
<div class="page__block page__block--accent">
    <div class="container">
        <div class="row">
            <div class="col-xs-16 col-md-16 col-lg-14 col-lg-push-1">
                {{ host_organization.bio|safe }}
                <h2>hello</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus blanditiis ullam inventore nesciunt cumque rem. Nostrum debitis perferendis sed soluta molestiae. Commodi quis repudiandae voluptates delectus, laudantium libero corporis tenetur!
                </p>
            </div>
        </div>
    </div>
</div>
