{% load organization_tags i18n %}
<h2>{{ body.content_object.title }}<h2><br/>
<p>{{ body.content_object.description|slice:":500" }}</p>
{% with body.content_object.images.all|get_type:'card' as image %}
  {% if image %}
    <img src="{{ MEDIA_URL }}{{ image.first.file }}" title="" /><br/>
  {% endif %}
{% endwith %}
<a href="{{ body.content_object.get_absolute_url }}" title="{{ body.content_object.title }}">{{ body.content_object.title }}</a><br/>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br/>
