{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}
{% if home.dynamiccontenthomeslider_set.all|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-sm-16">
                <div class="slider-home">
                    <ul data-slider-home>
                        {% for slider in home.dynamiccontenthomeslider_set.all %}
                                {% with slider.content_object.images.all|get_type:'slider' as images %}
                                    {% if images %}
                                        <li class="slider-home__slide">
                                            <div class="row">
                                                <div class="col-sm-12 col-sm-push-2">
                                                    <a href="{{ slider.content_object.get_absolute_url }}" class="slider-home__wrapper">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <div class="slider-home__image-container">
                                                                    <img class="slider-home__image" src="{{ MEDIA_URL }}{% thumbnail images.0.file 478 366 %}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-8">
                                                                <div class="slider-home__content">
                                                                    <div class="article-box article-box--inline" href="{{ slider.content_object.get_absolute_url }}" title="{{ slider.content_object.title }}">

                                                                        <div class="article-box__content tal">
                                                                            <h3 class="article-box__title">{{ slider.content_object.title }}</h3>

                                                                            {% if slider.content_type.model == 'article' %}
                                                                            <div class="article-box__tags">
                                                                                {% trans 'News' %}
                                                                            </div>
                                                                            {% elif slider.content_type.model == 'event' %}
                                                                                {% if slider.content_object.category %}
                                                                                    <div class="article-box__tags">
                                                                                        {{ slider.content_object.category }}
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endif %}

                                                                            <div class="article-box__subtitle">
                                                                                {% if slider.content_type.model != 'event' %}
                                                                                    {{ slider.content_object.sub_title }}
                                                                                {% endif %}
                                                                                {% if slider.content_object.start %}
                                                                                    {% with slider.content_object as event %}
                                                                                        {% if slider.content_object.sub_title %}
                                                                                            <br />
                                                                                        {% endif %}
                                                                                        {% include 'agenda/includes/event_date_slider.html' %}
                                                                                    {% endwith %}
                                                                                {% endif %}
                                                                                {% if slider.content_object.location %}
                                                                                     <br /><span>{{ slider.content_object.location }}</span>
                                                                                {% endif %}
                                                                            </div>
                                                                            <div class="article-box__desc">
                                                                                {{ slider.content_object.description|richtext_filters|safe|truncatechars_html:200 }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endwith %}

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}
