{% extends "pages/page.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags %}

{% block meta_title %}{{ location.title }}{% if location.room %} - {{ location.room }}{% endif %}{% endblock %}

{% block page_class %}
    location
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ location.title }}{% if location.room %} - {{ location.room }}{% endif %}</li>
{% endblock %}

{% block page_title %}
    {% editable location.title %}
        <h1 class="dotted">{{ location.title }}{% if location.room %} - {{ location.room }}{% endif %}</h1>
    {% endeditable %}
{% endblock %}



{% block page_content %}
    {% if location.description %}
        {{ location.description|safe }}
    {% endif %}
    <p><a href="{{ location.link }}" target="_blank">{{ location.link }}</a></p>

{% endblock %}

{% block page_sidebar %}
    <div class="page__meta" data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="971">
        <p class="page__meta-text">
            {{ location.address }}
        </p>
        <a href="{{ location|google_nav_url }}" target="_blank" class="location__map">
          {% google_static_map location 900 300 15 %}
        </a>
        <p class="page__meta-text">
            <a class="button button--block" href="{% url "event_list_location" location.slug %}" class="sidebar__entry">{% trans "Viewing events for the location" %}</a>
        </p>
    </div>
{% endblock %}
