{% extends "pages/page.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags event_tags organization_tags %}

{% block meta_title %}{{ event.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for event as tags %}
{% for tag in tags %}
    {% if not forloop.first %}, {% endif %}
    {{ tag }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ event.description }}
{% endmetablock %}{% endblock %}

{% block page_class %}
    event
{% endblock %}

{% block page_title %}
    <h1 class="section-title section-title--uppercase section-title--main"><a href=""><i class="fsl fa fa-angle-left"></i>{% trans "Back to events" %}</a></h1>
    {% include 'agenda/includes/event_linecard.html' %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item">
        <a href="{% url 'event_list' %}" class="breadcrumb__link">{% trans "Agenda" %}</a>
    </li>
    <li class="breadcrumb__item active">{{ event.title }}</li>
{% endblock %}

{% block page_content %}
    {% block event_detail_content %}
        {% if event.content %}
            {% editable event.content %}
                {{ event.content|richtext_filters|safe }}
            {% endeditable %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block page_link %}
    <div class="mt4">
        <div class="row">
            {% if child %}
                {% with child.links.all as links %}
                    {% if links %}
                        <div class="col-xs-6">
                            {% include 'core/inc/link.html' %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% else %}
                {% with event.links.all as links %}
                    {% if links %}
                        <div class="col-xs-6">
                            {% include 'core/inc/link.html' %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}
            {% if event.mentions %}
                <div class="col-xs-6">
                    <div class="small-text">
                        {{ event.mentions }}
                   </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block page_audio %}
    {% with event as object %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block page_slider %}
    {% with event as object %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block page_video %}
    {% with event as object %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block page_person_list %}
    {% if event.persons.all %}
        <div class="white-bg pb2">
            <hr class="mt0" />
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2" data-summary-content>
                        <h2 class="dotted">
                            {% if event.trainings.all %}
                                {% trans "Trainers" %}<br>
                            {% else %}
                                {% trans "Persons" %}<br>
                            {% endif %}
                        </h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2">
                        {% for person in event.persons.all %}
                                {% with person.person as person %}
                                    {% include "network/inc/person/person_card_circle.html" %}
                                {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block page_sub_content %}
    {% with event.blocks.all as blocks %}
        {% include "core/inc/block.html" %}
    {% endwith %}
{% endblock %}

{% block page_sidebar %}
    <div class="page__meta" data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="971">
        {% block event_detail_postedby %}
            {% editable event.start event.end event.location %}
                {% with True as unit_booking %}
                    {% include 'agenda/includes/event_metainfo.html' %}
                {% endwith %}
            {% endeditable %}
        {% endblock %}
        {% set_short_url_for event %}
        {% with event as object %}
            {% with True as is_event %}
                {% include "includes/share_buttons.html" %}
            {% endwith %}
        {% endwith %}
    </div>
{% endblock %}

{% block page_related_content %}
    {% with dynamic_content=event.dynamic_content_event.all object=event %}
        {% include "core/inc/related_content.html" %}
    {% endwith %}
{% endblock %}
