{% extends "pages/page.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags staticfiles pages_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
        {% trans "Rendez-vous in Paris" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description|safe }}
    {% endmetablock %}
{% endblock %}

{% block breadcrumb_menu %}
    {% page_menu "pages/menus/breadcrumb_event.html" %}
{% endblock %}

{% block main %}
    <div class="page page--{% spaceless %}{% block page_class %}{% endblock %}{% endspaceless %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2">
                    <h1 class="dotted">
                        {% if tag and tag|tag_is_excluded %}
                            {% trans "On tour" %}
                        {% elif is_archive %}
                            {% trans 'Archives' %}
                        {% else %}
                            {{ page.title }}
                        {% endif %}
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 col-lg-2 page__sidebar">
                    <div style="position: relative;" >
                        {% if tag and not tag|tag_is_excluded or not tag and not is_archive %}
                        <a class="banner banner--light banner--sidebar hide-until-sm" href="{% url 'event_list_tag' 'tournees' %}" style="background-image:url({% static 'img/services/tours.jpg' %});">
                            <div class="banner__content">
                                <div class="banner__title fsxxxl">{% trans "On tour" %} {{ current_season_styled }}
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        <div class="nav-tree-wrapper" data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="971">
                            {% page_menu "pages/menus/current_tree_event.html" %}


                            {% if tag and not tag|tag_is_excluded or not tag and not is_archive %}
                                <ul class="nav-tree nav-tree--level-{{ branch_level }}">
                                {% keywords_for mezzanine_agenda.event as tags %}
                                    {# {% all_events as all_events %}#}
                                    {% if tags %}
                                        {% comment %}
                                            <a href="{% url 'event_list' %}" class="button{% if not tag %} button--black{% else %} button--white{% endif %}">{% trans "All events" %}</a>
                                        {% endcomment %}
                                        {% for t in tags %}
                                            {% if not t|tag_is_excluded %}
                                                <li class="nav-tree__item">
                                                    <a class="nav-tree__link--filter nav-tree__link{% if tag == t %} active{% endif %}" href="{% if tag == t %}{% url 'event_list' %}{% else %}{% url "event_list_tag" t.slug %}{% endif %}">
                                                        {{ t }} {% if tag == t %}<i class="fa fa-times"></i>{% endif %}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="mb2 col-sm-9 col-lg-10 page__content" data-summary-content>
                    <div class="page__content">
                        <div class="container">
                            {% for event in events %}
                                {% include 'agenda/includes/event_linecard.html' %}
                            {% endfor %}
                            {% if tag and not tag|tag_is_excluded or not tag and not is_archive %}
                            <a class="banner banner--light banner--sidebar hide-from-sm" href="{% url 'event_list_tag' 'tournees' %}" style="background-image:url({% static 'img/services/tours.jpg' %});">
                                <div class="banner__content">
                                    <div class="banner__title fsxxxl">{% trans "On tour" %} {{ current_season_styled }}
                                    </div>
                                </div>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
