{% extends "base.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Events" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{{ page.title }}
{% else %}
{% trans "Program" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or location or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if location %}
    {% trans "Location:" %} {{ location }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}
{% if tag or location or year or month or author %}
    {% block event_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing events tagged" %} {{ tag }}
    {% elif location %}
        {% trans "Viewing events for the location" %} {{ location }}
    {% elif year or month %}
      {% if not day %}
         {% trans "Viewing events from" %} {% if month %}{{ month }}, {% endif %}{{ year }}
      {% else %}
         {% trans "Viewing events from" %} {{ day_date }}
      {% endif %}
    {% elif author %}
        {% trans "Viewing events by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block event_list_pagecontent %}
    {{ page.richtextpage.content|richtext_filters|safe }}
    {% endblock %}
    {% endif %}
{% endif %}

<div class="msry__container">
    <div class="msry__sizer">
{% for event in events.object_list %}
 {% include 'agenda/includes/event_card.html' %}
{% endfor %}
    </div>
</div>

{# <a href='{% icalendar_url %}' target="_blank" class="small  push-ical">{% trans "Subscribe to all events in" %} Google Calendar/Outlook/iCal</a>#}

{% pagination_for events %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% endblock %}

{% block right_panel %}
{% include "agenda/includes/filter_panel.html" %}
{% endblock %}
