<div class="artist__item {% if not on_home %}msry__item {% endif %}">
    <div class="artist__item__inner">
        <a href="{% url 'blog_post_detail' post.slug %}" class="artist__item__inner">
            <figure class="artist__item__img">
                <img src="{{ post.featured_image.url }}" alt="Article: {{ post.title }}">
            </figure>
            <h3 class="artist__item__name">
                <span>
                    {{ post.title }}
                </span>
            </h3>
        </a>
    </div>
</div>
