{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}

<div class="footer__content">
    <div class="container">

        <div class="row">

            <div class="col-xxs-16 col-sm-push-1 col-sm-4">

                <a href="{% url "home" %}" title="{% trans 'Home' %}">
                    {% with host_organization.images|get_type:"logo_footer" as images %}
                      {% if images %}
                       {% with images|first as img %}
                        <img src="{{ MEDIA_URL }}{{ img }}" title="{{ img.title }}" width="151" />
                       {% endwith %}
                      {% endif %}
                    {% endwith %}
                </a>

                {% if linked_organization_footer %}
                    {% include 'pages/page/includes/linked_organization_footer.html' %}
                {% endif %}

            </div>

            <div class="col-xxs-16 col-sm-push-1 col-sm-10">

                <div class="row">

                    <div class="col-xxs-16">

                        NEWSLETTER HERE

                    </div>

                </div>

                <div class="row">

                    <div class="col-xxs-16 col-sm-8">

                        {% page_menu "pages/menus/footer_vertical.html" %}

                    </div>

                    <div class="col-xxs-16 col-sm-8">

                        {% for link in host_organization.links.all %}
                            <a class="footer__follow-link {{ link.link_type.slug }}" href="{{ link.url }}" target="_blank" title="{% trans 'Follow us on' %} {{ link.title }}"><i class="fa fa-{{ link.link_type.slug }}{% if link.link_type.fa_option %}-{{ link.link_type.fa_option }}{% endif %}"></i></a>
                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

        {% comment %}
            Additional menu
        {% endcomment %}
        <div class="row">
            <div class="col-xxs-16 col-sm-12 col-sm-push-1 tac">
                {% page_menu "pages/menus/footer_horizontal.html" %}
            </div>
        </div>

        {% comment %}
            Copyright
        {% endcomment %}
        <div class="row">
            <div class="col-xxs-16 col-sm-12 col-sm-push-1 tac">
                Copyright &copy; {% current_year %} {{ host_organization.name }}. {% trans "All rights reserved" %}.
            </div>
        </div>

    </div>
</div>
