{% load mezzanine_tags i18n staticfiles %}

{% compress js %}
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "vendors/overflow.js/js/overflow.js" %}"></script>
    <script src="{% static "js/index.min.js" %}"></script>
{% block extra_js %}{% endblock %}
{% editable_loader %}
{% endcompress %}

<script>
{% if settings.GOOGLE_ANALYTICS_ID and not request.user.is_staff %}
var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ID }}']);
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
{% endif %}
</script>
