{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}
{% if settings.USE_MODELTRANSLATION and languages|length > 1 %}
    {% nevercache %}
        {% include "includes/language_selector.html" %}
    {% endnevercache %}
    <ul class="lang-switcher" id="langSelector">
        {% for language in languages %}
            {% if language.code == LANGUAGE_CODE %}
                <li class="lang-switcher__item active">
                    <a href="#">
                      {{ language.code|title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% for language in languages %}
            {% if language.code != LANGUAGE_CODE %}
                <li class="lang-switcher__item">
                    <a href="#" data-lang="{{ language.code }}">
                      {{ language.code|title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
