// ****************************************************************
// _Layout
// ****************************************************************

.container {
    @extend .clearfix;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;

    @media (min-width : $desktop) {
        max-width: 960px;
    }
    @media (min-width : $desktop_large) {
        max-width: 1140px;
    }
    @media (min-width : $desktop_xlarge) {
        max-width: 1420px;
    }
}

.row {
    @extend .clearfix;
    display: block;
}

.main {
  display: block;
  margin: 1rem auto;
  @media (min-width : $desktop ) {
    float: left;
    width: 70%;
    padding-right: .5rem;
  }
}

.aside {
  display: block;
  @media (min-width : $desktop ) {
    float: left;
    width: 30%;
    padding-left: .5rem;
  }
}

