// ****************************************************************
// _Breaking News
// ****************************************************************

.bk__news {
  display: block;
  margin: 2rem auto 0;
  // // padding-top: 3rem;
  // @media (min-width : $desktop ) {
  //   float: left;
  //   width: 65%;
  //   padding-right: 1rem;
  // }

  &__inner {
    padding: 2rem 1rem;
    background: #fff;
    border: 1px solid $main_color;
    border-left: 1rem solid $main_color;
    @media (min-width : $desktop ) {
        width: 60%;
        margin: 0 auto;
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: $header_font_family;
    text-align: right;
    font-size: 1.3rem;
    font-weight: $bold;
    color: $main_color;
    line-height: 1.1;
  }

&__content {
  strong {
    text-transform: uppercase;
  }
}


}