.event__card {
  padding: 0.5rem;
  background: $white;
  margin-bottom: 1rem;
  transition: .3s;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  display: block;
  float: left;
  width: 100%;
  &--alt {
    @extend .event__card;
    background: $main_color_alt;
    color: white;
  }

  @media (min-width : $tablet ) {
      float: left;
      width: 31%;
      // margin: 0 .5rem 1rem .5rem;
      &:hover {
        box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.8);
        transform: scale(1.01);
      }
  }

&--full {
  @extend .event__card;

  @media (min-width : $desktop ) {
    width: 100%;
    display: block;
  }
}

}

.event__name {
 margin: 0 0 0.3rem;
 font-size: 1rem;
 text-transform: uppercase;
}

.event__thumbnail {
  display: block;
  // float: left;
  margin: -.5rem -.5rem 1rem;
}

.event__description {
  padding-bottom: 1em;
  // border-bottom: 1px solid $gray;
  margin-bottom: 1em;
  img {
    display: block;
  }
}

.event__meta {
  display: block;
  padding: .5rem 0;
  // background: #e8e8e8;
  font-family: $base_font_family;
  font-weight: $bold;
  text-transform: uppercase;
  color: $black;
  // margin-bottom: 1rem;
  font-size: 0.7rem;

  &__inner {
    display: block;
    // float: left;
    padding: 0.1rem 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  &__btn {
    padding: 0.1rem 2rem;
    background: $main_color;
    color: $white;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border-radius: 2px;
    margin-top: .3rem;
    line-height: 2;
    float: right;
  }
}

.event__meta + .event__meta {
  padding-top: 0;
  margin-top: -.3rem;
  .event__meta__inner {
      border-top: none;
  }
}

.event__meta--alt {
  @extend .event__meta;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1rem;

  .event__meta__inner {
      border-top: none;
      border-bottom: none;
  }

  .event__meta__location {
    color: white;
  }
}

.event__meta__location {
  display: block;
  // float: right;
  // padding: 0.3rem 0;
  text-decoration: none;
  // border-bottom: 1px solid #000;
  color: $black;
  font-weight: $regular;
}

.event__meta__cta {
  text-transform: uppercase;
  display: block;
  // float: right;
  padding: .5rem;
  background: $white;
}

.event__detail,
.event__detail a {
  text-align: right;
  color: $base_font_color;
}

// f041