{% load mezzanine_tags %}
<a href="{{ object.get_absolute_url }}" title="{{ object.title }}" class="page-box">
    <div class="page-box__image">
        
        <img src="{{ MEDIA_URL }}{% thumbnail object.get_content_model.photo_card 900 400 %}" />
    </div>
    <div class="page-box__content">
        <div>
            <h2 class="page-box__title">{{ object.title }}</h2>
            <div class="page-box__subtitle">
                {{ object.get_content_model.sub_title }}
            </div>
        </div>
    </div>
</a>
