{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags %}

{% block meta_title %}{% trans "Media" %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for person as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block page_class %}
    media
{% endblock %}

{% block page_title %}
    {% editable media.title %}
        <h1 class="section-title section-title--big section-title--uppercase section-title--main">{{ media.title }}</h1>
    {% endeditable %}
{% endblock %}

{% block page_sidebar %}

    <div data-sticky data-sticky-parent="row" data-sticky-offset="100" data-sticky-detach-at="971">
        <div class="page__meta-title">
            {% trans 'Publish date' %}
        </div>
        {% editable media.publish_date %}
            <div class="page__meta-text">
                {{ media.publish_date|date:"DATE_FORMAT" }}
            </div>
        {% endeditable %}
        <div class="page__meta-separator">

        </div>
        {% with media as object %}
            <div class="">
                {% include "includes/share_buttons.html" %}
            </div>
        {% endwith %}
    </div>

{% endblock %}

{% block page_content %}

    {% if media.description %}
        <p>
            {{ media.description }}
        </p>
    {% endif %}

    <div class="embed-responsive">
        <video controls id="video-js-playlist" class="video-js vjs-ircam-skin" data-title="{{ media.title }}" {% if media.poster_url %}poster="{{ media.poster_url }}"{% endif %}>
        </video>
    </div>
    <ol class="video-playlist">
        {% spaceless %}
            <li class="video-playlist__item{% if forloop.first %} playing{% endif %}"><a href="#" data-poster="{{media.poster_url }}" data-src="{% for transcoded in media.transcoded.all %}{% if forloop.first %}{% else %},{% endif %}{{ transcoded.url }}{% if forloop.last %}{% endif %}{% endfor %}" data-mime="{% for transcoded in media.transcoded.all %}{% if forloop.first %}{% else %},{% endif %}{{ transcoded.mime_type }}{% if forloop.last %}{% endif %}{% endfor %}"><span>{{ media.title }}</span></a></li>
        {% endspaceless %}
    </ol>

{% endblock %}

{% block page_video %}

{% endblock %}
