{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}
{% trans "Error" %}
{% endblock %}

{% block title %}
{% trans "Error" %}
{% endblock %}

{% block main %}
<div class="panel panel-danger">
	<div class="panel-heading"><h3 class="panel-title">{% trans "Error" %}</h3></div>
	<div class="panel-body">{% trans "Sorry, an error occurred." %}</div>
</div>
{% endblock %}

{% block page_class %}
	custompage
{% endblock %}

{% block page_title %}
	<h1 class="dotted">{% trans "Error" %}</h1>
{% endblock %}

{% block page_content %}
	<p>
		{% trans "Sorry, an error occurred." %}
	</p>
{% endblock %}
