{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

<a class="article-box" href="{% url 'magazine-article-detail' article.slug %}">
    <div class="article-box__header">
        <figure class="article-box__image">
          {% with article.images.all|get_type:'card' as image %}
            <img src="{{ MEDIA_URL }}{% thumbnail image.file 427 286 top=0.5 left=article.photo_alignment|get_photo_alignment %}" data-src="{{ MEDIA_URL }}{% thumbnail image.file 427 286 %}" class="lazyload" />
          {% endwith %}
        </figure>
        <div class="article-box__tags">
            <div class="tag tag--small tag--category">
                {% trans 'News' %}
            </div>
            {% if article.department %}
            <div class="tag tag--small dashed dashed--gray">
              {{ article.department.name }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="article-box__content tal">
        <h3 class="article-box__title">{{ article.title }}</h3>
        <div class="article-box__subtitle">
            {{ article.publish_date|date:"DATE_FORMAT" }}
            {% for category in article.categories.all %}
                {% if forloop.first %} | {% endif %}
                {% if not forloop.first %}, {% endif %}
                <strong>{{ category }}</strong>
            {% endfor %}
        </div>
        <div class="article-box__desc">
             {{ article.content|richtext_filters|safe|truncatechars_html:200 }}
        </div>
    </div>
</a>
