{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags %}

<div class="row">

    <div class="col-sm-16">

        <a class="event-line-box" href="{{ event.get_absolute_url }}">

            {% with event.images.all|get_type:'card' as images %}
                {% if images %}
                    <figure class="event-line-box__image">
                        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ MEDIA_URL }}{% thumbnail images.0.file 1030 400 %}">
                    </figure>
                {% else %}
                    <figure class="event-line-box__image">
                        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </figure>
                {% endif %}
            {% endwith %}

            <div class="event-line-box__content">

                {% keywords_for event as tags %}

                <div class="event-line-box__body">
                    <div class="event-line-box__title">
                        {{ event.title }}
                    </div>
                    <div class="event-line-box__date">
                        {% include 'starts_eu/projects/include/project_call_as_event_date_line.html' with object=event %}
                    </div>
                </div>

            </div>

        </a>

    </div>

</div>
