$module: ".dashed";

#{$module} {

    position: relative;
    display: inline-block;
    z-index: 1;

    @include padding-right(2);

    &:before {
        content: '.';
    }

    /*&:after {
        position: absolute;
        height: 40%;
        width: 100%;
        display: block;
        top: 30%;
        left: 0;
        content: "";
        background: $color-main;
        z-index: -1;
    }*/
    background-image: -webkit-linear-gradient(transparent 14px,$color-main 14px,$color-main 34px,transparent 34px);
    background-image:    -moz-linear-gradient(transparent 14px,$color-main 14px,$color-main 34px,transparent 34px);
    background-image:     -ms-linear-gradient(transparent 14px,$color-main 14px,$color-main 34px,transparent 34px);
    background-image:      -o-linear-gradient(transparent 14px,$color-main 14px,$color-main 34px,transparent 34px);
    background-image:         linear-gradient(transparent 14px,$color-main 14px,$color-main 34px,transparent 34px);
    background-repeat: repeat;
    background-size: 16px 48px;

    &--gray {

        &:after {
            background: $color-gray;
        }

    }

    &--center {

        @include padding(0 .5);
        &:before {
            display: none;
        }

    }

    &--small {

        @include padding-right(.5);

        background-image: -webkit-linear-gradient(transparent 7px,$color-main 7px,$color-main 16px,transparent 16px);
        background-image:    -moz-linear-gradient(transparent 7px,$color-main 7px,$color-main 16px,transparent 16px);
        background-image:     -ms-linear-gradient(transparent 7px,$color-main 7px,$color-main 16px,transparent 16px);
        background-image:      -o-linear-gradient(transparent 7px,$color-main 7px,$color-main 16px,transparent 16px);
        background-image:         linear-gradient(transparent 7px,$color-main 7px,$color-main 16px,transparent 16px);
        background-repeat: repeat;
        background-size: 16px 24px;

    }

}
