$module: ".page";

#{$module} {

    &__sidebar {

        @include mq($until: sm) {
            background: white;
        }

    }

    &__slider {

    background: white;

        @include padding-top(3);
        @include padding-bottom(3);

        @include mq($until: sm) {
            @include padding-top(1);
        }

    }

    &__meta {

        @include margin-bottom(2);

    }

    &__meta-separator {

        height: 1px;
        background: black;
        width: 45px;

        @include margin(1 0);

    }

    &__meta-date {

        @include font-size(l);
        @include line-height(1);
        @include typeface(serif);
        font-weight: weight(heavy);

    }

    &__meta-title {

        @include font-size(l);
        @include line-height(1);
        @include typeface(serif);
        font-weight: weight(heavy);

    }

    &__block {

        @include padding-bottom(1);
        background-color: white;

        &--yellow {

            background-color: $color-main;
            @include padding-top(2);
            @include padding-bottom(2);

            h2:first-child {
                margin-top: 0;
            }

        }

        &--black {

            background-color: $color-black;
            color: white;
            @include padding-top(2);
            @include padding-bottom(2);

            h2:first-child {
                margin-top: 0;
            }

        }

        &--red {

            background-color: red;
            color: white;
            @include padding-top(2);
            @include padding-bottom(2);

            h2:first-child {
                margin-top: 0;
            }

        }

        p:last-child {

            margin-bottom: 0;

        }

    }

}
