$module: ".sidebar";

#{$module} {

    @include padding-bottom(1);

    &__menu {

        @include padding(0 1);
        text-align: left;
        list-style-type: none;
        margin: 0;

    }

    &__menu-item {

        @include font-size(xl);
        @include typeface(sans-serif);
        @include line-height(2);
        font-weight: weight(regular);

        a {
            color: black;
            &:hover {
                color: black;
            }
        }

    }

    .col-xs-3 {
        &:first-of-type {
            margin-top: 10px;
        }
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        display: block;
        @include margin(0 0 .5 0);
    }

}
