{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n  %}

{% block meta_title %}{{ article.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for article as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ article.description }}
{% endmetablock %}{% endblock %}

{% block page_class %}
    article
{% endblock %}

{% block body_class %}
    {% if department_weaving_css_class %}
        pattern pattern-bg {{ department_weaving_css_class }}
    {% endif %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ article.title }}</li>
{% endblock %}

{% block page_tags %}

    <div class="tag tag--category">
        {% trans 'News' %}
    </div>
    {% if department_name %}
        <div class="tag dashed dashed--gray">
          {{ department_name }}
        </div>
    {% endif %}

{% endblock %}

{% block page_title %}

    {% editable article.title %}
        <h1 class="dotted">{{ article.title }}</h1>
    {% endeditable %}

    {% editable article.sub_title %}
        <div class="chapo">
            {{ article.sub_title }}
        </div>
    {% endeditable %}

{% endblock %}

{% block page_content %}

    {% editable article.content %}
        {{ article.content|richtext_filters|safe }}
    {% endeditable %}

{% endblock %}

{% block page_slider %}
  {% if article.articleimage_set.all %}
    {% with article.articleimage_set.all as slider_images %}
        {% include 'core/inc/slider.html' %}
    {% endwith %}
  {% endif %}
{% endblock %}

{% block page_related_content %}

    {% if article.related_articles.all %}

        <div class="white-bg pb2">
            <div class="container">
                <div class="row tac">
                    <div class="col-xs-12">
                        <h2 class="dashed dashed--center">{% trans "Also discover" %}</h2>
                    </div>
                </div>
                <div class="row tac">
                    {% for article in article.related_articles.all %}
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            {% include 'magazine/article/includes/article_card.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block page_sidebar %}

    <div class="page__meta">
        {% editable article.publish_date %}
            <h6 class="post-meta">
                {{ article.publish_date|date:"DATE_FORMAT" }}
            </h6>
        {% endeditable %}
        {% with article as object %}
            {% include "includes/share_buttons.html" %}
        {% endwith %}
    </div>

{% endblock %}
