{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n featured_tags %}

{% block meta_title %}{{ article.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for article as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ article.description }}
{% endmetablock %}{% endblock %}

{% block page_class %}
    article
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="active">{{ article.title }}</li>
{% endblock %}

{% block page_title %}

    {% editable article.title %}
        <h1>{{ article.title }}</h1>
    {% endeditable %}

{% endblock %}

{% block page_content %}

    {% editable article.content %}
        {{ article.content|richtext_filters|safe }}
    {% endeditable %}

{% endblock %}

{% block page_sub_content %}
    {{ block.super }}

    {% comment %}
    Don't know why this doesn't work :(
    {% endcomment %}
    
    {% if related_posts %}
        <h2 class="dashed dashed--center">{% trans "Also discover" %}</h2>
        {% for post in related_posts %}
            {% include 'magazine/article/includes/article_card.html' %}
        {% endfor %}
    {% endif %}

    <div class="tac">
        <h2 class="dashed dashed--center">{% trans "Also discover" %}</h2>
        <div class="row">
            {% include 'magazine/article/includes/article_card.html' %}
        </div>
    </div>
{% endblock %}

{% block page_sidebar %}

    <div class="page__meta">
        {% editable article.publish_date %}
            <h6 class="post-meta">
                {{ article.publish_date|date:"DATE_FORMAT" }}
            </h6>
        {% endeditable %}
        {% with article as object %}
            {% include "includes/share_buttons.html" %}
        {% endwith %}
    </div>

{% endblock %}
