{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n featured_tags %}

{% block meta_title %}{{ article.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for article as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ article.description }}
{% endmetablock %}{% endblock %}

{% block page_class %}
    article
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    {% if topic_parent %}
    <li class="breadcrumb__item"><a href="{% url "topic-detail" parent_topic.slug %}" class="breadcrumb__link" title="{{ parent_topic.title }}">{{ parent_topic.title }}</a></li>
    {% endif %}
    {% if department_parent %}
    <li class="breadcrumb__item"><a href="{% url "page" department_parent.slug %}" class="breadcrumb__link" title="{{ department_parent.title }}">{{ department_parent.title }}</a></li>
    {% endif %}

    <li class="breadcrumb__item active">{{ article.title }}</li>
{% endblock %}

{% block page_title %}

    {% if article.keywords %}
      {{ article.keywords.first }} | {{ article.model_name }}
    {% endif %}

    {% editable article.title %}
        <h1>{{ article.title }}</h1>
    {% endeditable %}

    {% editable article.sub_title %}
        <h2>{{ article.sub_title }}</h2>
    {% endeditable %}

{% endblock %}

{% block page_content %}

    {% editable article.content %}
        {{ article.content|richtext_filters|safe }}
    {% endeditable %}

{% endblock %}

{% block page_slider %}
  {% if article.articleimage_set.all %}
    {% with article.articleimage_set.all as slider_images %}
        {% include 'core/inc/slider.html' %}
    {% endwith %}
  {% endif %}
{% endblock %}

{% block page_sub_content %}
    {% if article.related_articles.all %}
        <h2 class="dashed dashed--center">{% trans "Also discover" %}</h2>
        {% for article in article.related_articles.all %}
            {% include 'magazine/article/includes/article_card.html' %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block page_sidebar %}

    <div class="page__meta">
        {% editable article.publish_date %}
            <h6 class="post-meta">
                {{ article.publish_date|date:"DATE_FORMAT" }}
            </h6>
        {% endeditable %}
        {% with article as object %}
            {% include "includes/share_buttons.html" %}
        {% endwith %}
    </div>

{% endblock %}
