{% extends "core/inc/generic_card.html" %}
{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

{% block metatitle %}
    {{ object.title }}
{% endblock %}

{% block title %}
    {{ object.title|truncatechars_html:50 }}
{% endblock %}

{% block url %}
  {% if object.content|removetags:"p div"|slice:':4' == 'http' %}
    {{ object.content|removetags:"p div" }}
  {% else %}
    {% url 'magazine-article-detail' object.slug %}
  {% endif %}
{% endblock %}

{% block target %}
  {% if object.content|removetags:"p div"|slice:':4' == 'http' %}target="_blank"{% endif %}
{% endblock %}

{% block image %}
    {% with object.images.all|get_type:'card' as images %}
        <div class="article-box__image-container">

            {% if images %}
                <figure class="article-box__image">
                    <img src="{{ MEDIA_URL }}{% thumbnail images.0.file 427 300 top=0.5 left=object.photo_alignment|get_photo_alignment %}" class="lazyload" />
                </figure>
            {% else %}
                <figure class="article-box__image">
                    {% if object.department %}
                        <div class="article-box__placeholder {{object.department.name|slugify}}"></div>
                    {% else %}
                        <div class="article-box__placeholder"></div>
                    {% endif %}
                </figure>
            {% endif %}

        </div>
    {% endwith %}
{% endblock %}

{% block content %}
    {{ object.description|richtext_filters|safe|truncatechars_html:200 }}
{% endblock %}

{% block tags %}
    {% comment %}
        {{ object.publish_date|date:"DATE_FORMAT" }}
    {% endcomment %}
    {% for category in object.categories.all %}
        {% comment %}{% if forloop.first %} | {% endif %}{% endcomment %}
        {% if not forloop.first %}, {% endif %}
        {{ category }}
    {% endfor %}
{% endblock %}
