{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags %}
<div class="">
    <div class="media-box media-box--{{object|get_media_type|lower}}">
        <a class="media-box__image-container" href="{% url 'organization-media-overlay' object.type object.slug %}" data-video-overlay>
            <figure class="media-box__image media-box__image--{{ object|get_media_type|lower }}">
                {% with object.images.all|get_type:'card' as images %}
                    {% if object.poster_url %}
                        <img src="{{ object.poster_url }}">
                    {% elif images %}
                        <img class="lazyload" src="{{ MEDIA_URL }}{% thumbnail images.0.file 814 600 %}" data-original="">
                    {% else %}
                        <div class="media-box__placeholder"></div>
                    {% endif %}
                {% endwith %}
            </figure>
        </a>
        <a class="media-box__content" href="{% url 'organization-media-detail' object|get_media_type|lower object.slug %}">
            <div class="media-box__type">
                {{ object|get_media_type }}
            </div>
            <h2 class="media-box__title">{{ object.title|truncatechars_html:50 }}</h2>
            {% if object.description %}
                <div class="media-box__desc">
                    {{ object.description|richtext_filters|safe|truncatechars_html:200 }}
                </div>
            {% endif %}
        </a>
    </div>
</div>
