{% extends "core/inc/search_card.html" %}
{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags %}

{% block icon %}calendar-o{% endblock %}

{% block subtitle %}
    <div class="search-box__subtitle">
        {% include 'agenda/includes/event_date_line.html' %}
        {% if object.prices.all|length > 0 and not is_archive and not object.is_full %}
            {% if object.external_id %}
                <a class="button button--small ml1 event__meta__btn" href="{% url 'event_booking' object.slug %}">
                    {% trans "Reserve" %}
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block tags %}
    {% keywords_for event as tags %}
    {% if object.departments.all.0 or tags %}
        {% if object.departments.all.0 %}
            <div class="event-line-box__tags">
                <div class="tag tag--small dashed">
                  {{ object.departments.all.0.department.name }}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block url %}
    {{ object.get_absolute_url }}
{% endblock %}
