{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags %}

<div class="row event-line-box">
    {% ifchanged event.start.month %}
        <div class="col-sm-12 col-md-12 col-lg-12 event-line-box__month">
            <h2>{{ event.start|date:'F' }}</h2>
        </div>
    {% endifchanged %}
    <div class="col-sm-12 col-md-12 col-lg-12 event-line-box__content">
        <div class="row">
            <div class="col-xs-3">
                {% with True as unit_booking %}
                    {% include 'agenda/includes/event_metainfo_line.html' %}
                {% endwith %}
            </div>
            <div class="col-xs-3">
                {% with event.images.all|get_type:'card' as images %}
                    {% if images %}
                        <a href="{{ event.get_absolute_url }}">
                            <figure class="event-line-box__image">
                                <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ MEDIA_URL }}{% thumbnail images.0.file 400 280 %}">
                            </figure>
                        </a>
                    {% else %}
                        {% with event.images.all|get_type:'card' as images %}
                            {% if images %}
                                <a href="{{ event.get_absolute_url }}">
                                    <figure class="event-line-box__image">
                                        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ MEDIA_URL }}{% thumbnail images.0.file 400 280 %}">
                                    </figure>
                                </a>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-xs-6">
                {% keywords_for event as tags %}
                <div class="event-line-box__tags">
                    <div class="tag tag--small dashed">
                        {{ event.departments.all.0.department.name }}
                    </div>
                    <div class="tag tag--small tag--category">
                        {{ event.category }}
                    </div>
                </div>
                <h3 class="event-line-box__title">
                    <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                </h3>
                <div class="event-line-box__desc">
                    {{ event.description|slice:":100" }}
                </div>
            </div>
        </div>
    </div>
</div>
