{% load i18n mezzanine_tags event_tags festival_tags %}
<div class="event__meta">
    <div class="event__meta__inner">
        {{ event.start }}
        {% if event.end %}
        {% if event.end|date == event.start|date and event.end.hour|subtract:event.start.hour > 3 %}{{ event.end|time:"TIME_FORMAT" }}{% endif %}
        {% if unit_booking %}
            | {% for price in event.prices.all %}{{ price|floatformat }} €{% if not forloop.last %} - {% endif %}{% endfor %} 
            <a href="{% url 'event_booking' event.slug %}" class="event__meta__btn">
                {% trans "Booking" %}
            </a>
        {% endif %}
        {% endif %}
        {% if event.location %}
        {# <a href="{% url "event_list_location" event.location.slug %}" class="event__meta__location">{{ event.location }}</a>#}
        <br />
        <a href="{% url 'location-detail' event.location.slug %}">{{ event.location }}</a>
        {% endif %}
    </div>
</div>
