{% load i18n future mezzanine_tags event_tags keyword_tags disqus_tags organization_tags %}

<div class="row event-line-box">

    {% ifchanged event.start.month %}

        <div class="col-sm-12 col-md-12 col-lg-12 event-line-box__month">

            <h2>{{ event.start|date:'F' }}</h2>

        </div>

    {% endifchanged %}

    <div class="col-sm-12 col-md-12 col-lg-12 event-line-box__content">

        <div class="row">

            <div class="col-xs-3">
                {% with True as unit_booking %}
                    {% include 'agenda/includes/event_metainfo_line.html' %}
                {% endwith %}
            </div>
            <div class="col-xs-3">
                {% with event.images.all|get_type:'card' as images %}
                    {% if images %}
                        <a href="{{ event.get_absolute_url }}">
                            <img class="event-line-box__image" src="{{ MEDIA_URL }}{% thumbnail images.0.file 203 140 %}" width="203" height="140">
                        </a>
                    {% else %}
                        {% with event.parent.images.all|get_type:'card' as images %}
                            {% if images %}
                                <a href="{{ event.get_absolute_url }}">
                                    <img class="event-line-box__image" src="{{ MEDIA_URL }}{% thumbnail images.0.file 203 140 %}" width="203" height="140">
                                </a>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-xs-6">
                {% keywords_for event as tags %}
                {% if event.departments.all.0 or tags %}
                    <div class="event-line-box__tags">
                        {% if event.departments.all.0 %}
                            <div class="tag tag--small dashed">
                              {{ event.departments.all.0.department.name }}
                            </div>
                        {% endif %}
                        {% if event.category %}
                            <div class="tag tag--small tag--category">
                                {{ event.category }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <h3 class="event-line-box__title">
                    <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                </h3>
                <div class="event-line-box__desc">
                    {{ event.description|slice:":100" }}
                </div>
            </div>

        </div>

    </div>

</div>
