<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>
  <p>Bonjour,</p>

  <p>Une nouvelle candidature a été soumise :</p>
  <p><strong>Nom : {{ last_name }}</strong></p>
  <p><strong>Prénom : {{ first_name }}</strong></p>
  <p><strong>Email :{{ email }}</strong></p>
  <p><strong>Message :</strong></p>
  <p>{{ message }}</p>
  <br>
  <br>
  <p>Le curriculum vitae ainsi que la lettre de motivation sont en pièces jointes.</p>
  <p>Ces informations sont disponibles sur le backoffice de <a href="http://www.ircam.fr" title="site de l'ircam">http://www.ircam.fr</a> dans l'édition de l'offre d'emploi correspondante.</p>

  <p>Bonne journée ! :)</p>
</body>
</html>
