{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}

<div class="footer__content">
    <div class="container">

        <div class="row">

            <div class="col-xxs-16 col-sm-push-1 col-sm-5 tac">

                <a href="{% url "home" %}" title="{% trans 'Home' %}">
                    {% with host_organization.images|get_type:"logo_footer" as images %}
                      {% if images %}
                       {% with images|first as img %}
                        <img src="{{ MEDIA_URL }}{{ img }}" title="{{ img.title }}" width="162" />
                       {% endwith %}
                      {% endif %}
                    {% endwith %}
                </a>

                {% if linked_organization_footer %}
                    <div class="tac">
                        <div class="section-title section-title--dark">
                        </div>
                    </div>
                    {% include 'pages/page/includes/linked_organization_footer.html' %}
                {% endif %}

            </div>

            <div class="col-xxs-16 col-sm-push-1 col-sm-9">

                <div class="row">

                    <div class="col-xxs-16">

                        <div class="newsletter">

                            <div class="row">

                                <div class="col-xxs-16 col-md-8">

                                    <div class="newsletter__text">
                                        Inscrivez-vous à notre newsletter afin de recevoir les dernières actualités,  informations sur les expositions.
                                    </div>

                                    <form style="position: relative;" method="GET" action="https://public.message-business.com/form/46711/84/form.aspx" target="_blank">
                                        <input placeholder="Votre email" class="newsletter__input" type="text" name="formItem-mbtext-email" />
                                        <button class="newsletter__button" type="submit"><i class="fa fa-envelope-o"></i></button>
                                    </form>

                                </div>

                                <div class="col-xxs-16 col-md-7 col-md-push-1">

                                    <a class="footer__program" title="{% trans 'Download the program' %}" href="/media/uploads/documents/agenda.pdf" target="_blank">
                                        <img src="{% static "img/manifeste2017/program.png" %}" />
                                        <span>{% trans 'Download the program' %}</span>
                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-xxs-8">

                        {% page_menu "pages/menus/footer_vertical.html" %}

                    </div>

                    <div class="col-xxs-8 col-md-7 col-md-push-1">

                        <ul class="nav-footer" role="navigation">
                            {% for link in host_organization.links.all %}
                                <li class="nav-footer__item">
                                    <a class="nav-footer__item-link nav-footer__item-link--small" href="{{ link.url }}" target="_blank" title="{% trans 'Follow us on' %} {{ link.title }}">{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>

                </div>

            </div>

        </div>

        {% comment %}
            Additional menu
        {% endcomment %}
        <div class="row">
            <div class="col-xxs-16 col-sm-12 col-sm-push-1 tac">
                {% page_menu "pages/menus/footer_horizontal.html" %}
            </div>
        </div>

        {% comment %}
            Copyright
        {% endcomment %}
        <div class="row">
            <div class="col-xxs-16 col-sm-14 col-sm-push-1 tac fcb mt2 fwl">
                Copyright &copy; {% current_year %} {{ host_organization.name }}. {% trans "All rights reserved" %}.
            </div>
        </div>

    </div>
</div>
