// ****************************************************************
// _HeadersStyles
// ****************************************************************

/**
 * Core styling
 */
.banner {
  @extend .clearfix;
  display: block;
  background-color: $header_background_color;

  @if $header_uppercase {
      text-transform: uppercase;
  }


  @if $header_box_shadow {
    box-shadow : $header_box_shadow;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .is-active {
    background-color: $main_color;
    a {
        color: $white;
    }
  }
}

// ****************************************************************
// _header
// ****************************************************************
.header {
  @extend .clearfix;
  background: $base_background_color url('../img/bg_manzoni--center.jpg') no-repeat top;
  padding: $base_font_size 0;

  h1 {
    margin: 0;
  }

  &__baseline {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: $bold;
    font-size: 1rem;
    @media (min-width : $desktop ) {
        line-height: 85px;
        font-size: 2rem;
    }
  }

  &__logo {
    display: block;
    float: left;
    max-width: 10rem;
    line-height: 1;

    &--right {
      display: none;
      @media (min-width : $desktop ) {
        display: block;
        float: right;
      }
    }

    &__img {
      max-height: 45px;
      width: auto;
      @media (min-width : $desktop ) {
          max-height: 85px;
      }
    }

    &__text {
      position: absolute;
      top: -200%;
    }
  }
}


// ****************************************************************
// _Menu
// ****************************************************************

.navigation {
  @extend .clearfix;
  display: none;
  @media (min-width : $desktop ) {
      display: block;
  }
}

.menu {
  text-align: center;
  &__item {
    // text-align: center;
    @media (min-width : $desktop ) {
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }

    &__link {
      display: inline-block;
      padding: $base_font_size/2 1rem;
      margin: 0 auto;
      font-family: $header_font_family;
      text-transform: uppercase;
    }
  }


}
