// ****************************************************************
// _HeadersStyles
// ****************************************************************

/**
 * Core styling
 */
.banner {
  @extend .clearfix;
  display: block;
  background-color: $header_background_color;
  position: relative;
  // margin-bottom: 3rem;

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .is-active {
    background-color: $main_color;
    a {
        color: $white;
    }
  }
}

// ****************************************************************
// _header
// ****************************************************************
.header {
  @extend .clearfix;
  background: $base_background_color url('../img/bg_manzoni--center.jpg') no-repeat top;
  padding: $base_font_size 0 0;
  background-size: cover;

  h1 {
    margin: 0;
  }

  &__baseline {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: $regular;
    font-size: 1rem;
    @media (min-width : $desktop ) {
        line-height: 155px;
        font-size: 1.8rem;
    }
  }

  &__logo {
    display: block;
    float: left;
    line-height: 1;
    max-width: 15rem;

    &--right {
      display: none;
      @media (min-width : $desktop ) {
        display: block;
        float: right;
      }
    }

    &__img {
      max-height: 45px;
      width: auto;
      @media (min-width : $desktop ) {
          max-height: 150px;
      }
    }

    &__text {
      position: absolute;
      top: -200%;
    }
  }
}


// ****************************************************************
// _Menu
// ****************************************************************

.navigation {
  @extend .clearfix;
  display: none;
  @media (min-width : $desktop ) {
      display: block;
  }
}

.menu {
  text-align: center;
  &__item {
    // text-align: center;
    position: relative;
    overflow: visible;
    @media (min-width : $desktop ) {
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }

    &__link {
      display: inline-block;
      padding: $base_font_size/2 1rem;
      margin: 0 auto;
      color: $black;
      font: $regular 1.1rem $header_font_family;
      text-transform: uppercase;
      @media (min-width : $desktop ) {
        padding: 1.5rem 1rem;
        font-size: 1.2rem;
        // font-weight: $bold;
      }
    }
  }
}

.submenu {
  padding-left: 0;
  text-align: center;

  @media (min-width : $desktop ) {
    width: 140%;
    margin-left: -20%;
    position: absolute;
    z-index: $zi_5;
    top: 100%;
    left: 0;
    // border-top: 1rem solid #fff;
    // border-bottom: 3px solid $main_color;
    opacity: 0;
    visibility: hidden;
    transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
  }

  &__item {
    @extend .menu__item;

    background: #fff;
    display: inline-block;
    *display: inline;
    *zoom: 1;

    @media (min-width : $desktop ) {
      opacity: 0;
      visibility: hidden;
      transition:opacity 0.15s 0.15s ease-out, visibility 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
      margin-top:-15px;
      display: block;
    }
    &__link {
      @extend .menu__item__link;
      color: $gray_dark;
      font-size: .75rem;
    }
  }
}

.menu__item:hover .submenu {
  opacity: 1;
  visibility: visible;
  // transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
}
.menu__item:hover .submenu__item {
  opacity: 1;
  visibility: visible;
  margin: 0;
  // transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
}

// ****************************************************************
// _NavComplementary
// ****************************************************************


.nav__complementary {
  display: block;
  list-style: none;
  text-align: left;
  position: absolute;
  z-index: $zi_2;
  top: 100%;
  left: 0;
  width: 100%;
}

.nav__complementary__item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0.5rem .2rem;
    width: 2rem;
    background: #fff;
    margin: 0 .1rem;
    text-align: center;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 4px -2px black;

    a {
      color: white;
    }

    &--facebook {
      @extend .nav__complementary__item;
      background: $color-facebook;
    }

    &--twitter {
      @extend .nav__complementary__item;
      background: $color-twitter;
      margin-right: 1rem;
    }

    &__lang {
      @extend .nav__complementary__item;
      opacity: .6;
      a {
        color: $gray;
      }

      &.is-active {
        // background: none;
        // color: $main_color;
        opacity: 1;
      }
    }
}