// ****************************************************************
// _HeadersStyles
// ****************************************************************

.menu__toggle {
  display: block;
  float: right;
  background: $white;
  width: 32px;
  height: 32px;
  // border-radius: 3px;
  box-sizing: border-box;
  padding: 9px 6px;
  cursor: pointer;
  user-select: none;
  // border: 1px solid #000;
  margin: 0;
  box-shadow: 0 0 5px 0px black;
  @media (min-width : $desktop ) {
      display: none;
  }
  &:hover,
  &:focus {
    background: #fff;
  }
}

.menu__toggle:checked span:first-child,
.menu__toggle.toggled span:first-child {
  transform: translateY(6px) rotate(45deg);
}

.menu__toggle:checked span:nth-child(2),
.menu__toggle.toggled span:nth-child(2) {
  opacity: 0;
}

.menu__toggle:checked span:last-child,
.menu__toggle.toggled span:last-child {
  transform: translateY(-6px) rotate(-45deg);
}

.menu__toggle span {
  display: block;
  background: $main_color;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  transform-origin: center;
  transition: 0.3s ease;
}

.menu__toggle span:nth-child(2) {
  margin: 4px 0;
}