// ****************************************************************
// _Sidebar
// ****************************************************************

.sidebar__title {
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font: $bold 1rem $base_font_family;
  margin: 1.3rem 0 0.5rem;
  padding: .2rem 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.sidebar__entry {
    font-size: 1rem;
    margin: 0;
    line-height: 1.4;
    // color: $gray_dar;
}