{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}

<div class="section container">
	<div class="row">
		<div class="col-sm-8 tac">
			{% comment %}
			<div class="section-title section-title--uppercase section-title--underline section-title--accent">
				{% trans "Instagram feed" %} <a class="fcw" href="https://www.instagram.com/explore/tags/ircam/" target="_blank">#ircam</a>
			</div>
			<div>
				{% include "includes/instagram.html" %}
			</div>
			{% endcomment %}
		</div>
		<div class="col-sm-6 col-sm-push-1 tac">
			<div class="section-title section-title--uppercase section-title--underline section-title--main">
				{% trans "Twitter feed" %}
			</div>
			<div>
				{% include "twitter/tweets.html" %}
			</div>
		</div>
	</div>
</div>
