{% load organization_tags mezzanine_tags i18n %}
{% if person_list_block.title %}

    <div class="white-bg pb2">

        <hr class="mt0" />
        <div class="container">

            <div class="row">

                <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2" data-summary-content>

                    <h2 class="dotted">{{ person_list_block.title }}</h2>
                    {% if person_list_block.description %}
                        <p>{{ person_list_block.description|safe }}</p>
                    {% endif %}

                </div>

            </div>

        </div>

        <div class="container">

            <div class="row">

                <div class="col-sm-9 col-sm-push-3 col-lg-8 col-lg-push-2">

                    {% for person_list_block_inline in person_list_block.person_list_block_inlines.all %}
                        {% with person_list_block_inline.person as person %}

                        {% with person_list_block_inline.person as person %}

                                {% include "network/inc/person/person_card_circle.html" %}

                        {% endwith %}

                        {% endwith %}
                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

{% endif %}
