{% load organization_tags mezzanine_tags %}

<div class="article-box article-box--person" >
    {% with person.images.all|get_type:'card' as card_images %}
        {% if card_images %}
            <div class="article-box__header">
                <a href="{{ person.get_absolute_url }}" title="{{ person.first_name }}&nbsp;{{ person.last_name }}">
                    <div class="article-box__image-container">
                        <figure class="article-box__image">
                            <img class="lazyload" src="{{ MEDIA_URL }}{% thumbnail card_images.first 427 500 top=0.5 %}" alt="person"/>
                        </figure>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endwith %}

    <div class="article-box__content tal">

        <div class="article-box__tags">
            {% with person.activities.first as activity %}
                {{ activity.status }}
            {% endwith%}
        </div>

        <a href="{{ person.get_absolute_url }}" title="{{ person.first_name }}&nbsp;{{ person.last_name }}"><h3 class="article-box__title">{{ person.first_name }}&nbsp;{{ person.last_name }}</h3></a>

        {% if person.description %}
            <div class="article-box__desc">{{ person.description|richtext_filters|safe|truncatechars_html:200 }}</div>
        {% elif person.bio %}
            <div class="article-box__desc">{{ person.bio|richtext_filters|safe|truncatechars_html:200 }}</div>
        {% endif %}

    </div>
</div>
