.detail_title {
    text-align: center;
}
.detail_section {
    position: relative;
}
.detail_subsection_left {
    position: relative;
    float: left;
    text-align: left;
    width: 50%;
    padding : 25px;
}
.detail_subsection_right {
    position: relative;
    margin-left: 50%;
    text-align: left;
    overflow: auto;
    padding : 25px;
}
#detail_img {
    width: 100%;
    max-width: 100%;
}
.detail_img {
    float: left;
    text-align: center;
    width: 60%;
    padding : 10px;
}
.detail_info {
   margin-left: 60%;
   overflow: auto;
   padding : 10px;
}
.detail_separator {
    clear: both;
    margin: 10px auto;
    width: 100%;
    height: 5px;
    background: #50E3C2;
}
.detail_slider .lSAction > .lSPrev {
    background-color: rgba(79,227,194,1);
    background-blend-mode: multiply;
}
.detail_slider .lSAction > .lSNext {
    background-color: rgba(79,227,194,1);
    background-blend-mode: multiply;
}
.detail_slider .lSSlideOuter.vertical .lSAction > .lSNext {
    background-color: rgba(79,227,194,1);
    background-blend-mode: multiply;
}
.detail_slider .lSSlideOuter.vertical .lSAction > .lSPrev {
    background-color: rgba(79,227,194,1);
    background-blend-mode: multiply;
}
.detail_button {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 150%;
    padding: 20px 50px;
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 50px;
}
