$module: ".home";

#{$module} {

    // Overrides .main style
    .main {

        margin-top: -($header-height + $header-pre-height);
        padding-top: 0;

    }

    &__menu {

        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
        position: relative;
        background: white;

        width: 100%;

        @include padding-left(3);
        @include padding-right(3);
        @include padding-top(2);
        @include padding-bottom(2);
        @include transition(width 0.5s ease-in-out);

        @include mq($until: sm) {
            display: none;
        }

        &--with-shutter {
            width: 100%;
        }

    }

    &__shutter {

        position: absolute;
        bottom: 150px;
        left: 0;
        right: 0;
        background: white;
        z-index: 100;

        @include padding(2 0 0 0);
        @include transform(scaleY(0));
        @include transition(transform 0.35s ease-in-out);
        transition-delay: 0.15s;

        transform-origin: 0 100%;
        -webkit-transform-origin: 0 100%;

        &.active {
            @include transform(scaleY(1));
            transition-delay: 0s;

            #{$module}__shutter-content {

                opacity: 1;
                transition-delay: 0.35s;

            }

        }

    }

    &__shutter-content {

        @include padding(0 7);
        @include transition(opacity 0.15s ease-in-out);
        opacity: 0;
        transition-delay: 0s;

        @include mq($until: lg) {
            @include padding(0 3);
        }

        @include mq($until: md) {
            @include padding(0 1);
        }

        .col-xs-3:nth-child(n+5) {

            &:before {

                content: "";
                display: block;
                background: #979797;
                height: 1px;
                width: 100%;
                @include margin-bottom(1);
                @include margin-top(3);

            }

        }

    }

    &__shutter-item {

        text-decoration: none;
        display: block;

        >h2 {
            @include font-size(l);
            @include line-height(1);
            @include typeface(sans-serif);
            font-weight: weight(regular);

            @include margin(0 0 1 0);
        }
        >p {
            @include font-size(s);
            @include line-height(1);
            @include typeface(serif);
            font-weight: weight(light);

            @include margin(0);
        }
        >a {
            @include font-size(s);
            @include line-height(0.5);
            @include typeface(serif);
            font-weight: weight(bold);

            @include margin(0);
            text-decoration: underline;
        }

        .sidebar & {

            >h2 {
                @include font-size(m);
                @include line-height(1);
                @include margin(0 0 0 0);
            }
            >p {
                display: none;
            }

        }

    }

    &__menu-item {

        display: inline-block;
        border-top: 1px solid #DCDCDC;

        @include font-size(xl);
        @include line-height(1);
        @include typeface(sans-serif);
        font-weight: weight(regular);

        >a {

            @include padding-left(1);
            @include padding-right(1);
            @include padding-top(1);

            display: block;
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: -10px;
                left: 50%;
                margin-left: -9px;
                width: 18px;
                height: 18px;
                background: #FFFFFF;
                border-left:1px solid #DCDCDC;
                border-top:1px solid #DCDCDC;

                @include transform(scaleY(0) rotate(45deg));
                @include transition(all 0.25s ease-in-out);
            }

            &.active {
                &:after {

                    @include transform(scaleY(1) rotate(45deg));

                }
            }

        }

    }

}
