{% load mezzanine_tags keyword_tags i18n organization_tags staticfiles %}
<div class="">
    <a class="media-box media-box--{{ playlist.type }}" href="{% url 'organization-playlist-detail' playlist.slug %}">
        <div class="media-box__image-container">
            <figure class="media-box__image media-box__image--audio">
                {% if playlist.medias.all.0.media.poster_url %}
                    <img src="{{ playlist.medias.all.0.media.poster_url }}">
                {% elif playlist.medias.all.0.media.images.all|get_type:'card' %}
                    {% with playlist.medias.all.0.media.images.all|get_type:'card' as images %}
                        <img src="{{ MEDIA_URL }}{% thumbnail images.0.file 427 300 top=0.5 %}">
                    {% endwith %}
                {% else %}
                    <div class="media-box__placeholder"></div>
                {% endif %}
            </figure>
        </div>
        <div class="media-box__content">
            <div class="media-box__type">
                {{playlist.type}}
            </div>
            <h2 class="media-box__title">{{ playlist.title|truncatechars_html:50 }}</h2>
            <div class="media-box__desc">
                {{ playlist.description|richtext_filters|safe|truncatechars_html:200 }}
            </div>
        </div>
    </a>
</div>
