{% load mezzanine_tags %}

<div class="page__slider">

    {% if playlist.title or playlist.description %}
        <div class="container">
            <div class="row">
                <div class="col-sm-16 col-md-10 col-md-push-3">
                    {% if playlist.title %}
                        <div class="tac">
                            <h3 class="section-title section-title--uppercase section-title--main section-title--underline">{{playlist.title}}</h3>
                        </div>
                    {% endif %}
                    {% if playlist.description %}
                        <p>
                            {{playlist.description}}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <ul class="slider-page slider-page--video" data-slider-page>
        {% for media in playlist.medias.all %}
          {% with media.media as media %}
            <li class="slider-page__slide">
                <div class="slider-page__wrapper">
                    <div class="slider-page__video">
                        <video controls class="video-js vjs-ircam-skin" data-title="{{ media.title }}" data-setup='{"aspectRatio":"905:520"}' {% if media.poster_url %}poster="{{ media.poster_url }}"{% endif %}>
                            {% for transcoded in media.transcoded.all %}
                    	       <source src="{{ transcoded.url }}" type="{{ transcoded.mime_type }}" />
                            {% endfor %}
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="slider-page__caption">
                        {{ media.title }}
                    </div>
                </div>
            </li>
          {% endwith %}
        {% endfor %}
    </ul>
</div>
