<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags festival_tags %}
{% get_language_info_list for LANGUAGES as languages %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

{# <body id="{% block body_id %}body{% endblock %}"> #}
<body id="{% block body_id %}body{% endblock %}">

    <div class="banner" role="banner">
        <div class="header">
            <div class="container">
                {% if settings.SITE_TITLE %}
                <h1>
                    <a class="header__logo" href="/">
                        <span class="header__logo__text">{{ settings.SITE_TITLE }}</span>
                        <img class="header__logo__img" src="{% static "img/logo_manifeste16_black.png" %}" alt="Logo Manifeste 2016 ircam" width="200">
                    </a>
                </h1>
                    <div class="header__logo--right">
                        <a href="http://www.ircam.fr" title="Url site ircam">
                            <img class="header__logo__img" src="{% static "img/logo_ircam_black.png" %}" alt="Logo Manifeste 2016 ircam" width="200">
                        </a>
                    </div>
                {% endif %}

                <button class="menu__toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                {% if settings.SITE_TAGLINE %}
                <p class="header__baseline">{{ settings.SITE_TAGLINE }}</p>
                {% endif %}

            </div>
        </div>

        <div class="navigation" role="navigation">
            {% page_menu "pages/menus/dropdown.html" %}
        </div>

        <div class="nav__complementary">

            {% nevercache %}
            {% include "includes/language_selector.html" %}
            {# {% include "includes/user_panel.html" %} #}
            {% endnevercache %}

            <div class="container">
                <ul class="nav__complementary__list">
                    <li class="nav__complementary__item--facebook">
                        <a href="https://www.facebook.com/iIRCAM" class="btn-icon--facebook" target="_blank">
                            <i class="icon icon__facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav__complementary__item--twitter">
                        <a href="https://twitter.com/ircam" class="btn-icon--twitter" target="_blank">
                            <i class="icon icon__twitter"></i>
                        </a>
                    </li>
                    {% if settings.USE_MODELTRANSLATION and languages|length > 1 %}
                        {% for language in languages %}
                            <li class="nav__complementary__item__lang {% if language.code == LANGUAGE_CODE %}is-active{% endif %}">
                                <a href="#" onclick="$('#language_selector_select').val('{{ language.code }}'); $('#language_selector_form').submit();">
                                  {{ language.code|title }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% if on_home %}
     {% include "includes/slider.html" %}
    {% endif %}

    {% nevercache %}
    {% if messages %}
        {% for message in messages %}
        <div class="notification" id="js-notificationContainer">
            <button type="button" class="btn btn-small js-notificationClose">X</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endnevercache %}

    {% comment %}
    <ul class="breadcrumb">
    {% spaceless %}
    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
    {% endspaceless %}
    </ul>
    {% endcomment %}

    {% featured as featured_list %}

    <div class="site__content">
        <div class="container">

            <main class="main" role="main">
                {% featured_breaking_news_content as bk_content %}
                {% if on_home and bk_content %}
                    <div class="bk__news">
                        <div class="media bk__news__inner">
                            <div class="media-img">
                                <span class="bk__news__title">
                                    {% trans "Breaking" %} <br> {% trans "news" %} !
                                </span>
                            </div>
                            <div class="media-content bk__news__content">
                                    {{ bk_content|safe }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% block content_header %}
                <div class="site__content__header">
                    <h2 class="page__title">{% block title %}{% endblock %}</h2>
                </div>
                {% endblock %}
                {% block main %}{% endblock %}
            </main>
        </div>
    </div>

    <footer class="footer" role="footer">
        <div class="container">
            <div class="footer-logo">
                <img src="{% static "img/logo_manifeste16_black.png" %}" alt="Logo Manifeste 2016 ircam" width="80">
            </div>
            {% page_menu "pages/menus/footer.html" %}

            <ul class="footer-partners list-inline">
                <li>
                    <a href="http://www.culturecommunication.gouv.fr/" target="_blank">
                        <img src="{% static "img/logo_mmc.png" %}" alt="Logo Ministere Culture et Communication">
                    </a>
                </li>
                <li>
                    <a href="http://www.cnrs.fr/" target="_blank">
                        <img src="{% static "img/logo_cnrs.png" %}" alt="Logo CNRS">
                    </a>
                </li>
                <li>
                    <a href="http://www.upmc.fr/" target="_blank">
                        <img src="{% static "img/logo_upmc.png" %}" alt="Logo UPMC">
                    </a>
                </li>
                <li>
                    <a href="http://www.inria.fr/" target="_blank">
                        <img src="{% static "img/logo_inra.png" %}" alt="Logo Inria">
                    </a>
                </li>
            </ul>

            <div class="footer-legals">
                <p>
                    {# {% trans "Powered by" %} #}
                    Conception & réalisation : <br><br>
                    <a href="http://www.philippebarbosa.com" target="_blank" titre="Développeur front-end freelance & photographe professionnel à Paris">
                        Philippe Barbosa</a>,
                        <a href="http://www.ircam.com" target="_blank" titre="IRCAM">Mary Delacour & Guillaume Pellerin</a>

                </p>
            </div>
        </div>
    </footer>
    {% include "includes/footer_scripts.html" %}

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3416995-12', 'auto');
  ga('send', 'pageview');

</script>
</html>
