<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags featured_tags %}
{% get_language_info_list for LANGUAGES as languages %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "/img/favicons/apple-touch-icon-152x152-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "/img/favicons/apple-touch-icon-120x120-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "/img/favicons/apple-touch-icon-76x76-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "/img/favicons/apple-touch-icon-60x60-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "/img/favicons/apple-touch-icon-144x144-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "/img/favicons/apple-touch-icon-114x114-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "/img/favicons/apple-touch-icon-72x72-precomposed.png" %}">
	<link rel="apple-touch-icon" sizes="57x57" href="{% static "/img/favicons/apple-touch-icon.png" %}">
	<link rel="shortcut icon" href="{% static "/img/favicons/favicon.ico" %}">
	<link rel="icon" type="image/png" sizes="64x64" href="{% static "/img/favicons/favicon.png" %}">

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900,300italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/index.min.css" %}">
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
    <div class="banner" role="banner">
        <div class="header">
            <div class="container">
                <div class="row header__pre">
                    <div class="col-md-10 col-md-push-1 tac">
                        {% page_menu "pages/menus/action.html" %}
                    </div>
                    <div class="col-md-1 col-md-push-1 tar">
                        {% if settings.USE_MODELTRANSLATION and languages|length > 1 %}
                            {% nevercache %}
                            {% include "includes/language_selector.html" %}
                            {% endnevercache %}
                            <ul class="lang-switcher">
                                {% for language in languages %}
                                    <li class="nav__complementary__item__lang {% if language.code == LANGUAGE_CODE %}active{% endif %}">
                                        <a href="#" onclick="$('#language_selector_select').val('{{ language.code }}'); $('#language_selector_form').submit();">
                                          {{ language.code|title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

                {% if settings.SITE_TITLE %}
                <h1>
                    <div class="header__logo">
                        <a href="http://www.ircam.fr" title="Url site ircam">
                            <img class="header__logo__img" src="{% static "img/logo_ircam_black.png" %}" alt="Logo Manifeste 2016 ircam" width="200">
                        </a>
                    </div>
                </h1>
                {% endif %}

            </div>
        </div>

        <div class="navigation" role="navigation">
            {% page_menu "pages/menus/header.html" %}
        </div>

    </div>

    {% if on_home %}
     {% include "includes/slider.html" %}
    {% endif %}

    {% nevercache %}
    {% if messages %}
        {% for message in messages %}
        <div class="notification" id="js-notificationContainer">
            <button type="button" class="btn btn-small js-notificationClose">X</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endnevercache %}

    {% comment %}
    <ul class="breadcrumb">
    {% spaceless %}
    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
    {% endspaceless %}
    </ul>
    {% endcomment %}

    {% featured as featured_list %}

    <div class="site__content">
        <div class="container">

            <main class="main" role="main">
                {% featured_breaking_news_content as bk_content %}
                {% if on_home and bk_content %}
                    <div class="bk__news">
                        <div class="media bk__news__inner">
                            <div class="media-img">
                                <span class="bk__news__title">
                                    {% trans "Breaking" %} <br> {% trans "news" %} !
                                </span>
                            </div>
                            <div class="media-content bk__news__content">
                                    {{ bk_content|safe }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% block content_header %}
                <div class="site__content__header">
                    <h2 class="page__title">{% block title %}{% endblock %}</h2>
                </div>
                {% endblock %}
                {% block main %}{% endblock %}
            </main>
        </div>
    </div>

    <footer class="footer" role="footer">
        <div class="container">

            {% page_menu "pages/menus/footer.html" %}


        </div>
    </footer>
    {% include "includes/footer_scripts.html" %}

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3416995-12', 'auto');
  ga('send', 'pageview');

</script>
</html>
