<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}
{% get_language_info_list for LANGUAGES as languages %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% spaceless %}{% block meta_title %}{% endblock %}{% endspaceless %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "img/favicons/apple-touch-icon-152x152-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "img/favicons/apple-touch-icon-120x120-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "img/favicons/apple-touch-icon-76x76-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "img/favicons/apple-touch-icon-60x60-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/favicons/apple-touch-icon-144x144-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/favicons/apple-touch-icon-114x114-precomposed.png" %}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/favicons/apple-touch-icon-72x72-precomposed.png" %}">
	<link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicons/apple-touch-icon.png" %}">
	<link rel="shortcut icon" href="{% static "img/favicons/favicon.ico" %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicons/favicon-96x96.png" %}">

    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900,300italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqF2kIHtUASr67QP-1bXRd6FPELDS4FSs&libraries=geometry"></script>

    {% compress css %}
    <link rel="stylesheet" href="{% static "vendors/font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "vendors/lightslider/dist/css/lightslider.css" %}">
    <link rel="stylesheet" href="{% static "vendors/lightgallery/dist/css/lightgallery.css" %}">
    <link rel="stylesheet" href="{% static "vendors/pushy/css/pushy.css" %}">
    <link rel="stylesheet" href="{% static "vendors/video.js/dist/video-js.css" %}">
    <link rel="stylesheet" href="{% static "css/index.min.css" %}">
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{% endblock %}">
    {% spaceless %}

    <div class="pushy pushy-left">
        {% include "includes/sidebar.html" %}
    </div>

    <div class="site-overlay">
    </div>

    <div class="header push">

        <div class="container">
            <div class="row header__nav">
                <div class="col-md-10 tac">
                    <div id="navHeader">
                        {% page_menu "pages/menus/header.html" %}
                    </div>
                </div>
                <div class="col-md-6 tac">
                    {% include "includes/languages.html" %}
                </div>
            </div>
        </div>

    </div>

    <div id="container">
        <main class="main" role="main">
            {% block content_header %}{% endblock %}
            {% block main %}{% endblock %}
            {% block content_footer %}{% endblock %}
        </main>

        <footer class="footer" role="footer">
            {% include "includes/footer.html" %}
        </footer>
    </div>

    {% search_form %}
    {% include "includes/footer_scripts.html" %}
    {% endspaceless %}

</body>
</html>
