{% extends "base.html" %}
{% load i18n  pages_tags mezzanine_tags %}

{% block meta_title %}
    {% trans "Home" %}
{% endblock %}

{% spaceless %}
{% block body_class %}
    home
{% endblock %}
{% endspaceless %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block content_header %}{% endblock %}

{% block main %}

    {% include "home/inc/slider.html" %}

    <ul class="home__menu">
      <li class="home__menu-item">
          <a class="active" href="#" title="{% trans "News Headlines" %}">{% trans "News Headlines" %}</a>
      </li>
      <li class="home__menu-item">
          <a href="#" title="{% trans "Magazine" %}">{% trans "Magazine" %}</a>
          <div class="home__shutter">
              <div class="home__shutter-content">
                  <div class="container-fluid tal">
                      {% page_menu "pages/menus/magazine.html" %}
                  </div>
              </div>
          </div>
      </li>
      <li class="home__menu-item">
          <a href="#" title="{% trans "Brief" %}">{% trans "Brief" %}</a>
          <div class="home__shutter">
              <div class="home__shutter-content">
                  <div class="container-fluid tal">
                      {% include "magazine/brief/brief_list.html" %}
                  </div>
              </div>
          </div>
      </li>
      <li class="home__menu-item">
          <a href="#" title="{% trans "Media" %}">{% trans "Media" %}</a>
      </li>
    </ul>

    {% include "home/inc/body.html" %}

{% endblock %}
