{% extends "base.html" %}
{% load i18n festival_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block content_header %}{% endblock %}

{% block main %}

{# <h2 class="section__title">{% trans "Edito" %}</h2>#}

{% featured_edito as edito %}
{{ edito.content|safe|slice:":591" }}
<br>
<a href="{% url 'page' edito.slug %}" class="event__meta__btn">{% trans "Read the edito" %}</a>
<br>

{% featured as featured %}

<div class="last__media">
    <h2 class="section__title">{% trans "Featured" %}</h2>

    <div class="msry__container">
        <div class="msry__sizer"></div>

        {% for post in featured.blogposts.all %}
        <div class="last__media__entry  msry__item">
             {# <span>{% trans "Article" %}</span>#}
             {% include 'blog/includes/post_card.html' %}
             <a href="{% url 'blog_post_list' %}" class="btn btn-full">{% trans "More" context "apos" %} {% trans "articles" %}</a>
        </div>
        {% endfor %}

        {% for artist in featured.artists.all %}
        <div class="last__media__entry  msry__item">
             {# <span>{% trans "Artist" %}</span>#}
             {% include "festival/inc/artist_card.html" %}
             <a href="{% url 'festival-artist-list' %}" class="btn btn-full">{% trans "More" context "apos" %} {% trans "artists" %}</a>
        </div>
        {% endfor %}

        {% for video in featured.videos.all %}
        <div class="last__media__entry  msry__item">
            {# <span>{% trans "Video" %}</span>#}
            {% include 'festival/inc/video_card.html' %}
            <a href="{% url 'festival-video-list' %}" class="btn btn-full">{% trans "More" %} {% trans "videos" %}</a>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}
