{% extends "base.html" %}
{% load i18n pages_tags mezzanine_tags %}

{% block meta_title %}
    {% trans "Home" %}
{% endblock %}

{% spaceless %}
{% block body_class %}
    home
{% endblock %}
{% endspaceless %}

{% block main %}

    <div class="home-mobile-nav">
        {% page_menu "pages/menus/header.html" %}
    </div>

    {% include "home/inc/slider.html" %}

    {% include "home/inc/body.html" %}

    <div class="home-mobile-subnav">
        <hr class="mt0" />
        {% page_menu "pages/menus/header.html" %}
    </div>

    {% include "home/inc/bio.html" %}

    {% include "home/inc/services.html" %}

{% endblock %}
