{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block title %}
{{ artist.name }}
{% endblock %}

{% block main %}
<div class="artist__detail">
 <p>
  {% if artist.photo %}
   <img class="artist__portrait{% if artist.photo_alignment == 'left' %}--left{% elif artist.photo_alignment == 'right' %}--right{% else %}--center{% endif %}" src="{{ MEDIA_URL }}/{{ artist.photo }}" />
  {% endif %}
  {{ artist.bio|safe }}
  <br style="clear: both;" />
 </p>
</div>

<div class="artist__event">
 {# <h3>{% trans 'Events' %}</h3> #}
   <h3 class="artist__event__title">Entendre {{ artist.name }} :</h3>

    {% for event in artist.events.all %}
        {{ event.title }}
    {% endfor %}
    <a href="#" class="artist__event__cta">Réserver</a>
</div>
{% endblock %}
