{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block title %}
{{ artist.name }}
{% endblock %}

{% block main %}
<div class="artist__detail">
    <p>
    {% if artist.photo %}
    <figure class="artist__figure img__align{% if artist.photo_alignment == 'left' %}--left{% elif artist.photo_alignment == 'right' %}--right{% else %}--center{% endif %}">
        <img src="{% if artist.photo_featured %}{{ artist.photo_featured.url }}{% else %}{{ artist.photo.url }}{% endif %}" />
        <figcaption class="artist__figure__copyright">
           {{ artist.photo_credits }}
        </figcaption>
    </figure>
    {% endif %}
    {{ artist.bio|safe }}
    <br style="clear: both;" />
    </p>
</div>

<h2 class="section__title">{% trans "Also to discover" %}</h2> <br>
{% for event in artist.events.all %}
 {% include 'agenda/includes/event_card.html' %}
{% endfor %}

{% endblock %}
