{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block title %}
{{ video.title }}
{% endblock %}

{% block main %}
<div class="video-description">
 {{ video.description }}
</div>

<div class="video-html">
  {{ video.content|safe }}
</div>

<iframe width="480" height="360" src="http://medias.ircam.fr/embed/media/{{ video.media_id }}" frameborder="0" allowfullscreen=""></iframe>

<div class="video-event">
  <h2>{% trans 'Related event' %}</h2>
    <a href="{% url 'festival-event-detail' video.event.slug %}"{{ video.event.title }}</a>
</div>

{% endblock %}
