.artist__list {
    display: block;
    padding: 1.5rem 0 3rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.artist__sizer,
.artist__item {
  width: 50%;
  @media (min-width : $desktop ) {
      width: 33.33333%;
  }
}

.artist__item {
  float: left;
  padding: 0.5rem;

  @media (min-width : $desktop ) {
     padding: 1rem;
  }

  &__inner {
      position: relative;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);

      @media (min-width : $desktop ) {
          transition: .3s;
          &:hover {
              box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.8);
              transform: scale(1.01);
          }
      }
  }

  .artist__img {
    position: relative;
    padding: 0;
    margin: 0;
    &__copyright {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      padding: .2rem;
      text-align: right;
      font: $regular .6rem $base_font_family;
      color: white;
    }
  }

  img {
    display: block;
  }

  &__name {
      display: block;
      width: 100%;
      padding: 0.5rem;
      text-align: center;
      background: white;
      margin: 0;
      @media (min-width : $desktop ) {
          padding: 0.8rem;
          font-size: 0.8rem;
      }

      span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        font: $bold .8rem $base_font_family;
        padding: .2rem 0;
        color: $black;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }
  }
}