.artist__detail {

}

.artist__event {
  display: block;
  padding: 1rem;
  width: 100%;
  background: $gray_light;
  text-align: left;

  &__title {
    text-transform: uppercase;
    margin: 0;
  }

  &__cta {
    @extend .btn;
    width: 20%;
    display: block;
    margin: 1rem auto;
    text-align: center;
  }
}