.audio__player,
.audio__playlist {

  @media (min-width : $tablet ) {
    // width: 50%;
    margin: 0 auto;
  }
  @media (min-width : $desktop ) {
    // width: 33%;
    margin: 0;
  }

  padding: 1rem;
  background: lighten($main_color, 10);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  audio {
    width: 100%;
    // max-width: 100%;
    background: white;
    margin: 0 auto;
    display: block;
  }
}

.audio__playlist {
  max-height: 250px;
  overflow: scroll;
}

.audio__player {
  border-bottom: 1px solid $white;
  background: $white;
}

.audio__playlist__item {
  font-size: .75rem;
  color: $base_font_color;
  line-height: 1;
  transition: .3s;
  &:before {
    content: normal;
    font-family: $icon-font;
    content: $fa-var-play;
    font-size: 0;
    transition: .3s;
  }
}

.active .audio__playlist__item {
  color: $black;
  &:before {
    font-size: 0.5rem;
    margin-right: .3rem;
    color: $black;
  }
}

.audio__title {
  display: block;
  color: $black;
  font-size: .75rem;
}
