.calendar__month {
  width: 100%;
  margin-bottom: 2rem;
  @extend .row;
}

.calendar__month__title {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  color: $black;
  font-weight: 700;
}

.calendar__month:nth-child(6n+1) {
  clear: left
}

.calendar__month.hover span {
  opacity: 1;
}

.calendar__day {
  float: left;
  width: 14.2%;
  box-sizing: border-box;
  border-right: 1px solid lighten($main_color, 10);;
  border-bottom: 1px solid lighten($main_color, 10);;
  cursor: default;
}

.calendar__day-inner {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  background: $main_color;
}

.calendar__day-active .calendar__day-inner {
    background: darken($main_color, 10);
    span,
    span a {
        color: black;
    }
}

.calendar__day-inner span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 12px;
  padding: 35% 0;
  font-size: .7rem;
  color: $base_font_color;
  opacity: 0.4;
  transition: all .25s ease-in-out;
}

.calendar__day-name .calendar__day-inner,
.calendar__day-off .calendar__day-inner {
  background: #eee;
}

.calendar__day-name .calendar__day-inner span {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 8px;
  text-align: center;
  color: $base_font_color;
}