.event__card {
  padding: 1rem;
  background: $white;
}

.event__name {
 margin: 0 0 1rem;
 font-size: 1.2rem;
}

.event__description {
  padding-bottom: 1em;
  border-bottom: 1px solid $gray;
  margin-bottom: 1em;
}

.event__meta {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: right;
  font-family: $header_font_family;

  // padding: .3rem;
  // background: $main_color;
  // border: 1px solid $gray_light;
  // color: black;
  &:before {
    content: '\f041';
    font-family: $icon-font;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin-right: .6rem;
    font-size: 2rem;
    color: transparentize($main_color, .5);
  }
}

.event__detail,
.event__detail a {
  text-align: right;
  color: $base_font_color;
}

// f041