.hero__slider {

}

.hero__slider__item {
    display: block;
    width: 100%;
    background: $main_color no-repeat center;
    background-size: cover;
    position: relative;
    height: 65vh;
    @media (min-width : $desktop ) {
        height: 500px;
    }
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 60%;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
    }
}

.hero__slider__infos {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem;
    z-index: 10;
}

.hero__slider__name {
    @extend .event__name;
    font-family: $header_font_family;
    font-weight: $bold;
    line-height: 1;
    font-size: 1.6rem;
    a {
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    }
    &:hover {
        color: white;
    }
    @media (min-width : $tablet ) {
        font-size: 3rem;
    }
}