.video__card {

  display: block;
  float: left;
  position: relative;
  margin: 1%;
  width: 48%;
  @media (min-width : $desktop ) {
    width: 31%;

  }

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);

  @media (min-width : $desktop ) {
      transition: .3s;
      &:hover {
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.8);
          transform: scale(1.01);
      }
  }

  &__thumbnail img {
    display: block;
  }

  &__info {
    display: block;
    text-align: center;
    background: white;
    padding: 1rem;
  }

  &__name {
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    // font-size: 0.6rem;
    font: $bold 0.8em $base_font_family;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
  }
}

.video__list {
  @extend .clearfix;
}