$module: ".media-box";

#{$module} {

    position: relative;
    display: block;
    @include margin-bottom(2);
    @include padding-bottom(.5);
    @include transition(all 0.25s ease-in-out);

    &:hover {
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.17);
        .media-box__image {

            img {
                @include transform(scale(1.1));
            }

            &:after {
                background: $color-black;
                color: white;
            }
        }
    }

    &__image {

        @include fluid-aspect(320 190);
        overflow: hidden;

        img {
            @include transition(all 0.3s ease-in-out);
        }

        &:after {
            @include transition(all 0.5s ease-in-out);

            font-family: FontAwesome;
            display: block;
            content: "\f04b";
            background: white;
            width: 50px;
            height: 50px;
            border-radius: 50px;

            font-size: 25px;

            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;

            line-height: 50px;
            text-align: center;
            text-indent: 3px;

        }

        &--audio {
            &:after {
                content: "\f028";
                text-indent: 0px;
            }
        }

    }

    &__type {

        @include font-size(m);
        @include line-height(1.25);
        @include typeface(sans-serif);
        @include margin(.25 0 0 0);

        @include padding(0 .25);

    }

    &__title {

        @include font-size(xl);
        @include line-height(1.25);
        @include typeface(sans-serif);
        @include margin(0 0 .25 0);

        @include padding(0 .25);

    }

    &__desc {

        @include font-size(s);
        @include line-height(.75);
        @include typeface(serif);
        @include margin(1 0 .25 0);
        font-weight: weight(light);

        @include padding(0 .25);

    }

}
