{% load i18n mezzanine_tags event_tags organization_tags %}

<div class="page__meta-date">
    {% include 'agenda/includes/event_date.html' %}
</div>

<div class="page__meta-separator"></div>

{% if event.location %}
    <div class="page__meta-title">{{ event.location }}</div>
    {% if event.location.room %}
        <small>{{ event.location.room }}</small>
    {% endif %}
    <a href="{{ event|google_nav_url }}" target="_blank" class="mt1" style="display: block;">
        {% google_static_map event 194 194 15 %}
    </a>

    <div class="page__meta-separator"></div>
{% endif %}

{% with event.trainings.all.0 as training %}
    {% if training %}
        <div class="page__meta-title page__meta-title--small">{% trans "Language" %}</div>
        <p class="page__meta-text">{{ training.get_language_display }}</p>
        {% comment %}
            <div class="page__meta-title page__meta-title--small">{% trans "Public type" %}</div>
            <p class="page__meta-text">{{ training.public_type }}</p>
        {% endcomment %}
        <div class="page__meta-title page__meta-title--small">{% trans "Level" %}</div>
        <p class="page__meta-text">{{ training.level }}</p>
    {% endif %}
{% endwith %}

{% if event.brochure %}
        <div class="page__meta-title page__meta-title--small">{% trans "Downloads" %}</div>
        <p class="page__meta-text">
            <a href='{{ event.brochure.url }}' target="_blank">
                {{ event.brochure.filename }}
            </a>
        </p>
{% endif %}

{% if unit_booking %}
    {% if event.prices.all %}
        {% if event.prices.all.0|floatformat != '0' %}
            {% for price in event.prices.all %}
                {% if forloop.first %}
                    <div class="page__meta-title page__meta-title--small">{% trans "Prices" %}</div>
                    <p class="page__meta-text">
                {% endif %}
                {% if price.event_price_description.description %}
                    {{ price.event_price_description.description }} :
                {% endif %}
                {{ price.value|floatformat:"-2" }} {{ price.unit }} {% if not forloop.last %} <br /> {% endif %}
                {% if forloop.last %}
                    </p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>
                {{ event.no_price_comments }}
            </p>
        {% endif %}
        <p>
            {% if event.trainings.all|length %}
                {% with event.links.all as links %}
                    {% if links %}
                        <a class="button button--block" href="{{ links|get_type_link:'link'|first }}" class="event__meta__btn">
                            {% trans "Reserve" %}
                        </a>
                    {% endif %}
                {% endwith %}
            {% else %}
                <a class="button button--block" href="{% url 'event_booking' event.slug %}" class="event__meta__btn">
                    {% trans "Reserve" %}
                </a>
            {% endif %}
        </p>
    {% endif %}
{% endif %}
