{% load mezzanine_tags %}
<div class="page__slider">
    <ul class="slider-page" data-slider-page>
        {% for video in videos %}
            <li class="slider-page__slide">
                <div class="slider-page__wrapper">
                    <div class="slider-page__video">
                        <video controls class="video-js vjs-ircam-skin" data-setup='{"aspectRatio":"905:520"}' {% if video.poster_url %}poster="{{ video.poster_url }}"{% endif %}>
                            <source src="{{ video.closed_source_url }}" type="{{ video.closed_source_mime_type }}">
                            <source src="{{ video.open_source_url }}" type="{{ video.open_source_mime_type }}">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="slider-page__caption">
                        {{ video.title }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
