// ****************************************************************
// _Layout
// ****************************************************************

.container {
    @extend .clearfix;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;

    @media (min-width : $desktop) {
        max-width: 960px;
    }
    @media (min-width : $desktop_large) {
        max-width: 1140px;
    }
    @media (min-width : $desktop_xlarge) {
        max-width: 1420px;
    }
}

.row {
    @extend .clearfix;
    display: block;
}

.main {
  display: block;
  margin: 0 auto 3rem;
  // padding-top: 3rem;
  @media (min-width : $desktop ) {
    float: left;
    width: 70%;
    padding-right: 1rem;
  }
}

.aside {
  display: block;
  background: lighten($main_color, 10);
  padding: 1rem .5rem;
  margin: 0 0 3rem;
  color: white;
  @media (min-width : $desktop ) {
    float: left;
    width: 30%;
  }
}

.site__content__header {
  padding-top: 1rem;
}