// ****************************************************************
// _Layout
// ****************************************************************

.container {
    @extend .clearfix;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;

    @media (min-width : $desktop) {
        max-width: 960px;
    }
    @media (min-width : $desktop_large) {
        max-width: 1140px;
    }
    @media (min-width : $desktop_xlarge) {
        max-width: 1420px;
    }
}

.row {
    @extend .clearfix;
    display: block;
}

.main {
  display: block;
  margin: 0 auto 3rem;
  // padding-top: 3rem;
  @media (min-width : $desktop ) {
    float: left;
    width: 75%;
    padding-right: 1rem;
  }
}

.aside {
  display: block;
  background: lighten($main_color, 10);
  margin: 0 -1rem 0;
  color: white;
  padding: 1rem .5rem;
  border-bottom: 1px solid #fff;
  @media (min-width : $desktop ) {
    float: left;
    width: 25%;
    margin: 0 0 3rem;
    border-bottom: none;
    &.aside-home {
      margin-top: -2rem;
    }
  }
}

.site__content__header {
  padding-top: 3em;
  @media (min-width : $desktop ) {
      padding-top: 5rem;
  }
}

.site__content__header__inner {
  padding-right: 1rem;
  @media (min-width : $desktop ) {
      max-width: 70%;
  }
}

.last__media {
  @extend .clearfix;
  &__entry {
    display: block;
    @media (min-width : $tablet ) {
        float: left;
        width: 33.33333%;
        padding: 1rem .25rem;
    }
  }

  .artist__item,
  .video__card {
    float: none;
    width: 100%;
    padding: 0;
    // margin-bottom: 1rem;
    // margin-left: -.5rem;
    // margin-right: -.5rem;
  }
}
