{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block title %}
 {% trans "Artists" %}
{% endblock %}

{% block main %}
<div class="artist__list">
    <div class="artist__sizer"></div>
     {% for artist in object_list %}
        <div class="artist__item">
            <div class="artist__item__inner">
                <a href="{% url 'festival-artist-detail' artist.slug %}" class="artist__item__inner">
                    <img src="{% if artist.photo %}{{ MEDIA_URL }}/{{ artist.photo }}{% elif artist.photo_featured %}{{ MEDIA_URL }}/{{ artist.photo_featured }}{% else %}{% endif %}" alt="Portrait {{ artist.name }}">
                    <h3 class="artist__item__name">
                        <span>
                            {{ artist.name }}
                        </span>
                    </h3>
                </a>
            </div>
        </div>
     {% endfor %}
</div>
{% endblock %}
