{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block title %}
 {% trans "Artists" %}
{% endblock %}

{% block main %}
<div class="artist__list msry__container">
    <div class="msry__sizer"></div>
     {% for artist in object_list %}
        <div class="artist__item msry__item">
            <div class="artist__item__inner">
                <a href="{% url 'festival-artist-detail' artist.slug %}" class="artist__item__inner">
                    <figure class="artist__img">
                        <img src="{% if artist.photo_featured %}{{ MEDIA_URL }}/{{ artist.photo_featured }}{% elif artist.photo %}{{ MEDIA_URL }}/{{ artist.photo }}{% else %}{% endif %}" alt="Portrait {{ artist.name }}">
                        <figcaption class="artist__img__copyright">
                           {{ artist.photo_credits }}
                        </figcaption>
                    </figure>
                    <h3 class="artist__item__name">
                        <span>
                            {{ artist.name }}
                        </span>
                    </h3>
                </a>
            </div>
        </div>
     {% endfor %}
</div>
{% endblock %}
