{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block title %}
{{ artist.name }}
{% endblock %}

{% block main %}
<div class="artist__detail">
    <p>
    {% if artist.photo %}
    <figure class="artist__img">
        <img class="artist__portrait{% if artist.photo_alignment == 'left' %}--left{% elif artist.photo_alignment == 'right' %}--right{% else %}--center{% endif %}" src="{{ MEDIA_URL }}/{% if artist.photo_featured %}{{ artist.photo_featured }}{% else %}{{ artist.photo }}{% endif %}" />
        <figcaption class="artist__img__copyright">
           {{ artist.photo_credits }}
        </figcaption>
    </figure>
    {% endif %}
    {{ artist.bio|safe }}
    <br style="clear: both;" />
    </p>
</div>

<h2 class="page__related__title--inverse">{% trans "Related events" %}</h2> <br>
{% for event in artist.events.all %}
 {% include 'agenda/includes/event_card.html' %}
{% endfor %}

{% endblock %}
