{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block main %}

{% block title %}
 {% trans "Artists" %}
{% endblock %}

<div class="artist-list">
 <ul>
 {% for artist in object_list %}
    <li><a href="{% url 'festival-artist-detail' artist.slug %}"><img width="10%" src="{{ MEDIA_URL }}/{% if artist.photo %}{{ artist.photo }}{% elif artist.photo_featured %}{{ artist.photo_featured }}{% endif %}" />{{ artist.name }}</a></li>
 {% endfor %}
 </ul>
</div>

{% endblock %}
