{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block main %}

<div class="artist-name">
 <h1>{{ artist.name }}</h1>
</div>

<div class="artist-bio">
 <p>
  {% if artist.photo %}
   <img class="{% if artist.photo_alignment == 'left' %}image-left{% elif artist.photo_alignment == 'right' %}image-right{% else %}image-center{% endif %}" src="{{ MEDIA_URL }}/{{ artist.photo }}" />
  {% endif %}
  {{ artist.bio|safe }}
  <br style="clear: both;" />
 </p>
</div>

<div class="artist-events">
 <h2>{% trans 'Events' %}</h2>
  {% for event in artist.events.all %}
   {{ event.title }}
  {% endfor %}
</div>

{% endblock %}
