{% load i18n mezzanine_tags organization_tags %}
{% with page.get_absolute_url as page_url %}
    <h5>
        {% if page_url %}
            <a href="{{ page_url }}">{{ result }}</a>
        {% else %}
            {{ result }}
        {% endif %}
    </h5>
    {% if result.description != result|stringformat:"s" %}
        <p>{{ result.description|truncatewords_html:200|safe }}</p>
    {% endif %}
    {% if page_url %}
        <a href="{{ page_url }}">{% trans "read more" %}</a>
    {% endif %}
{% endwith %}
