$module: ".newsletter";

#{$module} {

    @include margin-bottom(2);

    @include mq($until: sm) {

        @include margin-top(2);

    }

    &__text {

        @include font-size(m);
        @include typeface(sans-serif);
        font-weight: weight(regular);

    }

    &__input {

        @include font-size(m);
        @include typeface(sans-serif);
        font-weight: weight(regular);

        width: 100%;
        outline: 0;
        background: transparent;
        border: 0;
        color: white;
        border-bottom: 1px solid white;

    }

    &__button {

        color: white;
        outline: 0;
        background: transparent;
        border: 0;
        position: absolute;
        top: 0px;
        right: 7px;
        @include font-size(l);

    }

}
