{% load i18n pages_tags staticfiles mezzanine_tags organization_tags %}
{% get_language_info_list for LANGUAGES as languages %}

{% spaceless %}
{% if page_branch_in_menu %}
    {% for page in page_branch %}
        {% if page.is_primary %}
            {% if forloop.first %}
                <ul class="nav-header" role="navigation">
                    <li class="nav-header__item menu-btn">
                        <span class="first"></span>
                        <span class="second"></span>
                    </li>
                    <li class="nav-header__item nav-header__item--image-big">
                        <a href="{% url "home" %}" title="{% trans 'Home' %}">
                          {% with host_organization.images|get_type:"logo_header" as images %}
                            {% if images %}
                             {% with images|first as img %}
                              <img src="{{ MEDIA_URL }}{{ img }}" title="{{ img.title }}" width="162" height="106" />
                             {% endwith %}
                            {% endif %}
                          {% endwith %}
                        </a>
                    </li>
            {% endif %}
        {% endif %}
        {% if page.in_menu %}
            {% if page.content_model == "link" %}
                {% with page.link.link_images.all|first as link_image %}
                    {% if link_image %}
                        <li class="nav-header__item nav-header__item--image">
                            <a href="{{ page.get_absolute_url }}"{% if 'http' in page.link.slug %} target="_blank"{% endif %} title="{{ page.title }}"><img width="83" height="65" src="{{ MEDIA_URL }}{% thumbnail link_image.image 166 130 %}" /></a>
                        </li>
                    {% else %}
                        <li class="nav-header__item">
                            <a class="nav-header__item-link{% if page.is_current_or_ascendant %} active{% endif %}" href="{{ page.get_absolute_url }}"{% if 'http' in page.link.slug %} target="_blank"{% endif %} title="{{ page.title }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                {% endwith %}
            {% else %}
                <li class="nav-header__item">
                    <a class="nav-header__item-link{% if page.is_current_or_ascendant %} active{% endif %}" href="{{ page.get_absolute_url }}" title="{{ page.title }}">{{ page.title }}</a>
                    {% if page.has_children_in_menu %}
                        {% page_menu page "pages/menus/header_tree_primary.html" %}
                    {% endif %}
                </li>
            {% endif %}
        {% endif %}
        {% if page.is_primary %}
            {% if forloop.last %}

                <li class="nav-header__item nav-header__item--right nav-header__item--separator">
                    {% include "includes/languages.html" %}
                </li>
                <li class="nav-header__item nav-header__item--centered nav-header__item--right nav-header__item--no-separator">
                    <a href="#" class="fsxl" data-open-button="search" data-search-button><i class="fa fa-search" aria-hidden="true"></i></a>
                </li>

            </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endspaceless %}
