{% load i18n event_tags %}
{% all_events as events %}
<h2 class="sidebar__title">{% trans "Festival calendar" %}</h2>

<ul class="calendar">
    <li class="calendar__month">
        {# <div class="calendar__month__title">Juin / Juillet</div> #}
        <div class="calendar__day calendar__day-name">
            <div class="calendar__day-inner"><span>L</span></div>
        </div>
        <div class="calendar__day calendar__day-name">
            <div class="calendar__day-inner"><span>M</span></div>
        </div>
        <div class="calendar__day calendar__day-name">
            <div class="calendar__day-inner"><span>M</span></div>
        </div>
        <div class="calendar__day calendar__day-name">
            <div class="calendar__day-inner"><span>J</span></div>
        </div>
        <div class="calendar__day calendar__day-name">
            <div class="calendar__day-inner"><span>V</span></div>
        </div>
        <div class="calendar__day calendar__day-name">
            <div class="calendar__day-inner"><span>S</span></div>
        </div>
        <div class="calendar__day calendar__day-name">
            <div class="calendar__day-inner"><span>D</span></div>
        </div>
        <div class="calendar__day calendar__day-off">
            <div class="calendar__day-inner"></div>
        </div>
        <div class="calendar__day calendar__day-off">
            <div class="calendar__day-inner"></div>
        </div>
        <div class="calendar__day calendar__day-off">
            <div class="calendar__day-inner"></div>
        </div>

        {% all_days as days %}
         {% for day in days %}
          {% if day|events_in_day %}
              <div class="calendar__day calendar__day-active">
                  <div class="calendar__day-inner">
                      <span> <a href="{% url 'event_list_day' day.year day.month day.day %}">{{ day.day }}</a> </span>
                  </div>
              </div>
          {% else %}
              <div class="calendar__day">
                  <div class="calendar__day-inner"><span>{{ day.day }}</span></div>
              </div>
          {% endif %}
        {% endfor %}

        <div class="calendar__day calendar__day-off">
            <div class="calendar__day-inner"></div>
        </div>
    </li>
</ul>
