{% load mezzanine_tags staticfiles keyword_tags i18n organization_tags pages_tags %}

<a class="residency-box" href="{{ object.get_absolute_url }}" {% block target %}{% endblock %} title="{{ object.project.title }} X {{ object.artist.first_name }} {{ object.artist.last_name }}">

    {% with object.project.public_data.all|first as public_data %}
        {% comment %}
        {% if public_data.image %}
            <figure class="list_image">
                {% if public_data.all.0.image_is_panoramic %}
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ MEDIA_URL }}{% thumbnail object.public_data.all.0.image 427 0 padding=true %}" class="lazyload" />
                {% else %}
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ MEDIA_URL }}{% thumbnail object.public_data.all.0.image 0 286 padding=true %}" class="lazyload" />
                {% endif %}
                </figure>
        {% endif %}
        {% endcomment %}

        <div class="residency-box__label_overlay">
            <div class="residency-box__label_overlay_title">
                <!-- {{ object.project.title }} -->
                Proyect 1
            </div>
            <br>
            <div class="residency-box__label_overlay_body">
                <!-- {{ object.project.description }} -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis finibus ligula.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Phasellus molestie arcu vitae efficitur eleifend.
            </div>
        </div>

        {% if public_data.image %}
            <div>
            {% if public_data.image_is_panoramic %}}
                <div style="background-image: url({{ MEDIA_URL }}{% thumbnail public_data.image 0 400 padding=true %})" class="residency-box__background residency-box__background-margin">
                </div>
            {% else %}
                <div style="background-image: url({{ MEDIA_URL }}{% thumbnail public_data.image 0 400 padding=true %})" class="residency-box__background residency-box__background-margin">
                </div>
            {% endif %}
        {% else %}
            <div class="residency-box__background">
        {% endif %}

            <div class="residency-box__title">
                <!-- {{ object.project.title }} -->
                Project 1<br>
                X<br>
                {{ object.artist.first_name }} {{ object.artist.last_name }}<br>
            </div>
        </div>
    {% endwith %}

    <!-- this div tag breaks the layout -->
    <!-- </div> -->

    {% comment %}
    <div class="residency-box__content">
        <div class="residency-box__title">
            {{ object.project.title }}<br>
            X<br>
            {{ object.artist.first_name }} {{ object.artist.last_name }}<br>
        </div>
        <div class="residency-box__tags">
            {% block tags %}
            {% endblock %}
        </div>
        <div class="residency-box__subtitle">
            {{ object.sub_title }}
        </div>
        <div class="residency-box__desc">
            {{ object.public_data.all.0.brief_description|richtext_filters|safe|truncatechars_html:200 }}
        </div>
    </div>
    {% endcomment %}
</a>

