{% extends "core/inc/generic_card.html" %}
{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

{% block metatitle %}
    {{ object.title }}
{% endblock %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block url %}
    {{ object.get_absolute_url }}
{% endblock %}
{% block image %}
    {% with object.images.all|get_type:'card' as images %}
        {% if images %}
            <figure class="article-box__image">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ MEDIA_URL }}{% thumbnail images.0.file 427 286 top=0.5 left=article.photo_alignment|get_photo_alignment %}" class="lazyload" />
            </figure>
        {% else %}
            <figure class="article-box__image">
                {% with object.get_ascendants|last as top_level_parent %}
                    {% if top_level_parent.get_content_model %}
                        <div class="article-box__placeholder {{top_level_parent.get_content_model|slugify}}"></div>
                    {% else %}
                        <div class="article-box__placeholder"></div>
                    {% endif %}
                {% endwith %}
            </figure>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    {{ object.description|richtext_filters|safe|truncatechars_html:200 }}
{% endblock %}

{% block subtitle %}
    {{ object.sub_title }}
{% endblock %}
