
$module: ".event-line-detail-box";

#{$module} {

    position: relative;
    display: block;
    border: none;

    background-color : transparent;

    &__back-link {

        font-size: 18px;
        border: none;
        position: absolute;
        top: 76%;
        @include typeface(sans-serif);
        text-align:left;
        color: white;
        margin-left: 10px;
        z-index: 3;
    }

    &__container-back-link {

        width:100%;
        text-align:left;
    }

    &__arrow-align {

        display: inline-block;
        font-size:30px;
    }


}