{% extends "pages/page.html" %}
{% load i18n mezzanine_tags keyword_tags pages_tags organization_tags %}

{% block page_class %}
    department
{% endblock %}

{% block body_class %}
    pattern pattern-bg {{ page.departmentpage.weaving_css_class }}
{% endblock %}

{% block page_title %}

    {% editable page.departmentpage.sub_title %}
        <h1 class="dashed">{{ page.departmentpage.sub_title }}</h1>
    {% endeditable %}

{% endblock %}

{% block page_content %}
    <!--{% if page.departmentpage.sub_title %}
        {% editable page.departmentpage.sub_title %}
            <div class="chapo">
                {{ page.departmentpage.sub_title }}
            </div>
        {% endeditable %}
    {% endif %}-->
    {{ linked_organization_content.all }}
    {% if linked_organization_content and research_slug == page.departmentpage.slug %}
        {% include 'pages/page/includes/linked_organization_content.html' %}
    {% endif %}

    {% if page.departmentpage.content %}
     {% editable page.departmentpage.content %}
        {{ page.departmentpage.content|richtext_filters|safe }}
     {% endeditable %}
    {% endif %}

{% endblock %}

{% block page_audio %}
  {% with page as object %}
      {{ block.super }}
  {% endwith %}
{% endblock %}

{% block page_slider %}
    {% with page as object %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block page_video %}
  {% with page as object %}
      {{ block.super }}
  {% endwith %}
{% endblock %}

{% block page_sub_content %}
    {% with page.blocks.all as blocks %}
      {% include "core/inc/block.html" %}
    {% endwith %}
{% endblock %}
