{% load staticfiles %}

<div class="audio__block">
    {% for audio in playlist.audios.all %}
    {% if forloop.first %}
    <div class="audio__player">
        <audio id="audio" preload="auto" tabindex="0" controls="">
            <source id="primarysrc" src="{{ audio.closed_source_url }}">
            <source id="secondarysrc" src="{{ audio.open_source_url }}">
        </audio>
        <span class="audio__title">
            {{ audio.title }}
        </span>
    </div>
    <ul id="playlist" class="audio__playlist">
    {% endif %}
        <li>
            <a href="{{ audio.closed_source_url }}" class="audio__playlist__item" data-altsrc="{{ audio.open_source_url }}">
                {{ audio.title }}
            </a>
        </li>
    {% endfor %}
    {% if forloop.first %}
    </ul>
    {% endif %}
</div>
