$module: ".button";

#{$module} {

    border: 0;
    outline: 0;
    background: none;

    @include font-size(l);
    @include line-height(1);
    @include typeface(sans-serif);
    @include padding(.25 1);
    @include margin(0);
    font-weight: weight(light);

    background: $color-main;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    @include transition(all 0.25s ease-in-out);

    &:hover {
        background: black;
        color: $color-main;
        a {
            color: $color-main;
        }
    }

    &--black {

        background-color: $color-black;
        color: white;

        &:hover {
            background-color: $color-main;
            color: $color-black;
        }

    }

    &--small {
        @include font-size(m);
        @include padding(.18 1);
    }

    &--xsmall {
        @include font-size(s);
        @include padding(.125 0.5);
    }

    &--block {
        display: block;
        text-align: center;

        @include margin(0 0 1 0);
    }

}
