{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}
{% if home.dynamiccontenthomeslider_set.all|length > 0 %}
    <div class="container">
        <div class="row">
            <div class="col-sm-16">
                <div class="slider-home">
                    <ul data-slider-home>
                        {% for slider in home.dynamiccontenthomeslider_set.all %}
                                {% with slider.content_object.images.all|get_type:'slider' as images %}
                                    {% if images %}
                                        {% if slider.content_type.model == 'event' %}
                                            <li class="slider-home__slide">
                                                {% with event=slider.content_object %}
                                                    {% include 'agenda/includes/event_linecard.html' %}
                                                {% endwith %}
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}
