
.override_footer {
    background: #50E3C2;
}

.override_background::before {
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.8)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff', endColorstr='#00ffffff', GradientType=0);
}

.override_background {
    background: -moz-radial-gradient(46.52% 44.18%, ellipse farthest-corner, #ebe8d3 1.84%, #e7e8d3 25.15%, #dfe8d3 46.63%, #b4ccba 77.3%, #acc6b4 81.78%, #96b7a3 88.73%, #7fa691 94.48%, #6b9691 100%);
    background: -webkit-radial-gradient(46.52% 44.18%, ellipse farthest-corner, #ebe8d3 1.84%, #e7e8d3 25.15%, #dfe8d3 46.63%, #b4ccba 77.3%, #acc6b4 81.78%, #96b7a3 88.73%, #7fa691 94.48%, #6b9691 100%);
    background: -o-radial-gradient(46.52% 44.18%, ellipse farthest-corner, #ebe8d3 1.84%, #e7e8d3 25.15%, #dfe8d3 46.63%, #b4ccba 77.3%, #acc6b4 81.78%, #96b7a3 88.73%, #7fa691 94.48%, #6b9691 100%);
    background: -ms-radial-gradient(46.52% 44.18%, ellipse farthest-corner, #ebe8d3 1.84%, #e7e8d3 25.15%, #dfe8d3 46.63%, #b4ccba 77.3%, #acc6b4 81.78%, #96b7a3 88.73%, #7fa691 94.48%, #6b9691 100%);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
    background: radial-gradient(46.52% 44.18%, ellipse farthest-corner, #ebe8d3 1.84%, #e7e8d3 25.15%, #dfe8d3 46.63%, #b4ccba 77.3%, #acc6b4 81.78%, #96b7a3 88.73%, #7fa691 94.48%, #6b9691 100%);
    filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

p, h1, h2, h3, ul, li, a {
    color: #000000;
}

main p a:not(.button):not(.wys-button):not(.wys-button-small):not(.wys-button-xsmall):not(.wys-button-black):not(.wys-button-black-small):not(.wys-button-black-xsmall):not(.wys-button-white):not(.wys-button-white-small):not(.wys-button-white-xsmall):not(.brief-box__button), main td a:not(.button):not(.wys-button):not(.wys-button-small):not(.wys-button-xsmall):not(.wys-button-black):not(.wys-button-black-small):not(.wys-button-black-xsmall):not(.wys-button-white):not(.wys-button-white-small):not(.wys-button-white-xsmall):not(.brief-box__button), main ul.unstyled-list a:not(.button):not(.wys-button):not(.wys-button-small):not(.wys-button-xsmall):not(.wys-button-black):not(.wys-button-black-small):not(.wys-button-black-xsmall):not(.wys-button-white):not(.wys-button-white-small):not(.wys-button-white-xsmall):not(.brief-box__button), main ul:not([class]) a:not(.button):not(.wys-button):not(.wys-button-small):not(.wys-button-xsmall):not(.wys-button-black):not(.wys-button-black-small):not(.wys-button-black-xsmall):not(.wys-button-white):not(.wys-button-white-small):not(.wys-button-white-xsmall):not(.brief-box__button) {
    color: #097E85;
}

.section-title {
    color: #097E85;
}
