<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags festival_tags %}
{% get_language_info_list for LANGUAGES as languages %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

{# <body id="{% block body_id %}body{% endblock %}"> #}
<body id="{% block body_id %}body{% endblock %}">

    <div class="banner" role="banner">
        <div class="header">
            <div class="container">
                {% if settings.SITE_TITLE %}
                <h1>
                    <a class="header__logo" href="/">
                        <span class="header__logo__text">{{ settings.SITE_TITLE }}</span>
                        <img class="header__logo__img" src="{% static "img/logo_manifeste16_black.png" %}" alt="Logo Manifeste 2016 ircam" width="200">
                    </a>
                </h1>
                    <div class="header__logo--right">
                        <a href="http://www.ircam.fr" title="Url site ircam">
                            <img class="header__logo__img" src="{% static "img/logo_ircam_black.png" %}" alt="Logo Manifeste 2016 ircam" width="200">
                        </a>
                    </div>
                {% endif %}

                <button class="menu__toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                {% if settings.SITE_TAGLINE %}
                <p class="header__baseline">{{ settings.SITE_TAGLINE }}</p>
                {% endif %}

            </div>
        </div>

        <div class="navigation" role="navigation">
            {% page_menu "pages/menus/dropdown.html" %}
        </div>

        <div class="nav__complementary">
            <div class="container">
                <ul class="nav__complementary__list">
                    <li class="nav__complementary__item--facebook">
                        <a href="https://www.facebook.com/iIRCAM" class="btn-icon--facebook" target="_blank">
                            <i class="icon icon__facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav__complementary__item--twitter">
                        <a href="https://twitter.com/ircam" class="btn-icon--twitter" target="_blank">
                            <i class="icon icon__twitter"></i>
                        </a>
                    </li>
                    {% if settings.USE_MODELTRANSLATION and languages|length > 1 %}
                        {% for language in languages %}
                            <li class="nav__complementary__item__lang {% if language.code == LANGUAGE_CODE %}is-active{% endif %}">
                                <a href="#" onclick="$('#language_selector_select').val('{{ language.code }}'); $('#language_selector_form').submit();">
                                  {{ language.code|title }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% if on_home %}
    <div class="hero__slider">
        <ul id="lightSlider">
            {% festival_event_featured as events %}
            {% for event in events %}
              <li class="hero__slider__item" style="background-image: url({{ event.featured_image_header.url }});">
                  <div class="hero__slider__infos">
                    <div class="container">
                      <p class="hero__slider__name">
                          <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                      </p>
                      {% include "agenda/includes/event_metainfo_slider.html" %}
                    </div>
                  </div>
              </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% nevercache %}
    {% if messages %}
        {% for message in messages %}
        <div class="notification" id="js-notificationContainer">
            <button type="button" class="btn btn-small js-notificationClose">X</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endnevercache %}

    {% comment %}
    <ul class="breadcrumb">
    {% spaceless %}
    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
    {% endspaceless %}
    </ul>
    {% endcomment %}

    <div class="site__content">
        {% if on_home %}
            <div class="container">
                <div class="bk__news">
                    <div class="media bk__news__inner">
                        <div class="media-img">
                            <span class="bk__news__title">
                                Dernière <br> minute !
                            </span>
                        </div>
                        <div class="media-content bk__news__content">
                            <p>
                                <strong>Partagez, twittez, commentez, publiez vos photos…</strong> <br>
                                et réservez dès maintenant vos places ou abonnements pour bénéficier de tarifs privilégiés.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}

        <div class="container">
            <div class="site__content__header">
                <div class="site__content__header__inner">
                    <h2 class="page__title">{% block title %}{% endblock %}</h2>
                </div>
            </div>
            <main class="main" role="main">
                {% block main %}{% endblock %}
            </main>

            <aside class="aside">
                <div class="search__form">
                    {% search_form "all" %}
                </div>

                <div>
                    <a href="/media/uploads/doc/MANIFESTE-2016-AGENDA.pdf" class="btn btn-full btn-inverse">Télécharger le programme</a>
                </div>
                <div>
                    <a href="/newsletter/" class="btn btn-full btn-inverse">Inscription newsletter</a>
                </div>

                {% nevercache %}
                {% include "includes/language_selector.html" %}
                {% include "includes/user_panel.html" %}
                {% endnevercache %}
                <div class="panel panel-default">
                    <div class="panel-body">
                    {% block right_panel %}
                    {% ifinstalled mezzanine.twitter %}
                    {% include "twitter/tweets.html" %}
                    {% endifinstalled %}
                    {% endblock %}
                    </div>
                </div>
                {% include "includes/calendar.html" %}
                {% include "includes/instafeed.html" %}
            </aside>
        </div>
    </div>

    <footer class="footer" role="footer">
        <div class="container">
            <div class="footer-logo">
                <img src="{% static "img/logo_manifeste16_black.png" %}" alt="Logo Manifeste 2016 ircam" width="80">
            </div>
            {% page_menu "pages/menus/footer.html" %}

            <ul class="footer-partners list-inline">
                <li>
                    <a href="http://www.culturecommunication.gouv.fr/" target="_blank">
                        <img src="{% static "img/logo_mmc.png" %}" alt="Logo Ministere Culture et Communication">
                    </a>
                </li>
                <li>
                    <a href="http://www.cnrs.fr/" target="_blank">
                        <img src="{% static "img/logo_cnrs.png" %}" alt="Logo CNRS">
                    </a>
                </li>
                <li>
                    <a href="http://www.upmc.fr/" target="_blank">
                        <img src="{% static "img/logo_upmc.png" %}" alt="Logo UPMC">
                    </a>
                </li>
                <li>
                    <a href="http://www.inria.fr/" target="_blank">
                        <img src="{% static "img/logo_inra.png" %}" alt="Logo Inria">
                    </a>
                </li>
            </ul>

            <div class="footer-legals">
                <p>
                    {# {% trans "Powered by" %} #}
                    Conception & réalisation : <br><br>
                    <a href="http://www.philippebarbosa.com" target="_blank" titre="Développeur front-end freelance & photographe professionnel à Paris">
                        <img src="http://www.philippebarbosa.com/wp-content/uploads/2015/07/logo.png" alt="" width="30" height="30" style="vertical-align:middle;margin-right: 0.4rem;">
                        Philippe Barbosa
                    </a>
                </p>
            </div>
        </div>
    </footer>
    {% include "includes/footer_scripts.html" %}
</body>
</html>
