<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles keyword_tags %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

    <div class="header" role="banner">
        <div class="container">
            <div class="navbar-header">

                <button class="menu__toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
                {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
            </div>

            <div class="navbar-collapse collapse">
                {% page_menu "pages/menus/dropdown.html" %}
            </div>
        </div>
    </div>

    <div class="div-message">
        {% nevercache %}
        {% if messages %}
        <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endnevercache %}

        <h1>{% block title %}{% endblock %}</h1>

        {% comment - Remove breadcrumbs %}
        <ul class="breadcrumb">
        {% spaceless %}
        {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
        {% endspaceless %}
        </ul>
        {% endcomment %}
    </div>

    <div class="site__content">
        <div class="container">
            <main class="main" role="main">
                {% block main %}{% endblock %}
            </main>

            <aside class="aside">
                <div class="search__form">
                    {% search_form "all" %}
                </div>
                {% nevercache %}
                {% include "includes/language_selector.html" %}
                {% include "includes/user_panel.html" %}
                {% endnevercache %}
                <div class="panel panel-default">
                <div class="panel-body">
                {% block right_panel %}
                {% ifinstalled mezzanine.twitter %}
                {% include "twitter/tweets.html" %}
                {% endifinstalled %}
                {% endblock %}
                </div>
                </div>
            </aside>
        </div>
    </div>

    <footer>
        <div class="container">
        {% page_menu "pages/menus/footer.html" %}
            <div class="row">
                <p class="site-info text-center">
                    {% trans "Powered by" %}
                    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
                    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
                    {% trans "and" %}
                    <a href="http://www.djangoproject.com">Django</a>
                    <span class="separator">|</span>
                    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
                    {% ifinstalled mezzanine.mobile %}
                    <span class="separator">|</span>
                    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
                    {% endifinstalled %}
                </p>
            </div>
        </div>
    </footer>

    {% include "includes/footer_scripts.html" %}
</body>
</html>
