<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles keyword_tags %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

{# <body id="{% block body_id %}body{% endblock %}"> #}
<body id="{% block body_id %}body{% endblock %}">

    <div class="banner" role="banner">
        <div class="header">
            <div class="container">
                {% if settings.SITE_TITLE %}
                <h1>
                    <a class="header__logo" href="/">
                        <span class="header__logo__text">{{ settings.SITE_TITLE }}</span>
                        <img class="header__logo__img" src="{% static "img/logo_manifeste16_black.png" %}" alt="Logo Manifeste 2016 ircam" width="200">
                    </a>
                </h1>
                    <div class="header__logo--right">
                        <a href="http://www.ircam.fr" title="Url site ircam">
                            <img class="header__logo__img" src="{% static "img/logo_ircam_black.png" %}" alt="Logo Manifeste 2016 ircam" width="200">
                        </a>
                    </div>
                {% endif %}

                <button class="menu__toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                {% if settings.SITE_TAGLINE %}
                <p class="header__baseline">{{ settings.SITE_TAGLINE }}</p>
                {% endif %}

            </div>
        </div>

        <div class="navigation" role="navigation">
            {% page_menu "pages/menus/dropdown.html" %}
        </div>
    </div>

    {% if on_home %}
    <div class="hero__slider">
        <ul id="lightSlider">
          <li class="hero__slider__item" style="background-image: url(https://source.unsplash.com/IaA_5KNVAR4/1920x500);">
              <div class="container">
                  <button>Content here !</button>
              </div>
          </li>
          <li class="hero__slider__item" style="background-image: url(https://source.unsplash.com/OUgLA2unwtg/1920x500);">
                <div class="container">
                    <button>Another content here !</button>
                </div>
          </li>
        </ul>
    </div>
    {% endif %}

    <div class="site__content__header">
        <div class="container">
            {% nevercache %}
            {% if messages %}
            <div class="messages">
            {% for message in messages %}
            <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            </div>
            {% endif %}
            {% endnevercache %}

            {% comment %}
            <ul class="breadcrumb">
            {% spaceless %}
            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
            {% endspaceless %}
            </ul>
            {% endcomment %}
        </div>
    </div>

    <div class="site__content">
        <div class="container">
            <div class="site__content__header">
                <h2 class="page__title">{% block title %}{% endblock %}</h2>
            </div>
            <main class="main" role="main">
                {% block main %}{% endblock %}
            </main>

            <aside class="aside">
                <div class="search__form">
                    {% search_form "all" %}
                </div>
                {% nevercache %}
                {% include "includes/language_selector.html" %}
                {% include "includes/user_panel.html" %}
                {% endnevercache %}
                <div class="panel panel-default">
                <div class="panel-body">
                {% block right_panel %}
                {% ifinstalled mezzanine.twitter %}
                {% include "twitter/tweets.html" %}
                {% endifinstalled %}
                {% endblock %}
                </div>
                </div>
            </aside>
        </div>
    </div>

    <footer class="footer" role="footer">
        <div class="container">
            <div class="footer-logo">
                <img src="{% static "img/logo_manifeste16_black.png" %}" alt="Logo Manifeste 2016 ircam" width="80">
            </div>
            {% page_menu "pages/menus/footer.html" %}
            <div class="footer-legals">
                <p>
                    {# {% trans "Powered by" %} #}
                    Conception & réalisation :
                    <a href="http://www.philippebarbosa.com" target="_blank" titre="Développeur front-end freelance & photographe professionnel à Paris">Philippe Barbosa</a>
                </p>
            </div>
        </div>
    </footer>
    {% include "includes/footer_scripts.html" %}
</body>
</html>
