{% extends "base.html" %}
{% load i18n festival_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}


{% featured_edito as edito %}
{{ edito.content|safe|slice:":512" }}...
<br>
<a href="{% url 'page' edito.slug %}">{% trans "Read more" %}</a>
<br>

<div class="last__media">
    <h2 class="page__related__title--inverse">{% trans "Last medias" %}</h2> <br>

    <div class="last__media__entry">
        {% featured_posts as post %}
        <h3>{% trans "Article" %}</h3>
        {% include 'blog/includes/post_card.html' %}
        <a href="{% url 'blog_post_list' %}" class="btn btn-full">{% trans "All" %} {% trans "articles" %}</a>
    </div>

    <div class="last__media__entry">
        {% featured_artist as artist %}
        <h3>{% trans "Artist" %}</h3>
        {% include "festival/inc/artist_card.html" %}
        <a href="{% url 'festival-artist-list' %}" class="btn btn-full">{% trans "All" %} {% trans "artists" %}</a>
    </div>

    <div class="last__media__entry">
        {% featured_video as video %}
        <h3>{% trans "Video" %}</h3>
        {% include 'festival/inc/video_card.html' %}
        <a href="{% url 'festival-video-list' %}" class="btn btn-full">{% trans "All" %} {% trans "videos" %}</a>
    </div>
</div>

{% featured_playlist as playlist %}
<h2 class="page__related__title--inverse">{% trans "Playlist" %}</h2>
{% include 'festival/inc/audio_playlist.html' %}

{% endblock %}
