{% extends "base.html" %}
{% load i18n featured_tags pages_tags mezzanine_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block content_header %}{% endblock %}

{% block main %}
{% page_menu "pages/menus/magazine.html" %}

<ul>
  <li><a href="#" title="{% trans "News Headlines" %}">{% trans "News Headlines" %}</a></li>
  <li><a href="#" title="{% trans "Magazine" %}">{% trans "Magazine" %}</a></li>
  <li><a href="#" title="{% trans "Brief" %}">{% trans "Brief" %}</a></li>
  <li><a href="#" title="{% trans "Media" %}">{% trans "Media" %}</a></li>
</ul>

<div class="last__media">
    <div class="msry__container">
        <div class="msry__sizer"></div>
        {% featured as featured_list %}
        {% for item in featured_list %}
        <div class="last__media__entry  msry__item">
            {% if item|get_class == 'Brief' %}
                {% with item as brief %}
                    {% include 'magazine/brief/brief_detail.html' %}
                {% endwith %}
            {% elif item|get_class == 'Article' %}
                {% with item as article %}
                    {% include "magazine/article/includes/article_card.html" %}
                {% endwith %}
            {% elif item|get_class == 'Video' %}
                {% with item as video %}
                    {% include 'festival/inc/video_card.html' %}
                    <a href="{% url 'festival-video-list' %}" class="btn btn-full">{% trans "More" %} {% trans "videos" %}</a>
                {% endwith %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
