{% extends "vertigo_starts_eu/pages/page_account_operations.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}
	{% trans "Login" %}
{% endblock %}

{% block page_title %}
	<h1>{% trans "Login" %}</h1>
{% endblock %}

{% block page_content %}
{% errors_for form %}
<form class="account-form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    <fieldset>
    {% fields_for form %}
    <div class="form-actions" style="text-align:center">
        {% block account_form_actions %}
        <input class="btn btn-primary btn-lg" type="submit" value="{{ title }}" style="background:#1D1D1B;color:white">
        {% endblock %}
    </div>
    </fieldset>
</form>
{% endblock %}
